
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <form [formGroup]="searchForm">

  <mat-form-field class="search-box" >

    <span matPrefix>
        <mat-icon matSuffix style="cursor: pointer;">search</mat-icon>
    </span>
    <input class="search-box" formControlName="searchTerm" autocomplete="off" type="text" matInput>

    <button mat-button *ngIf="searchForm.get('searchTerm').value"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="searchForm.get('searchTerm').setValue('')">
    <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>

  </form>

  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="refresh-box">

    <button mat-mini-fab color="primary" aria-label="Map" (click)="hideMap = !hideMap">
      <mat-icon>map</mat-icon>
    </button>

    <button *ngIf="!autoRefresh" mat-mini-fab [color]="refreshColour" aria-label="Manual refresh" (click)="refreshRescues()">
      <mat-icon>refresh</mat-icon>
    </button>

    <mat-slide-toggle [disabled]="!notificationPermissionGranted"
    matTooltip="To enable auto refresh, please enable notifications in your browser."
    (change)="autoRefreshToggled()" [checked]="autoRefresh">Auto-update</mat-slide-toggle>

  </div>

</div>

<div [hidden]="!loading" style="height: 500px">
  <mat-spinner class="mat-spinner"></mat-spinner>
</div>



<outstanding-case-map (openEmergencyCase)="openCaseFromMap($event)" [hidden]="hideMap"></outstanding-case-map>

<div cdkDropListGroup [hidden]="!hideMap" style="padding-left: 15px">
    <div class="drag-drop-container" *ngFor="let lane of outstandingCases$ | async">

      <h2>{{lane.rescueStatusName}}</h2>

      <div >

        <div class="rescue-group-container" *ngFor="let rescuerGroup of lane.rescuerGroups">

        <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom: 15px;">
        <div fxFlex="none" class="avatar-circle" *ngIf="rescuerGroup.rescuer1Abbreviation">
          <span class="initials">{{rescuerGroup.rescuer1Abbreviation}}</span>
        </div>
        <div fxFlex="none" class="avatar-circle" *ngIf="rescuerGroup.rescuer2Abbreviation">
          <span class="initials">{{rescuerGroup.rescuer2Abbreviation}}</span>
        </div>
        </div>

        <div
        cdkDropList
        [cdkDropListData]="rescuerGroup.rescues"
        class="drag-drop-list"
        style="background-color: transparent;"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let outstandingCase of rescuerGroup.rescues;" cdkDrag>

        <mat-expansion-panel [expanded]="outstandingCase.searchCandidate == true" hideToggle>
          <mat-expansion-panel-header
          fxLayout="row"
          [@rescueMoved]="outstandingCase.moved ? 'moved' : 'still'"
          [ngClass]="{'search-candidate' : outstandingCase.searchCandidate == true}">

          <div fxFlex="15">

            <mat-icon aria-label="Open rescue edit"(click)="openRescueEdit(outstandingCase)" >departure_board</mat-icon>
          </div>

          <div fxFlex="25">
            <mat-icon aria-label="Print emergency record" (click)="printEmergencyCard(outstandingCase.emergencyCaseId)">print</mat-icon>
          </div>

            <div fxFlex style="text-align: center;">
              {{outstandingCase.emergencyNumber}}
              ({{outstandingCase.animalTypes}})
            </div>
              <div fxFlex="none"

              class ="dot" [ngClass]="{
                'dot-red' : outstandingCase.emergencyCodeId == 1,
                'dot-green' : outstandingCase.emergencyCodeId == 2,
                'dot-yellow' : outstandingCase.emergencyCodeId == 3}">
              </div>

              <div fxFlex="25">
                <mat-icon aria-label="Edit record" (click)="openCase(outstandingCase)">create</mat-icon>
              </div>

            </mat-expansion-panel-header>

          <div fxLayout="column" fxLayoutAlign="space-around start" >
            <div class="name">{{outstandingCase.callerName}}</div>

            <div fxLayout="row" fxLayoutAlign="start center" >
                <div class="telephone-dash-container">
                    <svg height="11" width="25">
                    <line x1="10" y1="11" x2="25" y2="11" class="telephone-dash" />
                    Sorry, your browser does not support inline SVG.
                    </svg>
                </div>

                <div class="telephone">{{outstandingCase.callerNumber}}</div>
            </div>

            <div class="CallDateTime">{{outstandingCase.callDateTime | date: "dd/MMM/yyyy HH:mm"}}</div>
            <div class="animal-location">{{outstandingCase.location}}</div>
        </div>

        </mat-expansion-panel>

        </div>
        </div>
      </div>
      </div>
    </div>
  </div>


