<div class="flex-row flex-wrap flex-space-between-center">
  <form [formGroup]="searchForm">
  <mat-spinner class="loader mat-spinner"  *ngIf="loading | async"></mat-spinner>

  <mat-form-field class="search-box" >

    <span matPrefix>
        <mat-icon matSuffix style="cursor: pointer;">search</mat-icon>
    </span>
    <input class="search-box" formControlName="searchTerm" (keydown.enter)="$event.preventDefault()" autocomplete="off" type="text" matInput>

    <button mat-button *ngIf="searchForm.get('searchTerm')?.value"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="searchForm.get('searchTerm')?.setValue('')">
    <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
  </form>

  <div class="filterChipWrapper flex-row flex-wrap gap-10 flex-center-center">

    <p *ngIf="casesFiltered" class="filterText">Filter:</p>
    
    <mat-chip-set #filterChips multiple >
      <div *ngFor="let options of caseFilter;">        
        <mat-chip *ngFor="let option of selectedChips.get(options.groupTitle)?.value"
            (removed)="removeFilter(options.groupTitle, option)">{{option}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>  
      </div>
    </mat-chip-set>      
  
  </div>

  <div class="refresh-box flex-row flex-wrap flex-space-between-center gap-5" #filterDiv>

    <button mat-mini-fab color="primary" *ngIf="!hideMap" [color]="showAmbulancePaths ? filterBtnColor : 'primary'"
    (click)="showAmbulancePaths = !showAmbulancePaths">
      <img #toogleButton src="assets/icons/ambulance_round.svg" class="mat-icon notranslate material-icons mat-icon-no-color" alt="Ambulance filter">
    </button>

    <button mat-mini-fab [color]="casesFiltered ? filterBtnColor : 'primary'" (click)="hideList = !hideList">
      <mat-icon #filterListToggleButton>filter_alt</mat-icon>
    </button>


    <button mat-mini-fab [color]="hideMap ? 'primary' : filterBtnColor" aria-label="Map" (click)="hideMap = !hideMap">
      <mat-icon>map</mat-icon>
    </button>

    <button *ngIf="!autoRefresh" mat-mini-fab [color]="refreshColour" aria-label="Manual refresh" (click)="refreshCases()" >
      <mat-icon>refresh</mat-icon>
    </button>

    <mat-slide-toggle [disabled]="!notificationPermissionGranted"
    matTooltip="To enable auto refresh, please enable notifications in your browser."
    (change)="autoRefreshToggled()" [checked]="autoRefresh">Auto-update</mat-slide-toggle>

  <!-- This is the card that shows the ambulance and lets you show their paths -->
  <div #toogleButtonDiv  class="filterWrapper" [hidden]="!showAmbulancePaths" style="position: relative;">

    <div class="filter-card">
      <div class="filter-header">
        Toggle ambulance paths
      </div>

      <div class="filter-content ambulance-list" *ngFor="let ambulance of (ambulanceLocations$ | async)"
      class="flex-row gap-50 flex-center-space-between">

        <img src="assets/icons/ambulance_van.png" class="ambulance-icon" alt="Ambulance filter">

          <div class="flex-column flex-center-center">

            <div *ngFor="let rescuer of ambulance.vehicleStaff; let i = index;">

              <div>
                Rescuer {{i + 1}}: {{rescuer.initials}}
              </div>

            </div>

            <div>
              <mat-slide-toggle (change)="toggleVehicleLocation($event, ambulance.vehicleDetails.vehicleId)">Show path</mat-slide-toggle>
            </div>
          </div>

      </div>
    </div>

  </div>


    <!--This is the card that has the filter details on it-->
    <!-- TODO CHIPS -->
  <form #chipsDiv class="filterWrapper" [hidden]="hideList" style="position: relative;" [formGroup]="selectedChips">

    <div class="filter-card" *ngFor="let options of caseFilter;">
      <div class="filter-header">
        {{options.showTitle}}
      </div>
      
      <div class="filter-content">

          <mat-chip-listbox #filterChips multiple [formControlName]="options.groupTitle" >
            <mat-chip-option *ngFor="let option of options.groupValues" [value]="option.value">{{option.value}}</mat-chip-option>  
          </mat-chip-listbox>

      </div>
    </div>

  </form>
</div>

</div>

<outstanding-case-map [hidden]="hideMap"></outstanding-case-map>

<div class="flex-row" [hidden]="!hideMap">
  <div class="swimlane">
    <h2  style="text-align: center;">Received</h2>
    <div *ngFor="let outstandingCase of receivedVehicleList$ | async">


      <app-outstanding-case-board-case-panel *ngIf="outstandingCase"
      [outstandingCase]="outstandingCase"
      ></app-outstanding-case-board-case-panel>

    </div>
  </div>
  <div style="flex: 1 1 auto;">
    <div class="ambulanceAssignedCases" *ngFor="let vehicleId of vehicleId$ | async">

        <outstanding-case-board-ambulance *ngIf="vehicleId"
          [vehicleId]="vehicleId"
          [filterKeysArray]="filterKeysArray"
          [searchChange$]="searchChange$"
        ></outstanding-case-board-ambulance>


    </div>
  </div>
</div>