<div cdkDropListGroup>
    <div class="drag-drop-container">
      <h2>Received</h2>

      <div
        cdkDropList
        [cdkDropListData]="received"
        class="drag-drop-list"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-drop-box" *ngFor="let case of received" cdkDrag>{{case}}</div>
      </div>
    </div>

    <div class="drag-drop-container">
      <h2>Assigned</h2>

      <div
        cdkDropList
        [cdkDropListData]="assigned"
        class="drag-drop-list"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-drop-box" *ngFor="let case of assigned" cdkDrag>{{case}}</div>
      </div>
    </div>

    <div class="drag-drop-container">
        <h2>Arrived</h2>

        <div
          cdkDropList
          [cdkDropListData]="arrived"
          class="drag-drop-list"
          (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let case of arrived" cdkDrag>{{case}}</div>
        </div>
      </div>

      <div class="drag-drop-container">
        <h2>Rescued</h2>

        <div
          cdkDropList
          [cdkDropListData]="rescued"
          class="drag-drop-list"
          (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let case of rescued" cdkDrag>{{case}}</div>
        </div>
      </div>

      <div class="drag-drop-container">
        <h2>Admitted</h2>

        <div
          cdkDropList
          [cdkDropListData]="admitted"
          class="drag-drop-list"
          (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let case of admitted" cdkDrag>{{case}}</div>
        </div>
      </div>
  </div>
