<div [formGroup]="period">

  <div class="flex-column flex-center-center"
  *ngIf="period.get('startDate')?.value
  && period.get('endDate')?.value
  && (period.get('editable')?.value === true)
  && period.get('startDate')?.valid
  && period.get('endDate')?.valid;
  else dateInputs" class="period-header-text">

    <div (click)="editPeriod(period, false)" class="flex-column flex-start-center"> 
      <span>
        {{ (period.get('startDate')?.value | date : "EEE,dd/MMM") + " - " + (period.get('endDate')?.value | date : "EEE,dd/MMM") }}
      </span>
      <span>
        {{period.get('name')?.value}}
      </span>

    </div>

    <div class="flex-row flex-center-center">

      <mat-checkbox
        class="unassigned-checkbox"
        matTooltip="check unassigned staff"
        formControlName="checkUnassigned"
        (change)="checkUnassignedStaff(inputPeriod, $event.checked)">
      </mat-checkbox>

      <button mat-icon-button class="close-button" matTooltip="copy" (click)="copyRotationPeriod(period, false)">
        <mat-icon class="close-icon" >content_copy</mat-icon>
      </button>

      <button mat-icon-button class="close-button" matTooltip="copy + rotate" (click)="copyRotationPeriod(period, true)">
        <mat-icon class="close-icon" >difference</mat-icon>
      </button>

    </div>

    <div class="flex-row flex-center-center">
      <button mat-icon-button
      (click)="generateRotationPeriodDays(period)"
      matTooltip="generate" 
      *ngIf="!period.get('locked')?.value" [disabled]="!period.get('rotationPeriodId')?.value || period.dirty">        
        <mat-icon [ngClass]="(!period.get('rotationPeriodId')?.value  || period.dirty) ? 'close-icon disabled' : 'close-button key'">key</mat-icon>
      </button>

      <button mat-icon-button class="close-button"
      *ngIf="period.get('locked')?.value"
      matTooltip="go to schedule" 
      (click)="navigateToRotationPeriod(period)">        
        <mat-icon class="close-icon lock">lock</mat-icon>
      </button>      

      <button mat-icon-button [color]="period.pristine ? null : 'warn'" class="close-button" (click)="saveRotationPeriod(period)"
      matTooltip="save" 
      [disabled]="period.get('locked')?.value">        
        <mat-icon class="close-icon" >save</mat-icon>
      </button>

      <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)"
      matTooltip="delete" >
        <mat-icon class="close-icon" >delete</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #dateInputs>

            <div class="flex-row flex-center-center">
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Period start</mat-label>
              <input matInput  [max]="period.get('endDate')?.value" formControlName="startDate"
              [matDatepicker]="startDatePicker"
              [errorStateMatcher]="errorMatcher"/>

								<mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #startDatePicker></mat-datepicker>	


              <mat-error *ngIf="period.get('startDate')?.hasError('dateExistsInRange')">
                Day exists in another range
              </mat-error>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Period end</mat-label>
              <input matInput [min]="period.get('startDate')?.value" formControlName="endDate"
              [matDatepicker]="endDatePicker"
              [errorStateMatcher]="errorMatcher"/>

              <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>	

              <mat-error *ngIf="period.get('endDate')?.hasError('dateExistsInRange')">
                Day exists in another range
              </mat-error>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Period name</mat-label>
              <input matInput type="text" formControlName="name" [errorStateMatcher]="errorMatcher"/>          
            </mat-form-field> 


            <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)">
              <mat-icon matTooltip="delete" class="close-icon" >delete</mat-icon>
            </button>

            <div class="flex-column" *ngIf="period.get('startDate')?.value && period.get('endDate')?.value">

              <button mat-icon-button class="close-button" (click)="editPeriod(period, true)">
                  <mat-icon matTooltip="save" class="close-icon" >save</mat-icon>
              </button>

              <button mat-icon-button class="close-button" (click)="cancelPeriodEdit(period, true)">
                <mat-icon matTooltip="cancel" class="close-icon" >close</mat-icon>
              </button>

            </div>                     

        </div> 

  </ng-template>




</div>