<div [formGroup]="period">

  <div fxLayout="column" fxLayoutAlign="center center"
  *ngIf="period.get('startDate')?.value
  && period.get('endDate')?.value
  && (period.get('editable')?.value === true)
  && period.get('startDate')?.valid
  && period.get('endDate')?.valid;
  else dateInputs" class="period-header-text">

    <div (click)="editPeriod(period, false)"> 
      {{ (period.get('startDate')?.value | date : "EEE,dd/MMM") + " - " + (period.get('endDate')?.value | date : "EEE,dd/MMM") }}

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">

      <mat-checkbox
        class="unassigned-checkbox"
        matTooltip="check unassigned staff"
        formControlName="checkUnassigned"
        (change)="checkUnassignedStaff(period, $event.checked)">
      </mat-checkbox>

      <button mat-icon-button class="close-button" (click)="copyRotationPeriod(period, false)">
        <mat-icon matTooltip="copy" class="close-icon" >content_copy</mat-icon>
      </button>

      <button mat-icon-button class="close-button" (click)="copyRotationPeriod(period, true)">
        <mat-icon matTooltip="copy + rotate" class="close-icon" >difference</mat-icon>
      </button>

      <button mat-icon-button [color]="period.pristine ? null : 'warn'" class="close-button" (click)="saveRotationPeriod(period)">        
        <mat-icon matTooltip="save" class="close-icon" >save</mat-icon>
      </button>

      <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)">
        <mat-icon matTooltip="delete" class="close-icon" >delete</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #dateInputs>

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
          <input matInput type="date" [max]="period.get('endDate')?.value" formControlName="startDate" placeholder="Period start"  [errorStateMatcher]="errorMatcher"/>
          <mat-error *ngIf="period.get('startDate')?.hasError('dateExistsInRange')">
            Day exists in another range
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="date" [min]="period.get('startDate')?.value" formControlName="endDate" placeholder="Period end" [errorStateMatcher]="errorMatcher"/>
          <mat-error *ngIf="period.get('endDate')?.hasError('dateExistsInRange')">
            Day exists in another range
          </mat-error>
        </mat-form-field> 

        <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)">
          <mat-icon matTooltip="delete" class="close-icon" >delete</mat-icon>
        </button>

            <div fxLayout="column" *ngIf="period.get('startDate')?.value && period.get('endDate')?.value">

              <button mat-icon-button class="close-button" (click)="editPeriod(period, true)">
                  <mat-icon matTooltip="save" class="close-icon" >save</mat-icon>
              </button>

              <button mat-icon-button class="close-button" (click)="cancelPeriodEdit(period, true)">
                <mat-icon matTooltip="cancel" class="close-icon" >close</mat-icon>
              </button>

            </div>                     

        </div> 

  </ng-template>




</div>