<form [formGroup]="surgeryForm">
    <fieldset class="form-group">
        <legend class="legend">Surgery Register</legend>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign = "start end">
            <fieldset class="form-sub-group">
                <legend class="legend">Animal Details</legend>
                <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="auto" fxLayoutAlign="start end">
                    <mat-form-field>
                        <input  type="text" placeholder="Tag Number" formControlName="TagNumber" matInput>                        
                    </mat-form-field>
                    <mat-form-field>
                    <input matInput  type="number" placeholder="EmergencyNumber" formControlName="EmergencyNumber"  >                        
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Animal Type</mat-label>
                        <input type="text" placeholder="Animal Type" formControlName="AnimalTypeId" matInput>                        
                    </mat-form-field>
                </div>

            </fieldset>
            <fieldset class="form-sub-group">
                <legend class = "legend">Surgery Details</legend>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
                    <mat-form-field >
                        <mat-label>Surgery Date</mat-label>
                        <input matInput type="datetime-local" formControlName="SurgeryDate" name = "SurgeryDate"  
                        (focus)="setInitialTime($event)" [errorStateMatcher]="errorMatcher" cdkFocusInitial required>
                    </mat-form-field>
                        
                    <mat-form-field>
                        <mat-label>Surgeon</mat-label>
                        <mat-select formControlName="UserId" [errorStateMatcher]="errorMatcher"  required>
                                <mat-option *ngFor="let surgeon of surgeons" [value]="surgeon.UserId" >
                                {{surgeon.FirstName}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Surgery Site</mat-label>
                        <mat-select formControlName="SurgerySiteId" [errorStateMatcher]="errorMatcher"  required>
                                <mat-option *ngFor="let surgerySite of surgerySites" [value]="surgerySite.SurgerySiteId" >
                                {{surgerySite.SurgerySite}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="number" placeholder="Mins In Anesthesia"  formControlName="AnesthesiaMinutes" [errorStateMatcher]="errorMatcher"  matInput>
                    </mat-form-field>
                </div>
            </fieldset>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
            <fieldset class="Surgery-form-sub-group">
                <legend class="legend">Surgery Type</legend>
                <mat-form-field style="width:100%">
                    <mat-label >Select Surgery Type</mat-label>
                    <mat-select formControlName="SurgeryTypeId" style="width: 100%;" [errorStateMatcher]="errorMatcher"  required>
                            <mat-option *ngFor="let surgeryType of surgeryTypes" [value]="surgeryType.SurgeryTypeId" >
                            {{surgeryType.SurgeryType}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </fieldset>

            <fieldset class="form-sub-group">
                <legend class="legend">Other Details</legend>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
                    <mat-form-field >
                        <mat-label>Date of Death</mat-label>
                        <input matInput  type="datetime-local"  formControlName="DiedDate" name="DiedDate"  
                        (focus)="setInitialTime($event)">
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="text" placeholder="Died Comment"  formControlName="DiedComment" matInput>                        
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Antibiotics Given?</mat-label>
                        <mat-select formControlName="AntibioticsGiven">
                                <mat-option *ngFor="let drug of drugs" [value]="drug.id">
                                {{drug.Antibiotics}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="text" placeholder="comment" formControlName="Comment" matInput>
                    </mat-form-field>
        
                </div>
            </fieldset>
        </div>

        <br>
        <br>

    </fieldset>
</form>