<form [formGroup]="SurgeryForm">
    <fieldset class="form-group">
        <legend class="legend">Surgery Register</legend>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign = "start end">
            <fieldset class="form-sub-group">
                <legend class="legend">Animal Details</legend>
                <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="auto" fxLayoutAlign="start end">
                    <mat-form-field>
                        <input  type="text" placeholder="Tag Number" formControlName="TagNumber" readonly matInput>                        
                    </mat-form-field>
                    <mat-form-field>
                    <input matInput disabled type="number" placeholder="EmergencyNumber" formControlName="EmergencyNumber"  >                        
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Animal Type</mat-label>
                        <input type="text" placeholder="Animal Type" formControlName="AnimalTypeId" matInput>                        
                    </mat-form-field>
                </div>

            </fieldset>
            <fieldset class="form-sub-group">
                <legend class = "legend">Surgery Details</legend>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
                    <mat-form-field >
                        <mat-label>Surgery Date</mat-label>
                        <input matInput type="datetime-local" formControlName="SurgeryDate" name = "SurgeryDate"  
                        (focus)="setInitialTime($event)" required>
                    </mat-form-field>
                        
                    <mat-form-field>
                        <mat-label>Surgeon</mat-label>
                        <mat-select formControlName="SurgeonId" required>
                                <mat-option *ngFor="let surgeon of surgeons" [value]="surgeon.SurgeonId" >
                                {{surgeon.SurgeonName}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Surgery Site</mat-label>
                        <mat-select formControlName="SurgerySiteId" required>
                                <mat-option *ngFor="let surgerySite of surgerySites" [value]="surgerySite.SurgerySiteId" >
                                {{surgerySite.SurgerySite}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="number" placeholder="Mins In Anesthesia" formControlName="AnesthesiaMinutes" matInput>
                    </mat-form-field>
                </div>
            </fieldset>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
            <fieldset class="Surgery-form-sub-group">
                <legend class="legend">Surgery Type</legend>
                <mat-form-field style="width:100%">
                    <mat-label >Select Surgery Type</mat-label>
                    <mat-select formControlName="SurgeryTypeId" style="width: 100%;" required>
                            <mat-option *ngFor="let surgeryType of surgeryTypes" [value]="surgeryType.SurgeryTypeId" >
                            {{surgeryType.SurgeryType}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </fieldset>

            <fieldset class="form-sub-group">
                <legend class="legend">Other Details</legend>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start end">
                    <mat-form-field >
                        <mat-label>Date of Death</mat-label>
                        <input matInput  type="datetime-local" formControlName="DiedDate" name="DiedDate"  
                        (focus)="setInitialTime($event)">
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="text" placeholder="Died Comment" formControlName="DiedComment" matInput>                        
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Antibiotics Given?</mat-label>
                        <mat-select formControlName="AntibioticsGiven" required>
                                <mat-option *ngFor="let drug of drugs" [value]="drug.id">
                                {{drug.Antibiotics}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input  type="text" placeholder="comment" formControlName="Comment" matInput>
                    </mat-form-field>
                </div>
            </fieldset>
        </div>

        <br>
        <br>

        <!-- <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center"> 
            <input type="submit" value="Submit"  [disabled]="!SurgeryForm.valid" class="mat-button">
                         
            <input type="reset" (click)="resetForm()" value="Reset" style="margin-left:120px ;" class="mat-button">
        </div> -->

        <!-- <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" style="margin-top:50px ;"> 
            <mat-form-field>
                    <input type="text" placeholder="Surgery Id" formControlName="SearchSurgeryId" matInput>                        
            </mat-form-field> 
            
            <button type = "button" (click) = "Load()" class="mat-button" mat-button>Load</button>
        </div> -->

    </fieldset>
</form>