<form [formGroup]="treatmentListForm">

<fieldset class="form-sub-group">

      <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>

      <legend class="legend ">{{area?.areaName}} - ({{acceptedFormArray?.controls?.length}}) - {{selectedDate | date}}</legend>

      <div *ngFor="let movedRecords of movedLists.controls">

        <app-moved-treatment-record [movedRecordsInput]="movedRecords" [area]="area"></app-moved-treatment-record>

      </div>

  <table mat-table [dataSource]="accepted" formArrayName="accepted" style="margin-top: 15px;">

      <!-- Header row first group -->
  <ng-container matColumnDef="header-row-patient-details-group">
    <th mat-header-cell *matHeaderCellDef
        style="text-align: center"
        [attr.colspan]="5">
      Patient details
    </th>
  </ng-container>

  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-moved-out-group">
    <th mat-header-cell *matHeaderCellDef
    class="moved-out-group" [attr.colspan]="5"> Move out to</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['header-row-patient-details-group', 'header-row-moved-out-group']"></tr>

    <tr mat-header-row *matHeaderRowDef="(displayedColumns | async)"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: (displayedColumns | async);"></tr>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="very-small-column"> Count </th>
      <td mat-cell *matCellDef="let index = index" class="very-small-column"> {{index + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef class="complete-column"> Treated </th>
      <td mat-cell *matCellDef="let row;" class="small-column">

        <mat-chip-list>
        <mat-chip #treatedChip="matChip" (click)="toggleTreatment(row)">
          <mat-icon [class.is-hidden]="!row.treatedToday" class="complete">check_circle</mat-icon>
        </mat-chip>
      </mat-chip-list>

      </td>
    </ng-container>

    <!--DYNAMIC FIELDS START-->

    <ng-container *ngFor="let column of ( filteredColumns | async)">

      <ng-container [matColumnDef]="column.name">

          <th mat-header-cell *matHeaderCellDef
          [class.small-column]="column.name !== 'Treatment priority'"
          [class.center-columnm]="column.name !== 'Tag number'"
          [class.width-175]="column.name == 'Treatment priority'">
            {{column.abbreviation || column.name}}
          </th>

          <td mat-cell *matCellDef="let row; let index = index;"
          [formGroupName]="index"
          [class.small-column]="column.name !== 'Treatment priority'"
          [class.center-columnm]="column.name !== 'Treatment priority' && column.name !== 'Tag number'"
          [class.width-175]="column.name == 'Treatment priority'"
          [class.link]="column.name === 'Tag number'">

          <div *ngIf="column.type === 'text'">
            {{row.get(column.name).value}}
          </div>


          <div *ngIf="column.type === 'select'" class="width-175 start">
            <mat-form-field>
            <mat-select
            [formControlName]="column.name">
                <mat-option>N/A</mat-option>
                <mat-option [value]="2">High</mat-option>
                <mat-option [value]="3">Medium</mat-option>
                <mat-option [value]="4">Low</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div *ngIf="column.type === 'button'">

            <button mat-icon-button color="primary" style="cursor:pointer;" aria-label="Quick update dates"
            (click)="quickUpdate(row.get('PatientId')?.value, row.get('Tag number')?.value)">
                <mat-icon *ngIf="row.get('PatientStatusId')?.value < 2">event</mat-icon>
                <div *ngIf="row.get('PatientStatusId')?.value > 1">{{row.get('PatientStatus')?.value}}</div>
            </button>

          </div>

          <div *ngIf="column.type === 'checkbox'" class='checkbox-column' fxLayout="column" fxLayoutAlign="center center">


            <mat-radio-group>
              <mat-radio-button
                [checked]="column?.areaId === acceptedFormArray.at(index).get('Moved to')?.value"
                (change)="areaChanged(column?.areaId, index)"
                [value]="column?.areaId">
              </mat-radio-button>

            </mat-radio-group>

          </div>

        </td>
      </ng-container>

    </ng-container>

    <!--DYNAMIC FIELDS END-->

    <ng-container matColumnDef="Other">
      <th mat-header-cell *matHeaderCellDef> Other </th>

      <td mat-cell *matCellDef="let row; let index = index;"
      [formGroupName]="index">

      <div fxLayout="row" fxLayoutAlign="space-between center" style="min-width: 215px !important;">

        <mat-form-field>
          <mat-select
          (selectionChange)="areaChanged($event?.value, index)"
          formControlName="Moved to">

            <mat-option>N/A</mat-option>
            <mat-option [value]="area.areaId" *ngFor="let area of otherAreas">{{ area.areaName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-spinner *ngIf="row.get('saving')?.value" class="saved-spinner" [diameter]="24"></mat-spinner>
        <mat-icon [@fadeSavedIcon]="row.get('saved')?.value" *ngIf="row.get('saved')?.value" class="saved-icon">check_circle</mat-icon>
        <!--<mat-icon *ngIf="!row.get('saved')?.value && !row.get('saving')?.value" class="saved-icon"></mat-icon>-->

      </div>

      </td>

    </ng-container>


</table>

</fieldset>

</form>
