.mat-table {
  width: 100%;
}

  @media print {
    .isPrinting > * { display: none; }
    .mat-dialog-container { display: none !important; }
    .cdk_overlay_pane > * { display: none !important; }
  }

  .complete{
    color: green;
  }

.is-hidden{
  visibility: hidden;
}

:host ::ng-deep .mat-select-arrow {
  border: none;
}

.header-center{
  flex: 0 0 100px !important;
  align-items: center;
  justify-content: center;
}

.flex-100{
  flex: 0 0 100px !important;
}

.flex-175{
  flex: 0 0 175px !important;
}

:host ::ng-deep .flex-center{
  text-align: center !important;
  //justify-content: center;
}

:host ::ng-deep .flex-start{
  text-align: start !important;
}

.mat-column-Other {
  min-width: 174px;
}

.mat-column-index{
  min-width: 50px;
}

:host ::ng-deep .mat-checkbox-inner-container-no-side-margin {
  margin-right: 15px !important;
}

.mat-spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  right: 50%;
  margin-left: 50%;
  z-index: 5000;
  margin: auto;
}

.add-record-box{
  height: 300px;
  margin-right: 7%;
  border-radius: 4%;
  bottom: 6%;
  position: sticky;
  // background-color: aquamarine;
}

.add-patient-fab{
  margin-top:20px;
  margin-left: 93%;
  bottom: 2%;
  position: sticky;
}

@media only screen and (max-width: 600px) {

  .add-patient-fab{
    margin-left: 3%;
  }

}