
<div [formGroup]="callOutcome">

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start end">

    <mat-form-field class="outcomeWrapper">
        <mat-label>Call outcome</mat-label>
        <mat-select tabindex="17" #callOutcomeField formControlName="CallOutcome" [compareWith]="compareCallOutcome">
            <mat-option>N/A</mat-option>
            <mat-option *ngFor="let outcome of callOutcomes$ | async" [value]="outcome">
                {{outcome.CallOutcome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="sameAs">

        <input formControlName="sameAsNumber" tabindex="15" #sameAsNumberField type="number" placeholder="Em no." [errorStateMatcher]="errorMatcher" matInput>

        <mat-error *ngIf="patientForm.get('callOutcome.sameAsNumber')?.errors?.emergencyNumberTaken">
            The emergency number doesn't exist.
        </mat-error>
    </mat-form-field>

    </div>
</div>