.call-outcome-wrapper{
    flex: 1;
    min-width: 40%;
}

.same-as{
    max-width: 60%;
}

.solo{
    max-width: 100%;
}

mat-form-field.mat-form-field.outcome-wrapper {
    max-width: 100% !important;
}

@media(max-width: 600px) {
    .outcome-wrapper {
        max-width: unset;
        min-width: 33%;
    }
}
