<mat-tab-group (selectedTabChange)="tabChanged($event)" [class.hospital-tab-group]="hideMenu">
    <mat-tab label="Home">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
        <mat-spinner class="mat-spinner" *ngIf="loading"></mat-spinner>
        <form [formGroup]="recordForm" autocomplete="false" (ngSubmit)="saveForm()">
            
            <div class="flex-row flex-wrap gap-5 flex-start-start">
                <div class="flex-column gap-15 flex-start-stretch" style="flex: 1 0 49%">

                    <animal-header
                        [recordForm]="recordForm"
                        [profileUrl]="profileUrl">
                    </animal-header>

                    <media-gallery-wrapper style="max-width: 100vw;" [displayImagesAndButtons]="true" [patientData]="recordForm.get('patientDetails')"></media-gallery-wrapper>

                    <fieldset class="form-sub-group" autocomplete=false>
                        <legend class="legend" i18n>Status</legend>

                        <patient-status [hasPermission]="hasWritePermission" [patientId]="recordForm.get('patientDetails.patientId')?.value" #patient></patient-status>
                    </fieldset>

                    <fieldset class="form-sub-group" autocomplete=false style="max-width: 95vw;">
                        <legend class="legend" i18n>Comments</legend>

                        <app-comment [parentRecordId]="recordForm.get('patientDetails.patientId')?.value" parentRecordType="patient"></app-comment>
                    </fieldset>

                </div>

                <div class="flex-column gap-15 flex-start-stretch" style="flex: 1 0 49%">

                    <patient-details [recordForm]="recordForm"></patient-details>

                    <treatment-area-history style="width: 100%;" [tagNumber]="recordForm.get('patientDetails.tagNumber')?.value"></treatment-area-history>

                    <surgery-details
                        [patientId]="recordForm.get('patientDetails.patientId')?.value"
                        [tagNumber]="recordForm.get('patientDetails.tagNumber')?.value"
                        [emergencyNumber]="recordForm.get('emergencyDetails.emergencyNumber')?.value"
                        [animalType]="recordForm.get('patientDetails.animalType')?.value">
                    </surgery-details>

                </div>

                <div class="save-row">
                    <button mat-raised-button color="primary" (click)="saveForm(); patient.onSave()"
                        style="margin-top: -5px !important; margin-bottom: 20px !important; width: 100px">Save</button>
                </div>


            </div>
        </form>
    </mat-tab>

    <mat-tab label="Emergency details" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
            <div class="emergencyRecordWrapper flex-column gap-15 flex-start-stretch">

                <emergency-details
                    [recordForm]="recordForm"
                    [focusEmergencyNumber]="false">
                </emergency-details>

                <caller-details
                [incomingCallerDetails]="[]"
                    [recordForm]="recordForm">
                </caller-details>

                <location-details class="locationContainer"
                    [recordForm]="recordForm">
                </location-details>

                <fieldset class="form-sub-group" autocomplete=false>
                    <legend class="legend" i18n>Rescue details</legend>
                    <rescue-details
                        [recordForm]="recordForm"
                        [emergencyCaseId]="this.incomingPatient.emergencyCaseId">
                    </rescue-details>
                </fieldset>

                <fieldset class="form-sub-group" autocomplete=false>
                    <legend class="legend" i18n>Release details</legend>

                    <app-release-details [emergencyCaseId]="this.incomingPatient.emergencyCaseId" [patientId]="incomingPatient.patientId"></app-release-details>

                    <app-release-assign [patientId]="incomingPatient.patientId"></app-release-assign>

                </fieldset>

            </div>
    </mat-tab>

    <mat-tab label="Treatments" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
            <treatment-details
                [patientId]="patientId">
            </treatment-details>
    </mat-tab>

    <mat-tab label="Patient calls" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
        <fieldset class="form-sub-group">
            <legend class="legend" i18n>Patient calls</legend>
            <patient-call
                [patientId]="patientId"></patient-call>
        </fieldset>
    </mat-tab>

    <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>

    <mat-tab label="Outcome" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
        <app-outcome *ngIf="patientId" [patientId]="patientId"></app-outcome>
    </mat-tab>

    <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>

    <mat-tab label="Cruelty" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
        <cruelty-details [patientId]="patientId"></cruelty-details>
    </mat-tab>
    <mat-tab label="Logs" [disabled]="patientLoaded">
        <mat-icon role="button" aria-hidden="true" class="toggle" (click)="toggleMenu()" i18n>menu</mat-icon>
        <app-logs *ngIf="!!logsData" [logsData]="logsData"></app-logs>
    </mat-tab>
</mat-tab-group>