<form [formGroup]="recordForm" autocomplete="false" (ngSubmit)="saveForm()">

<mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Home">


        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="start">

        <div fxLayout="column" fxFlex="1 1 50" fxLayoutGap="15px" fxLayoutAlign="start">
            <animal-header [recordForm]="recordForm"></animal-header>


            <thumbnail-slider></thumbnail-slider>

            <patient-details [recordForm]="recordForm"></patient-details>

            <fieldset class="form-sub-group" autocomplete=false>
                <legend class="legend">Status</legend>
                <patient-status [patientId]="recordForm.get('patientDetails.patientId').value"></patient-status>
            </fieldset>

            <emergency-details [recordForm]="recordForm"></emergency-details>

        </div>

        <div fxLayout="column" fxFlex="0 1 50" fxLayoutGap="15px" fxLayoutAlign="start">

            <caller-details [recordForm]="recordForm"></caller-details>
            <location-details [recordForm]="recordForm"></location-details>

            <fieldset class="form-sub-group" autocomplete=false>
                <legend class="legend">Rescue details</legend>
                <rescue-details
                    [recordForm]="recordForm"
                    [emergencyCaseId]="recordForm.get('emergencyDetails.emergencyCaseId').value">
                </rescue-details>
             </fieldset>

            <census-details></census-details>
            <surgery-details></surgery-details>

            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" class="form-sub-group">
                <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
                <button mat-raised-button color="primary">Reset</button>
            </div>
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Patient Calls">
        <patient-call-call [patientId]="patientCallPatientId"></patient-call-call>
    </mat-tab>
    <mat-tab label="Outcome">
        <outcome></outcome>
    </mat-tab>
    <mat-tab label="Cruelty">
        <cruelty-details></cruelty-details>
    </mat-tab>
  </mat-tab-group>

</form>