<mat-tab-group>
    <mat-tab label="Home">
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="start">

        <div fxLayout="column" fxFlex="1 1 50" fxLayoutGap="15px" fxLayoutAlign="start">
            <patient-details [recordForm]="recordForm"></patient-details>
            <caller-details [recordForm]="recordForm"></caller-details>
            <location-details [recordForm]="recordForm"></location-details>

        </div>

        <div fxLayout="column" fxFlex="0 1 50" fxLayoutGap="15px" fxLayoutAlign="start">
            <census-details></census-details>
            <surgery-details></surgery-details>
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Thank You">
        <thank-you-call></thank-you-call>
    </mat-tab>
    <mat-tab label="Outcome"> Content 3 </mat-tab>
    <mat-tab label="Cruelty"> Content 3 </mat-tab>
  </mat-tab-group>


