<div *ngIf="patientForm" [formGroup]="patientForm" class="patientForm elevatedFormsRepeaterFields" fxLayout="column" fxLayout.gt-xs="row">
  <div class="elevatedFormsIndex">{{patientIndex + 1}}</div>
      <div fxFlex fxLayoutAlign="start end" fxLayout.lt-sm="row wrap" fxLayoutGap="20px">
        <mat-form-field style="margin-top: 1.4rem;">
            <input tabindex="8" #animalTypeInput type="text" placeholder="Species"
            matInput formControlName="animalType" [matAutocomplete]="animalAuto" [errorStateMatcher]="errorMatcher"
            (keydown.Tab)="isSpeciesBlank($event);false;" (focus)="animalTypeChangessub()" (focusout)="animalTypeChangesUnsub()">
            <mat-autocomplete class="speciesAutocomplete" autoActiveFirstOption #animalAuto="matAutocomplete" (optionSelected)="animalSelected($event)">
              <mat-option *ngFor="let animal of filteredAnimalTypes$ | async" [value]="animal">
                {{ animal.AnimalType }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="1 1 100%">
            <mat-chip-list #chipList [disabled]="animalType.value === ''" (click)="isSpeciesBlank($event)" required>
              <mat-chip
                *ngFor="let problem of problemsArray?.value"
                style="margin-right: 5px"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(problem.problemId)">
                {{problem.problem}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Main problem(s)"
                #problemRef
                [formControl]="problemInput"
                [matAutocomplete]="problemAuto"
                [matChipInputFor]="chipList"
                (focusout)="checkMainProblem()">
            </mat-chip-list>
            <mat-autocomplete class="problemAutocomplete"  autoActiveFirstOption #problemAuto="matAutocomplete"  (optionSelected)="updatePatientProblemArray($event)">
              <mat-option *ngFor="let problem of (filteredProblems$ | async)" [value]="problem.ProblemId">
                {{problem.Problem}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>
      <button class="deleteButton" type="button"  (click)="deletePatient($event, patientIndex)" mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
    </button>
</div>
