::ng-deep .mat-chip-list-wrapper{
    margin: 0px !important;
    input.mat-input-element{
        margin: 0px;
    }
}

.patientForm{
    
    ::ng-deep .mainProblemDirty .mat-form-field-infix{
        padding: 0;
    } 
    .mat-standard-chip{
        margin: 2px 0 3px 0;
    }
}




@media(max-width: 600px) {
    
    ::ng-deep .mat-autocomplete-panel{
        &.speciesAutocomplete{
            width:max-content;
        }
        &.problemAutocomplete{
            width:max-content;
        }
    }
}