::ng-deep .mat-chip-list-wrapper{
    margin: 0px !important;
    input.mat-input-element{
        margin: 0px;
    }
}
.patients_icons{
    height: 3rem;
    .mat-icon:not(:last-child){
        margin: 0 0.4rem;
    }
}