<div [formGroup]="patientForm" class="patientForm" fxLayout="row" fxLayoutAlign="flex-start flex-end" >
    <mat-form-field>
        <input tabindex="8" type="text" placeholder="Species" matInput formControlName="animalType" [matAutocomplete]="animalAuto" [errorStateMatcher]="errorMatcher">
        <mat-autocomplete autoActiveFirstOption #animalAuto="matAutocomplete" (optionSelected)="animalSelected($event)">
          <mat-option *ngFor="let animal of filteredAnimalTypes$ | async" [value]="animal">
            {{ animal.AnimalType }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 53%" class="mainProblem" [ngClass]="{mainProblem: patientForm.get('problems')?.length > 0 }">
        <mat-chip-list #chipList [disabled]="animalType.value === ''" (click)="isSpeciesBlank()"  >
          <mat-chip
            *ngFor="let problem of problemsArray?.value"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(problem.problemId)">
            {{problem.problem}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Main problem(s)"
            #problemRef
            [formControl]="problemInput"
            [matAutocomplete]="problemAuto"
            [matChipInputFor]="chipList"
            tabindex="9"
           >
        </mat-chip-list>
        <mat-autocomplete  autoActiveFirstOption #problemAuto="matAutocomplete"  (optionSelected)="updatePatientProblemArray($event)">
          <mat-option *ngFor="let problem of (filteredProblems$ | async)" [value]="problem.ProblemId">
            {{problem.Problem}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Tag number</mat-label>
        <input matInput formControlName="tagNumber" [errorStateMatcher]="errorMatcher">
        <mat-error *ngIf="patientForm.get('tagNumber')?.hasError('tagNumberTaken')">
          The tag number already exists.
        </mat-error>
    </mat-form-field>
    <div class="patients_icons">
      <mat-icon style="cursor:pointer;" (click)="openMediaDialog(patientForm)">add_photo_alternate</mat-icon>
      <mat-icon style="cursor:pointer;" (click)="printEmergencyCard(patientForm)">print</mat-icon>
    </div>  
    <button class="deletePatientButton" type="button"  (click)="deletePatient($event, patientIndex)" mat-mini-fab color="warn">
      <mat-icon>delete</mat-icon>
  </button>
</div>
