::ng-deep .mat-chip-list-wrapper{
    margin: 0px !important;
    input.mat-input-element{
        margin: 0px;
    }
}
.patients_icons{
    height: 3rem;
    .mat-icon:not(:last-child){
        margin: 0 0.3rem;
    }
}
.patientForm{
    border-radius: .5rem;
    box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 #fff;
    padding: 0 5px 0;
    position: relative;
    display: grid;
    grid-template-columns: 7.5rem 15rem 11rem 5rem;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    grid-template-areas:
        "species problem problem problem"
        "tagnumber outcome area buttons";
    gap: 0 20px;
    ::ng-deep .mainProblemDirty .mat-form-field-infix{
        padding: 0;
    } 
    .mat-standard-chip{
        margin: 2px 0 3px 0;
    }
}
.deletePatientButton {
    float : right;
    margin-top:1rem;
}

.deletePatientButton {
    position: absolute;
    top: -1.5rem;
    right: -0.5rem;
    width: 30px;
    height: 30px;
    .mat-icon{
        font-size:1rem;
    }
}


@media only screen and (max-width:767px)
{
    .deletePatientButton {
        width:25px;
        height: 25px;
        .mat-icon{
            position: absolute;
            top: 4px;
            left: 1px;
            font-size: 1rem;
        }
    }
}

@media(max-width: 600px) {
    .patientOutcomeWrapper {
        max-width: 43.9%;
    }
    .admissionAreaDivWrapper{
        max-width: 46%;
    }
    .admissionAreaWrapper{
        min-width: 100%;
        margin-left: 11px;
    }
    .patientForm{
        display:flex;
        flex-wrap: wrap;
    }
    .patients_icons{
        width:100%;
        display: flex;
    }
    ::ng-deep .mat-autocomplete-panel{
        &.speciesAutocomplete{
            width:max-content;
        }
        &.problemAutocomplete{
            width:max-content;
        }
    }
}