.rotation-form-container{
    padding: 10px 0;
}
.deleted-checkbox{
    text-align: center;
    width: 212px;
}

@media (max-width:600px){
    .rotation-form-container{
        width: 87vw;
    }

    .form-row{
        row-gap: 0;
    }
}