


<div cdkDropListGroup style="padding-left: 10px;">


<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around start" style="padding-top: 20px" >

  <div fxFlex="none"
  class="print-area-boundary"
  [style.height]="printPage.get('orientation').value == 'Landscape' ? printPage.get('pageDimensions').value.width : printPage.get('pageDimensions').value.height"
  [style.width]="printPage.get('orientation').value == 'Landscape' ? printPage.get('pageDimensions').value.height : printPage.get('pageDimensions').value.width"
  cdkDropList
  #printElementList="cdkDropList"
  [cdkDropListData]="printElements"
  [cdkDropListConnectedTo]="[printableElementList]"
  (cdkDropListDropped)="drop($event)"
  [hidden]="!dragging">

  <div style="padding-top: 30px;">Drop print element here</div>

  </div>




  <div class="print-area-boundary" [hidden]="dragging"
  style="background-image: url('assets/images/Scan_20200908.png'); background-repeat: no-repeat; background-size: 210mm 297mm;"
  [style.height]="printPage.get('orientation').value == 'Landscape' ? printPage.get('pageDimensions').value.width : printPage.get('pageDimensions').value.height"
  [style.width]="printPage.get('orientation').value == 'Landscape' ? printPage.get('pageDimensions').value.height : printPage.get('pageDimensions').value.width"
  >

      <div *ngFor="let element of printElements" class="print-element" cdkDragBoundary=".print-area-boundary" cdkDrag>
        {{element}}
        <div class="icon-wrap">
          <mat-icon class="resize-circle" (click)="removeElement(element);">highlight_off</mat-icon>
        </div>
      </div>

  </div>



  <div>




<div class="contents-column"></div>

  <form [formGroup]="printPage">

    <mat-form-field>
      <mat-label>Form name</mat-label>
      <mat-select formControlName="formName">
          <mat-option *ngFor="let form of formList" [value]="form">{{form}}</mat-option>
      </mat-select>
  </mat-form-field >

    <div class="label">Template image</div>

    <input type="file"
    accept="image/*"
    (change)="changeTemplateImage($event)">

    <mat-slide-toggle style="padding-top: 10px;" formControlName="showTemplateImage">Show template image</mat-slide-toggle>

    <div class="label">Form</div>



    <div class="label">Page dimensions</div>

    <mat-form-field>
        <mat-label>Page size</mat-label>
        <mat-select formControlName="pageDimensions">
            <mat-option *ngFor="let page of pageSizes" [value]="page">{{page.name}}</mat-option>
        </mat-select>
    </mat-form-field >

    <mat-form-field>
      <mat-label>Orientation</mat-label>
      <mat-select formControlName="orientation">
          <mat-option *ngFor="let orientation of orientations" [value]="orientation">{{orientation}}</mat-option>
      </mat-select>
  </mat-form-field >

  </form>

  <div class="label" style="padding-bottom: 10px;">Print fields</div>

  <div
  cdkDropList
  #printableElementList="cdkDropList"
  [cdkDropListData]="printableElements"
  [cdkDropListConnectedTo]="[printElementList]"
  style="text-align: center;"
  fxLayout="column"
  (cdkDropListDropped)="drop($event)">

    <div *ngFor="let element of printableElements" class="print-element"
    (cdkDragStarted)="toggleDrag()"
    cdkDrag>
      {{element}}
    </div>

  </div>

</div>

</div>

</div>