
<div cdkDropListGroup style="padding-left: 10px;">


<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around start" style="padding-top: 20px" >



  <div fxFlex="none"
  [hidden]="!dragging"
  class="print-area-boundary"
  [style.height]="currentHeight"
  [style.width]="currentWidth"
  [style.min-height]="currentHeight"
  [style.min-width]="currentWidth"
  cdkDropList
  #printElementList="cdkDropList"
  [cdkDropListData]="printElements"
  [cdkDropListConnectedTo]="[printableElementList]"
  (cdkDropListDropped)="drop($event)"

  >

  <div style="padding-top: 30px;">Drop print element here</div>

  </div>


  <div class="print-area-boundary" [hidden]="dragging"
  [ngClass]="{'print-template-image' : printPage.get('showTemplateImage').value}"
  [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"
  #printableElementArea
  [style.height]="currentHeight"
  [style.width]="currentWidth"
  [style.min-height]="currentHeight"
  [style.min-width]="currentWidth">

      <div *ngFor="let element of printElements;" class="print-element"
      cdkDragBoundary=".print-area-boundary"
      cdkDrag
      (cdkDragEnded)="dragRelease($event)"
      [cdkDragFreeDragPosition]="element.position"
      style="position: absolute;"
      [style.height.px]="element.height"
      [style.width.px]="element.width"
      >
        {{element.position.x}}
        <div class="icon-wrap">
          <mat-icon class="close-circle" (click)="removeElement(element);">highlight_off</mat-icon>
        </div>
        <div class="resize-both" (mousedown)="$event.stopPropagation(); bothResizeStart(element, $event)"></div>
        <div class="resize-horizontal" (mousedown)="$event.stopPropagation(); horizontalResizeStart(element, $event)"></div>
        <div class="resize-vertical" (mousedown)="$event.stopPropagation(); verticalResizeStart(element, $event)"></div>
      </div>

  </div>

  <div>

<div class="contents-column"></div>

  <form [formGroup]="printPage">

    <mat-form-field>
      <mat-label>Form name</mat-label>
      <mat-select formControlName="templateName">
          <mat-option *ngFor="let form of formList" [value]="form">{{form}}</mat-option>
      </mat-select>
  </mat-form-field >

  <mat-form-field *ngIf="printPage.get('templateName').value.indexOf(' Add new ') > -1">
  <input matInput type="text" formControlName="templateName">
  </mat-form-field>

    <div class="label">Template image</div>

    <input
    hidden
    type="file"
    #uploader
    multiple
    accept="image/*"
    (change)="changeTemplateImage($event)"/>

    <button mat-mini-fab color="primary" aria-label="Upload new image" (click)="uploader.click()">
        <mat-icon>add_a_photo</mat-icon>
    </button>

    <mat-slide-toggle style="padding: 10px;" formControlName="showTemplateImage" (change)="toggleImageUrl()">Show template image</mat-slide-toggle>

    <div class="label">Page dimensions</div>

    <mat-form-field>
        <mat-label>Page size</mat-label>
        <mat-select formControlName="pageDimensions">
            <mat-option *ngFor="let page of pageSizes" [value]="page">{{page.name}}</mat-option>
        </mat-select>
    </mat-form-field >

    <mat-form-field>
      <mat-label>Orientation</mat-label>
      <mat-select formControlName="orientation">
          <mat-option *ngFor="let orientation of orientations" [value]="orientation">{{orientation}}</mat-option>
      </mat-select>
  </mat-form-field >

  </form>

  <div class="label" style="padding-bottom: 10px;">Print fields</div>

  <!-- (cdkDropListDropped)="drop($event)" -->

  <div
  cdkDropList
  #printableElementList="cdkDropList"
  [cdkDropListData]="printableElements"
  [cdkDropListConnectedTo]="[printElementList]"

  style="text-align: center;"
  fxLayout="column"  >

    <div *ngFor="let element of printableElements"
    class="print-element"
    style="position: relative;"
    (cdkDragStarted)="toggleDrag()"
    (cdkDragReleased)="dragRelease($event)"
    cdkDrag>
      {{element.name}}
    </div>

  </div>

</div>

</div>

</div>