.leave-table{
    width: 2000px;
}

td {
    padding: 5px !important;
}

th.mat-header-cell:first-of-type{
    padding-left: 13px !important;
}

.leave-table-container{
    max-width: 100%;
    overflow: auto;
}

.warning-icon {
    color: orange;
    vertical-align: middle;
    
}

.help{
    cursor: help;
}

.filter-field {
    margin-left: 20px;
    width: 245px;
}

.department-select{
    width: 300px;
}