<form [formGroup]="streatTreatForm" >
	<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" class="patientVisitFrom">

		<mat-form-field appearance="fill">
			<mat-label>Assigned date</mat-label>
			<input formControlName="ambulanceAssignmentTime" type="datetime-local"
			[min]="callDateTime"
			[max]="currentTime"
			name="ambulanceAssignmentTime"
			placeholder="Ambulance assignment time" matInput [errorStateMatcher]="errorMatcher">

		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Assigned vehicle</mat-label>
				<mat-select tabindex="12" formControlName="assignedVehicleId" [errorStateMatcher]="errorMatcher">
				<mat-option>N/A</mat-option>
					<mat-option *ngFor="let vehicle of vehicleList$ | async" [value]="vehicle.vehicleId">
					{{vehicle.vehicleNumber}}
				</mat-option>
			</mat-select>
		</mat-form-field>



		<mat-form-field appearance="fill">
			<mat-label>Case priority</mat-label>
			<mat-select placeholder="Case priority" formControlName="casePriority" [errorStateMatcher]="errorMatcher">
				<mat-option *ngFor="let treatmentPriority of (treatmentPriority$ | async)" [value]="treatmentPriority.PriorityId">
					{{ treatmentPriority.Priority }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Main problem</mat-label>
			<mat-select formControlName="mainProblem" [errorStateMatcher]="errorMatcher">
				<mat-option *ngFor="let problem of (problems$ | async)" [value]="problem.MainProblemId">
					{{ problem.MainProblem }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill" fxFlexOrder.lt-md="5" ngClass.lt-md="full-width" ngStyle.lt-md="margin-right: 4px;" ngStyle.gt-md="flex-grow: 2;">
			<mat-label>Admin notes</mat-label>
			<input type='text' formControlName='adminNotes' matInput [errorStateMatcher]="errorMatcher">
		</mat-form-field>

		<mat-form-field appearance="fill" fxFlexOrder.lt-md="4">
			<mat-label>Case status</mat-label>
			<mat-select formControlName="streetTreatCaseStatus" [errorStateMatcher]="errorMatcher">
				<mat-option *ngFor="let status of (status$ | async)" [value]="status.StatusId">
					{{ status.Status }}
				</mat-option>
			</mat-select>
		</mat-form-field>



	</div>
	<div class="visitsWrapper" [@listAnimation]="visitsArray.length" formArrayName="visits">
		<div fxLayout="row wrap" fxLayoutGap="10px" class="visitsWrapper-header">
			<h5 mat-dialog-title class="visit-header">Visits</h5>

			<div class="visit-calendar-wrapper" *ngIf="visitDates.length > 0">
				<button mat-raised-button (click)="loadCalendar($event)" class="calendar-toggle"><mat-icon>calendar_today</mat-icon></button>
				<div class="visit_calendar" [hidden]="loadCalendarComponent" >
					<mat-calendar [dateClass]="dateClass()" (selectedChange)="onSelect($event)" ></mat-calendar>
				</div>
			</div>
		</div>

		<div *ngFor="let item of visitsArray.controls; let visitIndex = index">

			<div  fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start end" class="visit_row_data">

				<div [formGroupName]="visitIndex" >

					<mat-form-field appearance="fill" *ngIf="!showVisitDate" class="date" >
						<mat-label>Day</mat-label>
						<input matInput (keypress)="keyPressNumbers($event)" type="number" min="0" placeholder="Day" [errorStateMatcher]="errorMatcher"
							value="0" formControlName="visit_day"  />
							<mat-error *ngIf="item.get('visit_day')?.hasError('uniqueBy')">
								Day should be unique
							</mat-error>
					</mat-form-field>

					<mat-form-field appearance="fill" *ngIf="showVisitDate" class="visit-date date">
						<mat-label>Date</mat-label>
						<input matInput  type="date" [min]="minVisitDate" placeholder="Date"  [errorStateMatcher]="errorMatcher"
							value="0" formControlName="visit_date"  />
							<mat-error *ngIf="item.get('visit_date')?.hasError('uniqueBy')">
								Date should be unique
							</mat-error>
					</mat-form-field>

					<mat-form-field appearance="fill" class="status">
						<mat-label>Visit status</mat-label>
						<mat-select placeholder="Select" formControlName="visit_status" [errorStateMatcher]="errorMatcher">
							<mat-option *ngFor="let status of (status$ | async)" [value]="status.StatusId">{{ status.Status}}</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field appearance="fill" ngClass.lt-md="full-width">
						<mat-label>Visit type</mat-label>

						<mat-select placeholder="Select" formControlName="visit_type" [errorStateMatcher]="errorMatcher">
							<mat-option  *ngFor="let visitTypes of (visitType$ | async)" [value]="visitTypes.VisitTypeId">{{ visitTypes.VisitType}}</mat-option>
						</mat-select>

					</mat-form-field>
					<mat-form-field appearance="fill" class="admin" gdArea.lt-md="admin" ngClass.lt-md="full-width">
						<mat-label>Admin notes</mat-label>
						<textarea matInput cdkAutosizeMinRows="3" cdkTextareaAutosize [errorStateMatcher]="errorMatcher"
							cdkAutosizeMaxRows="5" formControlName="visit_comments"></textarea>
					</mat-form-field>

					<mat-form-field appearance="fill" class="notes" ngClass.lt-md="full-width">
						<mat-label>Operator notes</mat-label>
						<textarea matInput cdkAutosizeMinRows="3" cdkTextareaAutosize
							cdkAutosizeMaxRows="5" formControlName="operator_notes"></textarea>
					</mat-form-field>

					<div class="mat-fab-wrapper">
						<button mat-mini-fab color="warn" aria-label="Delete this Visit"
							(click)="deleteVisits(visitIndex,$event)" >
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mat-fab-wrapper" class="add-visits-fab-btn" fxLayout="row" fxLayoutAlign="center center">
		<button mat-mini-fab color="primary" aria-label="Add this Visit" (click)="addVisits($event)">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</form>
