<fieldset class="form-sub-group">

  <legend class="legend">Surgery Details</legend>

  <div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="surgeryRecords">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Date:</span>
          {{row.date | date}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Type:</span>
          {{row.type}} 
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Surgeon">
        <mat-header-cell *matHeaderCellDef> Surgeon </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Surgeon:</span>
          {{row.surgeon}} 
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Site">
        <mat-header-cell *matHeaderCellDef> Site </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Site:</span>
          {{row.site}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Anesthesia Minutes">
        <mat-header-cell *matHeaderCellDef> Anesthesia Minutes </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Anesthesia Minutes:</span>
          {{row.anesthesiaMinutes}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Edit Surgery">
        <mat-header-cell *matHeaderCellDef> Edit Surgery </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Edit Surgery:</span>
          <mat-icon (click)="launchSurgeryDialog(row)"  class="Edit">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div fxLayoutAlign = "center center" style="padding-top: 10px;">
    <button type="button" mat-mini-fab (click)="launchSurgeryDialog(null)" color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</fieldset>