.day-rota-table{
    width: 98%;
    height: 100%;
}

.area-header{
    writing-mode: vertical-lr;
    text-align: -webkit-center;
    transform: scale(-1);
    vertical-align: middle;
    width: 35px;
    padding-left: 0 !important;
    cursor: pointer;
}

th, td {
    text-align: -webkit-center !important;
}

.first-column {
    padding-left: 5px !important;
    padding-right: 5px !important;
    z-index: 101 !important;
}

.time-field{
    max-width: 75px;
}

.notes-field{
    min-width: 150px;
}

.area-select-container{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 5px;
}

.user-list-heading{
    text-decoration: underline;
    margin-bottom: 10px;
}

.leave-icon{
    position: absolute;
    bottom: 45%;
    right: 0;
}

.leave-pending{
    color: orange;
}

.leave-denied{
    color:lightslategrey
}

.granted-leave-user{
    font-size: smaller;
    color: darkgray;
    padding-top: 5px;
}

.who-icon{
    cursor: pointer;
}

.who-header{
    max-width: 200px;
    z-index: 101 !important;
}

.user-search{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    left: 165px;
    margin-top: 5px;
}

@media(max-width: 600px) {
 
    .mat-form-field{
      max-width: 60% !important;
    }

}