.day-rota-table{
    width: 98%;
    height: 100%;
}

.area-header{
    writing-mode: vertical-lr;
    text-align: -webkit-center;
    transform: scale(-1);
    vertical-align: middle;
    width: 35px;
    padding-left: 0 !important;
}

th, td {
    text-align: -webkit-center !important;
}

.time-field{
    max-width: 75px;
}

.notes-field{
    min-width: 150px;
}

.area-select-container{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 5px;
}