.counts{
  text-align: center;
  padding-bottom: 15px;
}

.area {
  text-align: left;
  padding-bottom: 15px;
}

.link-large{
  font-size: xx-large;
}

@media only screen and (max-width:600px){
  :host {
      padding-top:60px;
      display:block;
  }
}

@media only screen and (min-width:600px){
  .area {
    width: 250px;
  }
}



.refreshButton {
  position: absolute;
  right: 2%;
}

.count-heading{
  color: #a9abad;
  padding-bottom: 15px;
}