<!--<fieldset class="form-sub-group" *ngIf="showTreatmentList">
    <legend class="legend">Treatment list</legend>

    <button class="backButton" mat-mini-fab (click)="showTreatmentList=false">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <app-treatment-list *ngIf="showTreatmentList" [areaName]="currentAreaName"></app-treatment-list>

</fieldset>-->

<fieldset class="form-sub-group">
    <legend class="legend">AAU reporting</legend>

    <button class="refreshButton" mat-mini-fab (click)="initialiseReporting()">
        <mat-icon>refresh</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="row" fxLayoutAlign = "center center">
        <fieldset class="form-sub-group">
            <div *ngFor = "let data of patientCountData">
                <div *ngIf="data.area === 'Total'">
                    <p class="legend">Total count : {{data.count}}</p>
                </div>
            </div>
        </fieldset>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign = "center center" [formGroup]="reportingDetails">

        <fieldset class="form-sub-group">
            <legend class="legend">Case count by date</legend>

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-slide-toggle [checked]="isStreetTreatChecked | async" (change)="streetTreatChecked($event)" formControlName="streetTreat">StreetTreat</mat-slide-toggle>
                <mat-slide-toggle [checked]="isAdmissionChecked | async" (change)="admissionChecked($event)" formControlName="admission">Admission</mat-slide-toggle>
            </div>

            <mat-form-field class="dateFields">
                <mat-label>Select date</mat-label>
                <input matInput type="date" formControlName="emergencyCaseDate" name = "CaseDate"
                [errorStateMatcher]="errorMatcher" required>
            </mat-form-field>

                <p class="link counts link-large" (click)="openEmergencyCaseDialog()">{{emergencyCaseCount | async}}</p>

        </fieldset>

        <fieldset class="form-sub-group">
            <legend class="legend">Animal count in each area</legend>
            <div *ngIf="patientCountData && patientCountData.length > 0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="count-heading">
                <div fxFlex>Area</div>
                <div fxFlex="15" class="counts">Inf./Adult</div>
                <div fxFlex="25" class="counts">Priority</div>
                <div fxFlex="7">Total</div>
            </div>

            <div *ngFor = "let value of patientCountData">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" *ngIf="value.area != 'Total'">

                    <div fxFlex class="link area">{{value.area}}</div>
                    <div fxFlex="15" class="counts">{{value.infants}} / {{value.adults}}</div>
                    <div fxFlex="25" class="counts"><span style="color:green">{{value.lowPriority}}</span> / <span style="color:gold">{{value.normalPriority}}</span> / <span style="color:red">{{value.highPriority}}</span></div>
                    <div fxFlex="7" class="link area">{{value.count}}</div>
                </div>
            </div>
        </fieldset>


        <fieldset class="form-sub-group">
            <legend class="legend">Surgery count by date</legend>

            <mat-form-field class="dateFields">
                <mat-label>Select date</mat-label>
                <input matInput type="date" formControlName="surgeryDate" name = "SurgeryDate"
                [errorStateMatcher]="errorMatcher" required>
            </mat-form-field>

                <p class="link counts link-large" (click)="openSurgeryDetailsDialog()">{{surgeryCount | async}}</p>

        </fieldset>


    </div>

</fieldset>
