.link{
  text-align: center;
}

.link-large{
  font-size: xx-large;
}

@media only screen and (max-width:600px){
  :host {
      padding-top:60px;
      display:block;
  }

.refreshButton {
  position: absolute;
  right: 2%;
}