$colour-border:#a9abad;
$primary-font-colour: #626262;
$standard-width: 180px;

.counts{
  text-align: center;
  padding-bottom: 15px;
}

.area {
  
  text-align: left;
  min-width: 215px;
}

.highlight{
  padding-bottom: 15px;
  color: #607d8b !important;
  font-weight: bold;
}

.total{
  text-align: center;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link-large{
  font-size: xx-large;
}

.dateFields {
  width: auto;
  margin-top: 15px;
}

.small-box{
  min-width: 17em;
  text-align: center;
}

@media only screen and (min-width:600px){
  .area {
    width: 250px;
  }
}

.refreshButton {
  position: absolute;
  right: 2%;
}

.count-heading{
  color: #a9abad;
  padding-bottom: 15px;
}

.animalCount-sub-group {
  background-color:white ;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: $colour-border;
  padding-left:15px;
  padding-right:15px;
}

@media(max-width: 600px) {
  .animalCount-sub-group {
    background-color:white ;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 90%;
    border-color: $colour-border;
    padding-left:15px;
    padding-right:15px;
  }
  .dateFields {
    min-width: 100%;
  }
}