<fieldset [formGroup]="locationDetails" class="form-sub-group" autocomplete=false>

    <legend class="legend">Location details</legend>


    <div fxLayout="column" fxLayoutAlign="start">

        <mat-form-field class="locationWrapper" #locationWrapper *ngIf="!removeAddress">
            <input
            tabindex="6" matInput type="text"
            placeholder="Animal location"
            formControlName="location"
            (keydown.shift.f)="performSearch($event)"
            [errorStateMatcher]="errorMatcher" #addressSearch>
            <mat-icon matSuffix (click)="performSearch(null)" style="cursor: pointer">search</mat-icon>
        </mat-form-field>

      <div fxFlex >
        <google-map [zoom]="zoom"
                    [center]="center"
                    height="174px"
                    width="100%"
                    id="googlemap">
          <map-marker
              *ngFor="let marker of markers"
              [position]="marker.position"
              [label]="marker.label"
              [options]="marker.options"
              (mapDragend)="markerDragEnd($event)">
          </map-marker>

        </google-map>

    </div>

    </div>

</fieldset>