@media(max-width: 600px) {

    .locationWrapper {
        max-width:100%;
    }

}
@media(min-width: 600px) {

    .locationWrapper {
        max-height: 3rem;
    }
    ::ng-deep google-map#googlemap .map-container{
        height: 7rem !important;
    }
    .form-sub-group{
        padding-bottom: 0;
    }
}
