<fieldset [formGroup]="recordForm.get('locationDetails')" class="form-sub-group" autocomplete=false>

    <legend class="legend">Location Details</legend>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">


        <mat-form-field class="double-width">
            <input matInput type="text"
            placeholder="Animal location"
            (setAddress)="getAddress($event)"
            formControlName="animalLocation"
            [errorStateMatcher]="errorMatcher" #addressSearch>
            <mat-icon matSuffix (click)="performSearch($event)" style="cursor: pointer">search</mat-icon>
          </mat-form-field>

    </div>
    <div fxFlex>
        <agm-map [latitude]="latitude.value" [longitude]="longitude.value" [zoom]="zoom"
        [usePanning]="true"
        [fullscreenControl]="true">
            <agm-marker
                    *ngFor="let marker of markers;"
                    (markerClick)="clickedMarker(marker.label, i)"
                    [latitude]="marker.latitude"
                    [longitude]="marker.longitude"
                    [label]="marker.label"
                    [markerDraggable]="marker.draggable"
                    (dragEnd)="markerDragEnd(marker, $event)"></agm-marker>
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

    </div>
</fieldset>