
<div fxLayout="row" class="mediaGalleryContainer" *ngIf="displayImagesAndButtons">

    <media-thumbnails
        [gallery]="galleryImages.slice(0,3)"
        [mediaPatientItems]="mediaData">
    </media-thumbnails>
    
</div>

<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" *ngIf="displayImagesAndButtons">

    <button type='button' color="primary" mat-mini-fab>
        <mat-icon (click)="openMediaDialog()">add_a_photo</mat-icon>
    </button>

    <button type='button' color="primary" mat-mini-fab>
        <mat-icon (click)="openGalleryDialog($event)">collections</mat-icon>
    </button>

</div>

<div fxLayout="row" fxLayoutGap='5px' fxLayoutAlign="end center" *ngIf="!displayImagesAndButtons">

    <div>
        <mat-icon (click)="openMediaDialog()">add_a_photo</mat-icon>
    </div>

    <div>
        <mat-icon (click)="openGalleryDialog($event)">collections</mat-icon>
    </div>

</div>

