$colour-border: #a9abad;
$primary-font-colour: #626262;

.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    min-width: 1rem;
}

.mat-tab-body-content {
    transform: none !important;
}

.gallery-wrapper {
    text-align: center;
    /* .ngx-gallery {
        display: inline-block;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
    } */
}

.mat-drawer-inner-container {
    box-sizing: unset !important;
}




