<h1 mat-dialog-title>Enter tag number</h1>
<form autocomplete="off" [formGroup]="tagForm">
<div mat-dialog-content>
  <mat-form-field>
    <input matInput formControlName="tagNumber" name="tag-number" [errorStateMatcher]="errorMatcher" cdkFocusInitial>
    <mat-error *ngIf="tagForm.get('tagNumber').hasError('tagNumberTaken')">
      The tag number already exists.
  </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="tagForm.get('tagNumber')" [disabled]="tagForm.invalid">Save</button>
</div>
</form>