
<div (click)="registerClick($event)" style="text-align: center;">

  <div class="flex-row">

    <div>
      <a routerLink="/nav/emergency-register">
      <img src="assets/images/emergency_register.png" class="link-image" alt="Emergency Register"/>
    </a>
    </div>
    <div>
      <a routerLink="/nav/hospital-manager">
      <img src="assets/images/hospital_manager.png" class="link-image" alt="Hospital Manager"/>
    </a>
    </div>
    <div>
      <a routerLink="/nav/treatment-list">
      <img src="assets/images/treatment-list.png" class="link-image" alt="Treatment List"/>
    </a>

    </div>
  </div>

  <div class="flex-row">

  <div>
    <a routerLink="/nav/surgery-register">
    <img src="assets/images/surgery_register.png" class="link-image" alt="Surgery Register"/>
  </a>

  </div>
  <div>
    <a routerLink="/nav/street-treat">
    <img src="assets/images/street_treat.png" class="link-image" alt="Street Treat"/>
  </a>

  </div>
  <div>
    <a routerLink="/nav/reporting">
    <img src="assets/images/report.png" class="link-image" alt="Reports"/>
  </a>

  </div>


  </div>
</div>
