
<div fxLayout="column" fxLayoutAlign="space-evenly center" style="text-align: center; margin-top: 40px">

  <div fxFlex=50 fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex>

    <div fxFlex>
      <a routerLink="/nav/emergency-register">
      <img src="assets/images/emergency_register.png" class="link-image" alt="Emergency Register"/>
    </a>
    </div>
    <div fxFlex>
      <a routerLink="/nav/hospital-manager">
      <img src="assets/images/hospital_manager.png" class="link-image" alt="Hospital Manager"/>
    </a>
    </div>
    <div fxFlex>
      <a routerLink="/nav/census">
      <img src="assets/images/census.png" class="link-image" alt="Census"/>
    </a>

    </div>
  </div>

  <div fxFlex=50 fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex>

  <div fxFlex>
    <a routerLink="/nav/surgery-register">
    <img src="assets/images/surgery_register.png" class="link-image" alt="Surgery Register"/>
  </a>

  </div>
  <div fxFlex>
    <a routerLink="/nav/case-list">
    <img src="assets/images/street_treat.png" class="link-image" alt="Street Treat"/>
  </a>

  </div>
  <div fxFlex>
    <a routerLink="/nav/reporting">
    <img src="assets/images/report.png" class="link-image" alt="Reports"/>
  </a>

  </div>


  </div>
</div>
