.link-image {
    min-width: 185px;
    max-width: 65%;
    height: auto;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .link-image {
        min-width: calc(100%/1.3);
        max-width: calc(100%/3);
        margin: 5px;
    }
}