
<div fxLayout="column" fxLayoutAlign="space-evenly center" style="width: 100%; height: 100%" >

  <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="width: 100%; height: 50%">
    <img src="assets/images/emergency_register.png" width="250" height="250" alt="Emergency Register"/>
    <img src="assets/images/hospital_manager.png" width="250" height="250" alt="Hospital Manager"/>
    <img src="assets/images/census.png" width="250" height="250" alt="Census"/>

  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="width: 100%; height: 50%">
    <img src="assets/images/surgery_register.png" width="250" height="250" alt="Surgery Register"/>
    <img src="assets/images/street_treat.png" width="250" height="250" alt="Street Treat"/>
    <img src="assets/images/report.png" width="250" height="250" alt="Reports"/>

  </div>
</div>
