.period-dates-wrapper{
    width: 200px;
}

.direction-container {
    width: 100%;
    padding-top:5px;
}

.schedule-authorisation{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    padding: 15px;
    z-index: 102;
}

.area-header{
    writing-mode: vertical-lr;
    text-align: -webkit-center;
    transform: scale(-1);
    vertical-align: middle;
    width: 35px;
    padding-left: 0 !important;
    cursor: pointer;
  }

.granted-leave-user{
    font-size: smaller;
    color: darkgray;
    padding-top: 5px;
}

.leave-icon{
    position: absolute;
    bottom: 5%;
    right: 0;
    background-color: whitesmoke
}

.leave-pending{
    color: orange;
}

.leave-denied{
    color:lightslategrey
}