
<div class="flex-row flex-wrap flex-start-center gap-20" [formGroup]="areaForm" style="margin-top: 10px; margin-left:10px;">

  <div class="flex-row flex-start-center gap-10">

    <mat-form-field appearance="fill">
      <mat-label>Areas</mat-label>
      <mat-select formControlName="areas" multiple (selectionChange)="loadRotaDays()">
        <mat-option *ngFor="let area of areas" [value]="area.rotationAreaId">{{area.rotationArea}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-mini-fab color="primary" (click)="areaSelected()" matTooltip="Save areas to preferences">
      <mat-icon>save</mat-icon>
    </button>


  </div>

  <div class="flex-row flex-space-between-center gap-20">

    <div>

      <mat-form-field appearance="fill">
        <mat-label>Rota</mat-label>
        <mat-select formControlName="rotaId">
          <mat-option *ngFor="let rota of rotas | async" [value]="rota.rotaId">{{rota.rotaName}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div>

      <mat-form-field appearance="fill">
        <mat-label>Version</mat-label>
        <mat-select formControlName="rotaVersionId" (selectionChange)="getRotationPeriodForRotaVersion($event.value)">
          <mat-option *ngFor="let version of rotaVersions | async" [value]="version.rotaVersionId">{{version.rotaVersionName}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="flex-column flex-center-center period-dates-wrapper">

      <div [hidden]="!startDate">
        {{(startDate | date : "EEE,dd/MMM") + ' - ' + (endDate | date : "EEE,dd/MMM")}}
      </div>

      <div class="flex-row gap-20 flex-space-around-center direction-container">

        <button mat-mini-fab color="primary" (click)="shiftRotationPeriod(previous)" [disabled]="leftDisabled" matTooltip="Save areas to preferences">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <button mat-mini-fab color="primary" (click)="shiftRotationPeriod(next)" [disabled]="rightDisabled" matTooltip="Save areas to preferences">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>


    </div>

  </div>

  <div class="flex-row flex-center-center gap-10">

    <button mat-mini-fab color="primary" *ngIf="!showWeek" [disabled]="dataLoading" (click)="printRotaDay()" matTooltip="Print schedule">
      <mat-icon>print</mat-icon>
    </button>

    <div class="flex-row flex-center-center gap-10">

      <!-- [ngStyle]="{ 'backgroundColor': (currentScheduleAuthorisation | async)?.managerCount === (currentScheduleAuthorisation | async)?.authorisedCount ? 'green' : 
      (currentScheduleAuthorisation | async)?.authorisedCount !== 0 ? 'orange' : ''}" -->
      <button mat-mini-fab color="primary" [disabled]="dataLoading" (click)="showAuthorisation()"
      matTooltip="Check complete"
      *ngIf="!showWeek"      
      [ngStyle]="{ 'backgroundColor': ((currentScheduleAuthorisation | async)?.authorisedCount || 0) === 0 ? '' :
      (currentScheduleAuthorisation | async)?.managerCount === (currentScheduleAuthorisation | async)?.authorisedCount ? 'green' : 'orange' }">
        <mat-icon>fact_check</mat-icon>
      </button>

      <button mat-mini-fab color="primary" [disabled]="dataLoading" (click)="toggleShowWeek()" matTooltip="Toggle day/week view">
        <mat-icon>today</mat-icon>
      </button>

      <div style="position: relative;">

        <div *ngIf="showScheduleAuthorisation" class="schedule-authorisation flex-column flex-start-start">
          <div class="flex-row flex-center-start gap-10" *ngFor="let manager of (currentScheduleAuthorisation | async)?.authorisation">
            <mat-slide-toggle (change)="updateManagerAuthorisation(manager)" style="margin-bottom: 15px" [checked]="manager.authorised">{{manager.scheduleManager}}</mat-slide-toggle>        
            <mat-icon *ngIf="manager.areaList" [matTooltip]="manager.areaList" style="color: lightslategray">info</mat-icon>
          </div>
        </div>


      </div>
  
      <button mat-mini-fab color="primary" (click)="loadRotaDays()" matTooltip="Reload rota">
        <mat-icon>refresh</mat-icon>
      </button>

    </div>

  </div>



</div>

<mat-progress-bar mode="query" style="margin-top: 10px;" *ngIf="dataLoading"></mat-progress-bar>

<div *ngIf="showWeek; else showDaily">   
  <app-staff-schedule-week [inputForm]="rotaDayForm"></app-staff-schedule-week>
</div>

<ng-template #showDaily>

<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let day of rotaDayForm.controls" >
    <ng-template mat-tab-label>
      <span>{{day.get('rotaDayDate')?.value | date : "EEE,dd/MMM"}}</span>
      <mat-icon *ngIf="!day.get('rotaDayAssignments')?.pristine" matTooltip="Unsaved changes" style="margin-left: 10px">error</mat-icon>
      <mat-icon *ngIf="day.get('leaveRequestCount')?.value > 0"
      [matBadge]="day.get('leaveRequestCount')?.value" matBadgeColor="warn"
      matBadgeSize="small"
      [matTooltip]="day.get('leaveRequestCount')?.value + ' pending leave request' + ((day.get('leaveRequestCount')?.value > 1) ? 's' : '')" style="margin-left: 10px; pointer-events: all;"
      (click)="showLeaveRequestsForDay(day.get('rotaDayDate')?.value)">perm_contact_calendar</mat-icon>

  </ng-template>    

    <app-staff-schedule-day [rotationPeriodId]="rotationPeriodId" [rotaDayDate]="day.get('rotaDayDate')?.value" [inputRotaDayAssignments]="day.get('rotaDayAssignments')"></app-staff-schedule-day>
  
  </mat-tab>
</mat-tab-group>

</ng-template>