<form [formGroup]="shiftDate">
    <mat-form-field >
        <mat-label>Shift date</mat-label>
        <input type="date" formControlName="date" matInput>

    </mat-form-field>

    <mat-slide-toggle (change)="toggleInactive()" class="mat-slider">Include inactive vehicles</mat-slide-toggle>

</form>

<div style="margin-bottom: 60px;">

    <div *ngFor="let vehicle of (activeVehicles$ | async)" class="assigner-container flex-row flex-center-center">


        <app-vehicle-shift class="vehicle-shift-container" [shiftDate]="shiftDate.get('date')?.value" [vehicle]="vehicle"></app-vehicle-shift>


        <!--<app-vehicle-shift *ngIf='vehicle.vehicleStatusId == 2 && showInActive' class="vehicle-shift-container" [shiftDate]="shiftDate.get('date')?.value" [vehicle]="vehicle"></app-vehicle-shift>-->


    </div>
</div>

