.assigner-container {
 margin-top: 20px;
 position: relative;
}

.vehicle-shift-container {
    width: 99.5%;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 10px;
}

.mat-slider {
    margin-left: 20px;
}