// .generic-table{
//     width: 400px;
// }

.generic-column-header:first-letter{
    text-transform: uppercase
}

td, th, td {
    text-align: center !important;
    vertical-align: middle !important;
}
