<fieldset [formGroup]="crueltyDetails" class="form-sub-group">


    <legend class="legend">Cruelty details</legend>

    <div class="flex-column gap-20 flex-space-between-start">

        <mat-form-field class="extra-wide">
            <mat-label>Cruelty report</mat-label>
            <textarea formControlName="crueltyReport" rows="3" [errorStateMatcher]="errorMatcher" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="extra-wide">
            <mat-label>Post cruelty report</mat-label>
            <textarea formControlName="postCrueltyReport" rows="3" matInput></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Call time</mat-label>
            <input formControlName="crueltyDate" type="date"
            (focus)="setInitialTime($event)"
            [max]="maxDate" [errorStateMatcher]="errorMatcher" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cruelty inspector</mat-label>
            <mat-select formControlName="crueltyInspector" [errorStateMatcher]="errorMatcher">
                <mat-option *ngFor="let inspector of crueltyInspectors$ | async" [value]="inspector.userId">
                    {{ inspector.employeeNumber + ' - ' + inspector.firstName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Cruelty code</mat-label>
            <input type="text" formControlName="crueltyCode" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Animal condition</mat-label>
            <input type="text" formControlName="animalCondition" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Name of accused</mat-label>
            <input type="text" formControlName="nameOfAccused" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Mobile number of accused</mat-label>
            <input type="text" formControlName="mobileNumberOfAccused" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>FIR/Report/Parivaad No</mat-label>
            <input type="text" formControlName="firNumber" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Act</mat-label>
            <input type="text" formControlName="act" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Police station</mat-label>
            <input type="text" formControlName="policeStation" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Police officer name</mat-label>
            <input type="text" formControlName="policeOfficerName" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Police officer number</mat-label>
            <input type="text" formControlName="policeOfficerNumber" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Police officer designation</mat-label>
            <input type="text" formControlName="policeOfficerDesignation" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Action taken</mat-label>
            <input type="text" formControlName="actionTaken" matInput>
        </mat-form-field>

        <mat-form-field class="wide">
            <mat-label>Animal location after action</mat-label>
            <input type="text" formControlName="animalLocationAfterAction" matInput>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="saveForm()" [disabled]="crueltyDetails.invalid">Save</button>

    </div>



</fieldset>