<div class="flex-row flex-center-start">

    <div class="flex-column" class="flex-center-center" class="vehicle-shift-header-wrapper">

        <ng-container *ngIf="vehicle">
            <div class="vehicle-shift-header gap-10" class="flex-row flex-center-center">
                <div class="vehicle-image">
                    <img [src]="vehicle.imageURL" />
                </div>
            </div>
            <div class="vehicle-number">
                {{vehicle.vehicleNumber}}
            </div>
            <div class="license-plate flex-row flex-space-between-center">
                    <div class="license-plate-badge">
                        <div class="silver"></div>
                        <span>IND</span>
                    </div>
                    <div>
                        {{vehicle.registrationNumber}}
                    </div>
            </div>
            <div class="vehicle-type flex-row flex-space-between-center">
                    <div class="vehicle-type-icon">
                        <img  src="assets/icons/ambulance_van.png" alt="Vehicle type">
                    </div>
                    <div>{{vehicle.vehicleType}}</div>
            </div>
            <div class="flex-column" class="flex-center-center" class="capacity-details">
                <div class="capacity">Capacity</div>
                <div class="capacity-item flex-row flex-space-between-center">
                    <div>Small</div>
                    <div>:</div>
                    <div>{{vehicle.smallAnimalCapacity}}</div>
                </div>
                <div class="capacity-item flex-row flex-space-between-center">
                    <div>Large</div>
                    <div>:</div>
                    <div>{{vehicle.largeAnimalCapacity}}</div>
                </div>
            </div>
        </ng-container>


    </div>

    <div fxFlex class="flex-column" class="vehicle-shift-hours">

        <div class="flex-row flex-space-between-center">

            <div *ngFor="let hour of hours" class="single-hour" [ngStyle]="{'width' : 'calc(100% / ' + (hourRange.end - hourRange.start + 1) + ')'}">
                {{hour}}
            </div>

        </div>

        <div fxFill class="shift-wrapper">

            <div
            class="flex-row flex-wrap" class="flex-start-center" class="gap-10"
            *ngFor="let shift of ( shifts$ | async)"
            [style.width.%]="shift.length || 20" [style.left.%]="shift.left" class="vehicle-shift">

                <div *ngFor="let staff of shift.vehicleStaff">

                    <div class="staff-icon"
                    [matTooltip]="staff.firstName + ' ' + (staff.surname || '')">
                        {{staff.initials}}
                    </div>

                </div>

                <div fxFlex class="shift-detail">
                    {{shift.shiftStartTime | date: 'HH:mm' : '' + (shift.shiftStartTimeDate.getTimezoneOffset() * -1)}} - {{shift.shiftEndTime | date: 'HH:mm' : '' + (shift.shiftEndTimeDate.getTimezoneOffset() * -1)}}
                </div>

                <button class="shift-button delete" type="button" (click)="removeShift(shift)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>

                <button class="shift-button edit" type="button" (click)="editShift(shift)" mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>

            </div>

        </div>




    </div>

</div>

<button class="addStaffAssignmentButton" type="button" (click)="addShift()" mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

