<fieldset class="form-group">
    <legend *ngIf="!showCensusErrorLog" class="legend">Census Details</legend>
    <legend *ngIf="showCensusErrorLog" class="legend">Census Error Log</legend>
    
    <form [formGroup] = "censusDate">
        <div fxLayout="row" fxLayoutAlign="start end">
            <mat-form-field>
                <mat-label>Census Date</mat-label>
                <input matInput type="date" formControlName="CensusDate" name = "CensusDate"
                (focus)="setInitialTime($event)" cdkFocusInitial >
            </mat-form-field>

            <button *ngIf="showErrorLogBtn" (click)="showCensusErrorLog = !showCensusErrorLog" class="censusErrorRecordButton" mat-raised-button>Census errors</button>
        </div>
    </form>

    <div class="errorDivContainer" *ngIf="showCensusErrorLog">

        <div class="errorLogContainer" *ngFor="let errorLog of censusErrorRecords" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">

            <h4><b>TagNumber:- </b><b class="link" (click)="tagNumberClicked(errorLog.TagNumber)">{{errorLog.TagNumber}}</b></h4>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
                <div class="recordDetailsContainer1" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
                    <p><b>Call Time:-</b> {{errorLog.CallDateTime}}</p>
                    <p><b>Caller Name:-</b> {{errorLog.CallerName}}</p>
                    <p><b>Patient Status:-</b> {{errorLog.PatientStatus}}</p>
                </div>
    
                <div class="recordDetailsContainer2" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
                    <p><b>Admission Time:-</b> {{errorLog.AdmissionTime}}</p>
    
                    <p><b>Caller Number:-</b> {{errorLog.Number}}</p>
    
                    <p><b>PatientStatus Date:-</b> {{errorLog.PatientStatusDate}}</p>
                </div>
            </div>

            <p><b>Log:-</b> {{errorLog.ErrorLog}}</p>

        </div>

    </div>

    <!-- <div *ngIf="showCensusErrorLog" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div class="errorPanelContainer" *ngFor="let errorLog of censusErrorRecords">
            <mat-expansion-panel class="expansionPanel" [expanded]='true'>
                <mat-expansion-panel-header>
    
                  <mat-panel-title> 
                    <h4><b>TagNumber:- </b><b class="link" (click)="tagNumberClicked(errorLog.TagNumber)">{{errorLog.TagNumber}}</b></h4>
                  </mat-panel-title>
    
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
                        <p><b>CallTime:-</b> {{errorLog.CallDateTime}}</p>
                        <p><b>AdmissionTime:-</b> {{errorLog.AdmissionTime}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
                        <p><b>CallerName:-</b> {{errorLog.CallerName}}</p>
                        <p><b>CallerNumber:-</b> {{errorLog.Number}}</p>
                    </div>
                    <p><b>Log:-</b> {{errorLog.ErrorLog}}</p>
                </div>
    
              </mat-expansion-panel>
        </div>
    </div> -->

   

    <mat-spinner class="mat-spinner" *ngIf="loading"></mat-spinner>

    <div *ngIf="!showCensusErrorLog" fxLayout="column" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign = "center center">

        <fieldset class="form-sub-group" *ngFor= "let area of censusArea">

            <legend class="legend">{{area.areaName}}</legend>

            <div *ngFor = 'let action of area.actions'>

                <mat-form-field class="census-chip-list">

                        <mat-chip-list #movedInOut aria-label="Moved-In ChipList">

                            <mat-chip #ref *ngFor="let tag of action.patients"
                            [style.background] = "tag.errorCode == 0 ? tag.colour : '#cc3300'"
                            [removable]="removable"
                            (removed)="removePatients(area.areaId, action.actionId , tag)">

                            <mat-icon matchipSelect *ngIf="!tag.patientId">warning</mat-icon>
                                {{tag.tagNumber}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>

                            </mat-chip>

                            <input [placeholder] = "action.actionName"
                            [matChipInputFor]="movedInOut"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addPatients(area.areaId,action.actionId,$event)">

                        </mat-chip-list>

                </mat-form-field>

            </div>

        </fieldset>

    </div>
</fieldset>
