
body {
    margin: 0 !important;
}


.form-group {
    width: 92%;
    padding-bottom: 30px;
}

.form-sub-group {
    width: 91%;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-left: 50%;
    z-index: 5000;
    margin: auto;
}

.census-chip-list {
    width: 100%;
    padding-top: 10px;
}

@media(max-width: 600px) { 
    .census-chip-list {
        max-width: 100% !important;
    } 
}

.censusErrorRecordButton
{ 
    position: absolute; 
    right: 1rem; 
    top: 1rem; 
}

fieldset.form-group {
    position: relative; 
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true])
.mat-expansion-panel-header:hover
{
  background-color: lightsteelblue !important;
 
}

.errorLogContainer {
    width: 50rem;
    border: 1px solid;
    border-color: silver;
    border-radius: 20px;
    margin-left: 30%;
    margin-bottom: 10px;
    box-shadow: 2px 2px;
    background-color: #ffcccc;
}


.recordDetailsContainer1 {
    margin-left: 10px;
    width: 15rem;
}

.recordDetailsContainer2 {
    width: 15rem;
}

.errorDivContainer {
    width: auto;
}


@media (max-width: 600px){
    .errorLogContainer {
        width:auto;
        margin-left: 0;
        box-shadow: 2px 2px;
        background-color: #ffcccc;

    }
    
    
    .recordDetailsContainer1 {
        width:auto;
      
    }
    
    .recordDetailsContainer2 {
        width:auto;
       
    }
    
    .errorDivContainer {
        width:auto;
       
    }
}



// .mat-expansion-panel-content > .mat-expansion-panel-body {
//     background-color: red !important;
// }

