
body {
    margin: 0 !important;
}


.form-group {
    margin: 30px;
    padding-bottom: 30px;
}

.form-sub-group {
    width: 80%;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-left: 50%;
    z-index: 5000;
    margin: auto;
}

.census-chip-list {
    width: 100%;
    padding-top: 10px;
}

.censusErrorRecordButton {
    position: absolute;
    right: 2rem;
    background-color: #ffcccc;
    border: 1px solid;
    box-shadow: 2px 2px;

}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true])
.mat-expansion-panel-header:hover
{
  background-color: lightsteelblue !important;
 
}

.errorLogContainer {
    width: 50rem;
    border: 1px solid;
    border-color: silver;
    border-radius: 20px;
    margin-left: 30%;
    margin-bottom: 10px;
    box-shadow: 2px 2px;
    background-color: #ffcccc;
}


.recordDetailsContainer1 {
    margin-left: 10px;
    width: 15rem;
}

.recordDetailsContainer2 {
    width: 15rem;
}

.errorDivContainer {
    width: auto;
}


@media (max-width: 600px){
    .errorLogContainer {
        width:auto;
        margin-left: 0;
        box-shadow: 2px 2px;
        background-color: #ffcccc;

    }
    
    
    .recordDetailsContainer1 {
        width:auto;
      
    }
    
    .recordDetailsContainer2 {
        width:auto;
       
    }
    
    .errorDivContainer {
        width:auto;
       
    }
}



// .mat-expansion-panel-content > .mat-expansion-panel-body {
//     background-color: red !important;
// }

