@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    margin: 0 !important;
}

$colour-border: #a9abad;
$primary-font-colour: #626262;
$standard-width: 175px;

.form1-group {
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    margin: 30px;
    border-color: $colour-border;
    padding-bottom: 30px;
}

.form-sub-group {
    background-color: white;
    align-items: center;
    width: 80%;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    border-color: $colour-border;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-left: 50%;
    z-index: 5000;
    margin: auto;
}

.example-chip-list {
    width: 100%;
    padding-top: 10px;
}

