<div [formGroup]="patientCallForm">

    <div formArrayName="calls">

    <mat-expansion-panel *ngFor="let call of calls.controls; let i = index" [expanded]="call.get('expanded')?.value">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{calls.controls[i].get('callDateTime')?.value | date: 'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-description>
            {{calls.controls[i].get('assignedTo')?.value?.FirstName}} : {{calls.controls[i].get('callType')?.value?.CallType}}
          </mat-panel-description>
        </mat-expansion-panel-header>

            <div formGroupName="{{i}}">

            <div class="flex-column gap-20 flex-start-start">

            <div class="flex-row flex-wrap gap-20 flex-start-center">

            <mat-form-field >
                <mat-label>Call type</mat-label>
                <mat-select  formControlName="callType" [compareWith]="compareCallTypes" [errorStateMatcher]="errorMatcher">
                    <mat-option *ngFor="let callType of callTypes$ | async" [value]="callType">
                        {{callType.CallType}}
                    </mat-option>
                </mat-select>
            </mat-form-field >

            <mat-form-field>
                <mat-label>Call outcome</mat-label>
                <mat-select formControlName="patientCallerInteractionOutcomeId" [errorStateMatcher]="errorMatcher">
                    <mat-option *ngFor="let outcome of callOutcomes$ | async" [value]="outcome.PatientCallerInteractionOutcomeId">
                        {{outcome.PatientCallerInteractionOutcome}}
                    </mat-option>
                </mat-select>
            </mat-form-field >

            <mat-form-field>
                <input formControlName="callDateTime" type="datetime-local"
                (focus)="setInitialTime('callDateTime', i)"
                [max]="maxDate" [errorStateMatcher]="errorMatcher" placeholder="Call time" matInput>
            </mat-form-field>

            </div>

            <div class="flex-row flex-wrap" class="gap-20" class="flex-start-center">


            <mat-form-field>
                <mat-label>Done by</mat-label>
                <mat-select formControlName="doneBy" [compareWith]="compareAssignedTo" [errorStateMatcher]="errorMatcher">
                    <mat-option *ngFor="let assignee of assignedTo$ | async" [value]="assignee">
                        {{ assignee.employeeNumber + ' - ' + assignee.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox formControlName="positiveInteraction">Positive interaction</mat-checkbox>

            </div>


            <div>
                <mat-form-field class="textBoxWrapper">
                    <textarea formControlName="comments" rows="2" placeholder="Comments" [errorStateMatcher]="errorMatcher" matInput></textarea>
                </mat-form-field>
            </div>

        </div>

    </div>

      </mat-expansion-panel>

    </div>

    <div class="flex-row flex-wrap" class="gap-20" class="flex-start-center">

        <button mat-raised-button (click)="addPatientCall(true)" color="primary">Add call</button>
        <button mat-raised-button (click)="savePatientCall()" color="primary">Save</button>

    </div>



</div>

