@media only screen and (max-width:767px){
    .wide{
        width:unset;
    }
}

.form-sub-group{
    padding:10px;
}

@media only screen and (min-width:767px){
    .addCallerButton{
        margin-left: calc(50% - 15px);
        margin-top: -7px;
        width: 30px;
        height: 30px;
        .mat-icon{
            font-size:1rem;
            position: relative;
            top: -1px;
        }
    }
}

@media(max-width: 600px) { 
    .addCallerButton{
        margin-left: calc(50% - 15px);
        margin-top: -15px;
        width: 25px;
        height: 25px;
        .mat-icon{
            font-size:1rem;
            position: relative;
            top: -3px;
        }
    }
}
