<fieldset [formGroup]="callerDetails" class="form-sub-group" autocomplete="off">

    <legend class="legend">Caller Details</legend>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">

      <mat-form-field class="wide">
        <input tabindex="3" formControlName="callerNumber" type="tel" placeholder="Number" [matAutocomplete]="auto" [errorStateMatcher]="errorMatcher" matInput>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="setCallerDetails($event)">
                <mat-option *ngFor="let caller of callerAutoComplete$ | async;" [value]="caller">

                  <span>{{ caller.Number }}</span> |
                  <small>{{ caller.Name }}</small>

                </mat-option>
        </mat-autocomplete>
      </mat-form-field>

        <mat-form-field>
                <input tabindex="4" formControlName="callerName" type="text" placeholder="Name" [errorStateMatcher]="errorMatcher" matInput>
        </mat-form-field>

        <mat-form-field>
                <input tabindex="5" formControlName="callerAlternativeNumber" type="tel" placeholder="Alt. Number" matInput>
        </mat-form-field>

    </div>

  </fieldset>



