@media only screen and (max-width:767px){
    .wide{
        width:unset;
    }
}
.legend{
    position: relative;
    z-index: 9;
}
.form-sub-group{
    padding:5px 10px 5px;
}

.addCallerButton{
    margin-top: -7px;
    width: 30px;
    height: 30px;
    .mat-icon{
        font-size:1rem;
    }
}
.callerArray {
    margin-bottom: 1rem;
    &.lastCallerInArray {
        margin-bottom: 0;
    }
}
@media (max-width:600px){
    .addCallerButton{
        margin-top: -7px;
        width: 30px;
        height: 30px;
        .mat-icon{
            font-size:1rem;
        }
    }
}