@media only screen and (max-width:767px){
    .wide{
        width:unset;
    }
}

.form-sub-group{
    padding:10px;
}

@media only screen and (min-width:767px){
    .addCallerButton{
        float: right;
        margin-right: -0.4rem;
    }
}
