
.deleteCallerButton {
    float : right;
    margin-top:1rem;
}

.flex-wrap-gap{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkBox {
    margin-left: 5px;
}

::ng-deep .cdk-overlay-pane{
    min-width: 250px;
}


@media only screen and (min-width:767px)
{
    .callerForm {
        border-radius: 0.5rem;
        box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 white;
        padding: 0 25px 0 5px;
        position: relative;
        align-items: baseline;
        width: auto;
        .mat-form-field{
            flex-grow: 1;
        }
    }
    .deleteCallerButton {
        position: absolute;
        top: -1.5rem;
        right: -0.5rem;
        width: 30px;
        height: 30px;
        .mat-icon{
            font-size:1rem;
        }
    }
    .imageIcons {
        display: none;
    }
    
}

@media(max-width: 600px) {

    .callerForm {
        border-radius: 0.5rem;
        box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 white;
        align-items: baseline;
        position: relative;
        padding: 5px;
    }
    button.mat-focus-indicator.deleteCallerButton {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(34%, -50%);
        margin-top:0;

        .mat-icon {
            position: absolute;
            top: 4px;
            left: 1px;
            font-size: 1rem;
        }
    }

    .imageIcons {
        width: 3em !important;
        position: relative;
        margin-left: 25%;
        margin-bottom: -1em;
    }

}
