<div [formGroup]="callerForm" class="callerForm flex-wrap-gap">

    <button type="button" (click)="checkBox(callerIndex)"
    matTooltip="Primary caller"
    [ngStyle]="{ 'color' : callerForm.get('primaryCaller')?.value ? 'green' : 'lightgrey' }" mat-icon-button >
        <mat-icon>star</mat-icon>
    </button>

    <mat-form-field>
        <mat-label>Number</mat-label>
        <input tabindex="3" type="tel" #callerNumberRef formControlName="callerNumber" [matAutocomplete]="auto" matInput [errorStateMatcher]="errorMatcher">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="setCallerDetails($event)">
            <mat-option *ngFor="let caller of callerAutoComplete$ | async;" [value]="caller">

                <span>{{ caller.Number }}</span> |
                <small>{{ caller.Name }}</small>

            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input tabindex="4" 
        formControlName="callerName" 
        type="text"
        matInput 
        [errorStateMatcher]="errorMatcher">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Alt. Number</mat-label>
        <input tabindex="5" formControlName="callerAlternativeNumber" type="tel" matInput  [errorStateMatcher]="errorMatcher">
    </mat-form-field>
    
    <button type="button" class="delete-caller-button" (click)="removeCaller($event, callerIndex)" mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
    </button>

    <div href="caller.callerNumber">
        <img src="../../../../assets/icons/callButton.svg" class="imageIcons" alt="call_Button">
    </div>
</div>