
.deleteCallerButton {
    float : right;
    margin-top:1rem;
}

.checkBox {
    margin-left: 5px;
}

::ng-deep .cdk-overlay-pane{
    min-width: 250px;
}

@media only screen and (min-width:767px)
{
    .callerForm {
        border-radius: 1rem;
        width: 96%;
        margin-bottom: 1rem;
        box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 white;
        padding-left: 15px;
    }
    .deleteCallerButton {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}