.unaccepted-item{
    box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 white;
    min-height: 65px;
    margin: 5px 0 5px 0;
    border-radius: 8px;
  }

  .unaccepted-form-fields{
    padding-top: 10px;
  }

