    <fieldset class="form-sub-group" *ngIf="movedRecords.length > 0" [formGroup]="movedRecordsGroup">

     <legend class="legend">{{listType | titlecase}}</legend>

       <div *ngFor="let item of movedRecords.controls; let index = index" formArrayName="movedList">


         <div [formGroupName]="index" class="unaccepted-item flex-row flex-wrap flex-center-center">

        <div class="unaccepted-form-fields flex-row flex-wrap">

            <button mat-button class="action-button"
            [ngStyle]="{ 'border-color' :
                                listType === 'admissions' ? 'green' :
                                listType === 'rejected from' ? 'red' :
                                listType === 'moved in from' ? '#f0ca00' : 'white',
            'color' : listType === 'admissions' ? 'green' : listType === 'rejected from' ? 'red' : listType === 'moved in from' ? '#f0ca00' : 'white'}"
            >
              {{item.get('Actioned by area')?.value || 'Admission'}}
              <mat-icon *ngIf="listType === 'admissions'" >plus_one</mat-icon>
              <mat-icon *ngIf="listType === 'rejected from'">error</mat-icon>
              <mat-icon *ngIf="listType === 'moved in from'">swap_horiz</mat-icon>
            </button>

          </div>

            <div class="unaccepted-form-fields flex-row flex-wrap">


              <mat-form-field class="moved-field">
                <mat-label>Tag number</mat-label>

                <input matInput disabled="true" [value]="item.get('Tag number')?.value">
              </mat-form-field>

              <mat-form-field class="moved-field">
                <mat-label>Treatment priority</mat-label>
                <mat-select disabled="true" [value]="item.get('Treatment priority')?.value">
                  <mat-option>N/A</mat-option>
                  <mat-option *ngFor="let priority of treatmentPriorities | async" [value]="priority.PriorityId">{{priority.Priority}}</mat-option>
                </mat-select>
              </mat-form-field>



          </div>

          <div class="flex-row flex-wrap button-container gap-20">

            <button mat-button class="accept-button" [disabled]="moveOut" (click)="acceptMove(item)">
              <mat-icon>check_circle</mat-icon>
              Accept
            </button>

            <button *ngIf="listType === 'moved in from' || listType === 'admissions'" mat-button class="reject-button" (click)="rejectMove(item)">
              <mat-icon>highlight_off</mat-icon>
              Reject
            </button>

          </div>


       <div class="moved-out flex-row flex-wrap"
       *ngIf="listType === 'rejected from'">

        <button mat-button class="moveout-button" (click)="toggleMoveOut(item)">
          <mat-icon>arrow_right_alt</mat-icon>
          Move out
        </button>


        <mat-form-field *ngIf="moveOut">
          <mat-select
          [errorStateMatcher]="errorMatcher"
          (selectionChange)="areaChanged(item, index)"
          [placeholder]="movedAction"
          formControlName="Moved to">

            <mat-option>N/A</mat-option>
            <mat-option [value]="area.areaId" *ngFor="let area of allAreas">{{ area.areaName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-spinner *ngIf="item.get('saving')?.value" class="saved-spinner" [diameter]="24"></mat-spinner>
        <mat-icon [@fadeSavedIcon]="item.get('saved')?.value" *ngIf="item.get('saved')?.value" class="saved-icon">check_circle</mat-icon>

      </div>

        </div>

      </div>

    </fieldset>