.unaccepted-item{
    box-shadow: 6px 6px 16px 0 rgb(0 0 0 / 20%), -6px -6px 16px 0 white;
    min-height: 65px;
    margin: 5px 0 5px 0;
    border-radius: 8px;
    padding-left: 10px;
  }



  .unaccepted-form-fields{
    padding-top: 10px;
  }

.reject-button{
    background-color: red;
    border-radius: 8px;
    color: white;
    min-width: 118px;
}

.accept-button{
    background-color: green;
    border-radius: 8px;
    color: white;
    min-width: 118px;
}

.moveout-button{
  background-color: orange;
  border-radius: 8px;
  color: white;
  min-width: 118px;
}

.action-button{
    border-bottom: 6px solid;
    width: 125px;
    cursor: default;
}

.moved-out{
  min-width: 215px !important;
}

@media only screen and (max-width: 600px) {

  .unaccepted-item{
    padding-left: 0;
  }

  .moved-field{
    max-width: 48%;
  }

  .moved-out{
    padding-bottom: 10px;
    min-width: 215px !important;
  }

  .button-container{
    padding-bottom: 10px;
    margin-right: 0px !important;
  }

}

:host ::ng-deep .form-sub-group {
    padding-left: 10px !important;
    padding-right: 5px !important;
  }
