<div [formGroup]="releaseRequestForm">
<div fxLayout="row wrap" fxLayoutGap="5vh" fxLayoutAlign="start end">
    <mat-form-field appearance="fill">
        <mat-label>Requested-user</mat-label>
        <mat-select formControlName="requestedUser">
            <mat-option *ngFor="let user of userList" [value]="user.userName">
                {{user.userName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Request-date</mat-label>
        <input matInput formControlName="requestedDate" type="date" name="RequestedDate">
    </mat-form-field>

</div>
</div>