.ngx-flexible-select-option {
    font-family: arial !important;
}

.mat-card-header {
    background-color: #607d8b;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    padding-top: 10px;
}

.mat-card-title {
    color: white;
    font-weight: bold;
}

.mat-card-content {
    margin-bottom: 0px;
    height: 180px;
}

.circle-edit-button {
    position: absolute;
    width: 52px;
    height: 52px;
    cursor: pointer;
    top:22px;
    color: #607d8b;
    font-weight: bold;
    right: 4px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle-image-button {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 120px;
    color: #607d8b;
    font-weight: bold;
    right: 10px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.location {
    font-style: normal;
    font-weight: bold;
    font-size: 15.3px;
    line-height: 19px;
    color: #607d8b;

    padding: 10px 10px 0px 10px;
}

.location-line {
    stroke: #607d8b;
    stroke-width: 4;
}

.details-container {
    display: inline-flex;
    align-items: center;
}

.name {
    margin: 10px 0px 0px 10px;
}

.telephone {
    float: left;
    margin: 10px 0px 0px 10px;
}

.telephone-dash-container {
    height: 100%;
}

.telephone-dash {
    stroke: #607d8b;
    stroke-width: 4;
}

.animal {
    margin: 10px 0px 0px 10px;
}

.animal-location {
    margin: 10px 0px 10px 10px;
}

.elipse {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;

    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.emergency-card-footer {
    background-color: #607d8b;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
}

.mat-card-actions {
    margin: 0px;
}

.mat-card-footer {
    background-color: #607d8b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 8px 8px;
    margin: 0px;
    color: white;
}

@media screen and (max-width: 800px) {
    ::ng-deep.full-width-dialog{
        width: 110vw !important;
      }
  }
@media screen and (min-width:600px){
    ::ng-deep.full-width-dialog {
        width: 57vw !important;
    }
}
::ng-deep.full-width-dialog {
    width: 40vw;
}