<h1 mat-dialog-title
cdkDrag
cdkDragRootElement=".cdk-overlay-pane"
cdkDragHandle
*ngFor="let patient of this.data.caseDetails.patients"
>Release details - {{this.data.caseDetails.emergencyNumber}} - {{patient.tagNumber}}</h1>

<div mat-dialog-content>

  <app-assign-release [formData]="formData" (saveSuccessResponse)="onSaveResponse($event)" #releaseDetails></app-assign-release>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="releaseDetails.saveReleaseDetails()">Save</button>
</div>



