<fieldset class="form-sub-group">

    <legend class="legend">Treatment details</legend>

    <table mat-table [dataSource]="treatmentRecords" class="mat-elevation-z8">

        <ng-container matColumnDef="Treatment date">
          <th mat-header-cell *matHeaderCellDef> Treatment date </th>
          <td mat-cell *matCellDef="let element" (click)="editTreatment(element)" class="link">{{element.treatmentDateTime | date:'dd MMM yyyy HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="Eye discharge">
          <th mat-header-cell *matHeaderCellDef> Eye discharge </th>
          <td mat-cell *matCellDef="let element"> {{element.eyeDischarge}} </td>
        </ng-container>

        <ng-container matColumnDef="Nasal discharge">
            <th mat-header-cell *matHeaderCellDef> Nasal discharge </th>
            <td mat-cell *matCellDef="let element"> {{element.nasalDischarge}} </td>
          </ng-container>

        <ng-container matColumnDef="Comment">
          <th mat-header-cell *matHeaderCellDef> Comment </th>
          <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let row">
            <mat-icon (click)="deleteTreatment(row)" *ngIf="!row?.deleted" style="cursor:pointer">delete</mat-icon>
            <mat-icon (click)="deleteTreatment(row)" *ngIf="row?.deleted" style="cursor:pointer">undo</mat-icon>

            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!--<button type="button" mat-raised-button color="primary" (click)="addTreatment()">Add treatment</button>-->

      <div class="flex-row flex-center-center" style="padding-top: 10px;">
        <button type="button" mat-mini-fab (click)="addTreatment()" color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </fieldset>

