<form fxLayoutAlign="center center" [formGroup]="recordForm" autocomplete="off" (ngSubmit)="saveForm()">

  <mat-spinner class="mat-spinner" *ngIf="loading"></mat-spinner>

  <div fxLayout="column">

    <emergency-details [recordForm]="recordForm" [focusEmergencyNumber]="true"
      (loadEmergencyNumber)="emergencyNumberUpdated($event)"></emergency-details>

    <caller-details [recordForm]="recordForm"></caller-details>

    <location-details [recordForm]="recordForm"></location-details>

    <animal-selection (problemTabPressed)="tabPresses($event)" [outcome]="false" [recordForm]="recordForm"></animal-selection>

    <fieldset class="form-sub-group">

      <legend class="legend">Rescue Details</legend>

      <rescue-details [recordForm]="recordForm"
        [emergencyCaseId]="recordForm.get('emergencyDetails.emergencyCaseId')?.value">
      </rescue-details>

    </fieldset>

    <animal-selection [outcome]="true" [recordForm]="recordForm"></animal-selection>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" class="form-sub-group">

      <div class="emergencySyncIcon">
        <mat-icon *ngIf="recordForm.dirty || (!emergencyCaseId && !syncedToLocalStorage)"
          matTooltip="Changes not saved">sync_disabled</mat-icon>
        <mat-icon *ngIf="!recordForm.dirty && syncedToLocalStorage" matTooltip="Changes saved locally">cloud_off
        </mat-icon>
        <mat-icon *ngIf="!recordForm.dirty && !syncedToLocalStorage && emergencyCaseId" style="color:seagreen"
          matTooltip="Changes saved to server">cloud_done</mat-icon>
      </div>

      <button mat-raised-button color="primary" tabindex="16" type="submit"
        [disabled]="recordForm.invalid">Save</button>

      <button mat-raised-button color="secondary" tabindex="17" type="button" (click)="resetForm()">Reset</button>

      <mat-icon color="primary" class="logs_btn"
      mattooltip="View logs"
        (click)="openLogsDialog(recordForm?.get('emergencyDetails.emergencyCaseId')?.value,recordForm?.get('emergencyDetails.emergencyNumber')?.value); $event.preventDefault();">
        description
      </mat-icon>

      <mat-icon
      (click)="openCommentDialog(); $event.preventDefault();"
      [matBadge]="hasComments ? 1 : 0" matBadgeColor="primary"
      role="img" mattooltip="Add/Edit comment" color="primary"
      class="comment-icon"> comment </mat-icon>

    </div>


  </div>
</form>