$colour-border: #a9abad;
$primary-font-colour: #626262;
$standard-width: 183px;

.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
}

.wide {
    max-width: $standard-width * 2 + 5px;
}

.extra-wide {
    max-width: $standard-width * 2.1 !important;
}

.label {
    color: currentColor;
    align-self: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.extra-padding {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mat-spinner {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 5000;
    margin: auto;
}

.mat-expansion-panel{
    margin-top: 10px;
}

.mat-wrapper {
    width:95%;
}


.emergencySyncIcon .mat-icon {
    font-size: 2.5rem;
    color: gold;
    cursor: default;
    position: relative;
    margin-bottom: 0;
    padding-right: .35rem;
}

.iconWrapper {
    position: absolute;
}

.mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons {
    font-size: 2.5rem;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-right: 0.25rem !important;
}

.disable {
    pointer-events: none;
}



@media(max-width: 600px) {
    .emergencySyncIcon {
        margin-right: 0.3rem !important;
        .mat-icon {
            font-size: 1.5rem;
            color: gold;
            cursor: default;
        }
    }

    .iconWrapper {
        position: relative;
        margin-bottom: -20px !important;

    }

    .mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .mat-icon.comment-icon{
        font-size:1.5rem;
    }
    .comment-box{
        margin-top:0.5rem;
    }
    .mat-form-field:nth-child(even), ::ng-deep .mat-form-field:nth-child(even){
        margin-right:0 !important;
    }
    .mat-form-field, ::ng-deep .mat-form-field {
        max-width: 44.7% !important;
    }
}

@media only screen and (min-width:767px) and (max-width: 1024px) {
    .emergencySyncIcon .mat-icon {
        font-size: 1.5rem;
        color: gold;
        cursor: default;
    }

    .iconWrapper {
        position: relative;
        margin-bottom: -20px !important;

    }

    .mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons {
        font-size: 1.5rem;
        cursor: pointer;
    }
    .mat-icon.comment-icon{
        font-size:1.5rem;
    }
}

.comment-icon {
    font-size: 2.5rem;
    height: auto;
    width: auto;
    display: flex;
    cursor: pointer;
}

.comment-box{
    position: relative;
    margin-top: 0.7rem;
    display: flex;

}
.comment-badge{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, -30%);
    background: #f44336;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: -2px 1px 2px 0 rgb(0 0 0 / 2%), -3px 4px 2px 0 rgb(1 1 1 / 25%);
    font-weight: 600;
}