$colour-border: #a9abad;
$primary-font-colour: #626262;
$standard-width: 183px;

.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
}

.wide {
    max-width: $standard-width * 2 + 5px;
}

.extra-wide {
    max-width: $standard-width * 2.1 !important;
}

.label {
    color: currentColor;
    align-self: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.extra-padding {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}



@media (min-width: 700px) {
    //code for >700px devices
    .breakpoint-box {
        height: 10px;
        width: 10px;
        background-color: blue;
    }
}

@media (max-width: 700px) {
    //code for >700px devices
    .breakpoint-box {
        height: 10px;
        width: 10px;
        background-color: red;
    }
}