


<form [formGroup]="recordForm" autocomplete="off" (ngSubmit)="saveForm()">

  <mat-spinner class="mat-spinner" *ngIf="loading"></mat-spinner>
  
        <div fxLayout.lt-md="column" fxLayout.gt-sm="row"  fxLayoutGap="5px" fxLayoutAlign="start">

          <div fxLayout="column" fxFlex="1 1 57" fxLayoutGap="15px" fxLayoutAlign="start">

            <emergency-details [recordForm]="recordForm" [focusEmergencyNumber]="true" (loadEmergencyNumber)="emergencyNumberUpdated($event)"></emergency-details>

              <mat-expansion-panel [expanded]="hasComments">

                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <p class="legend">Comments</p>
                  </mat-panel-title>

                  <mat-panel-description>
                    <p>Add Comment</p>
                  </mat-panel-description>

                </mat-expansion-panel-header>

                <mat-form-field style="width: 90%;">
                  <mat-label>Comments</mat-label>
                  <textarea matInput  formControlName="caseComments"></textarea>
                </mat-form-field>

              </mat-expansion-panel>

            <animal-selection [recordForm]="recordForm"></animal-selection>

          </div>

          <div fxLayout="column" fxFlex="0 1 43" fxLayoutGap="5px" fxLayoutAlign="start">

              <caller-details [recordForm]="recordForm"></caller-details>

              <location-details [recordForm]="recordForm"></location-details>

              <fieldset class="form-sub-group">

                  <legend class="legend">Rescue Details</legend>

                  <rescue-details
                      [recordForm]="recordForm"
                      [emergencyCaseId]="recordForm.get('emergencyDetails.emergencyCaseId')?.value">
                  </rescue-details>

              </fieldset>


                <fieldset class="form-sub-group">

                      <legend class="legend">Call Outcome</legend>

                      <emergency-case-outcome [recordForm]="recordForm"></emergency-case-outcome>

                </fieldset>

                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" class="form-sub-group">
                  <button mat-raised-button color="primary" tabindex="16" type="submit" [disabled]="recordForm.invalid">Save</button>

                  <button mat-raised-button color="primary" tabindex="17" type="reset">Reset</button>
                </div>

          </div>

        </div>
</form>




