$colour-border: #a9abad;
.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.teamdeleted{
    margin-left: 10px;
    color:#0000008f;
}
.team_list_table_group{
    position: relative;
    margin-top: 10px;
    min-height: 50px;
    border-radius:5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    & h3{
        position: absolute;
        left: 5px;
        top: -30px;
        padding: 0 5px;
        background: white;
        font-size: large;
        color: #a9abad;
    }
}
table {
    width: 100%;
}

.filter {
    font-size: 18px;
    width: 100%;
    margin-top: 25px;
}

.mat-row:hover{
  background-color: #8F99A0;
  cursor: pointer;

}

@media(max-width: 600px) {
    .form-sub-group {
        border: 2px solid;
        border-radius: 5px;
        border-color: $colour-border;
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
        // margin-top: 60px;
    }
}