<div class="container">
        <h1 mat-dialog-title>Update Surgery Record - {{data.surgeryId}}</h1>

    <div class="flex" mat-dialog-content>
        <surgery-record
            [surgeryId] = "data.surgeryId"
            [animalType] = "data.animalType"
            (result)="onSurgeryDetailsResult($event)"
            #surgeryDetails>
        </surgery-record>
        
    </div>
    

    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="surgeryDetails.updateSurgery()" cdkFocusInitial>Update</button>
    
    </div>
</div>
