<form [formGroup]='userDetails' (ngSubmit)='Submit(userDetails)'>

    <mat-spinner [diameter]="100" class="mat-spinner" *ngIf="loading"></mat-spinner>

    <fieldset class='form-sub-group'>
        <legend class="legend">User details</legend>

        <div fxLayout='row' fxLayoutGap= '20px' fxLayout.lt-md="row wrap" fxLayoutAlign='start center'>
            <mat-form-field>
                <input type= 'text' placeholder='First name' formControlName='firstName' matInput required>
            </mat-form-field>
            <mat-form-field>
                <input type= 'text' placeholder='Last name' formControlName='surName' matInput required>
            </mat-form-field>
            <mat-form-field>
                <span matPrefix>+91 &nbsp;</span>
                <input type= 'tel' placeholder='Phone number' formControlName= 'telephone' matInput>
            </mat-form-field>
            <mat-form-field>
                <input type= 'text' placeholder='Initials' formControlName= 'initials' matInput>
            </mat-form-field>

        </div>


        <div fxLayout='row' fxLayoutGap= '20px' fxLayout.lt-md="row wrap" fxLayoutAlign='start center'>
            <mat-form-field>
                <input type='text' placeholder="Username" formControlName= 'userName' matInput required>
            </mat-form-field>

            <mat-form-field>
                <input [type]='hide?"password":"text"' placeholder="Password" formControlName= 'password' matInput>
                <mat-icon matSuffix style="cursor: pointer;" (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Pick color</mat-label>
                <input type="color" formControlName='colour' matInput>
            </mat-form-field>

        </div>


        <div fxLayout='row' fxLayoutGap= '20px' fxLayout.lt-md="row wrap" fxLayoutAlign='start center'>

            <mat-slide-toggle formControlName="isStreetTreatUser" (change)="changed()">StreetTreat user</mat-slide-toggle>

        </div>

        <!-- <div > -->

            <div [@openCloseDiv]= streetTreatdropdown [@visibilityDiv]= streetTreatdropdown class= "streetTreatUser" fxLayout='row' fxLayoutGap= '20px' fxLayout.lt-md="row" fxLayoutAlign='start center'>
                <mat-form-field appearance="fill">
                    <mat-label>-Team-</mat-label>
                    <mat-select  formControlName= 'teamId'>
                        <mat-option *ngFor="let name of teamNames" [value]="name.TeamId">
                        {{name.TeamName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>-StreetTreat role-</mat-label>
                    <mat-select formControlName='roleId' >
                        <mat-option *ngFor="let role of streettreatRoles" [value]="role.roleId">
                            {{role.roleName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
<!--
        </div> -->



        <div fxLayout='row' fxLayoutGap= '20px' fxLayout.lt-md="row wrap" fxLayoutAlign='start center'>
            <mat-form-field style="padding-top: 20px;" appearance="fill">
                <mat-label>-User job type-</mat-label>
                <mat-select formControlName= 'jobTitleId' multiple>
                    <mat-option *ngFor='let jobType of jobTypes' [value]='jobType.JobTypeId'>
                        {{jobType.Title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="padding-top: 20px;">
                <mat-label>User permissions</mat-label>
                <mat-select multiple formControlName = "permissionArray">
                  <mat-optgroup *ngFor="let group of permissionGroupObject" [label]="group.groupName">
                    <mat-option *ngFor="let permission of group.permissions" [value]="permission.permissionId" (onSelectionChange)="permissionChanges($event)">
                      {{permission.permissionType}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
        </div>

        <div fxLayout='row' fxLayoutGap= '10px' fxLayout.lt-md="row wrap" fxLayoutAlign='start center'>
            <button type='submit' mat-raised-button color='primary'>Save</button>
            <button type='button' mat-raised-button color='primary'>Delete</button>
            <button type='button' (click)="resetForm()" mat-raised-button color='white'>Reset</button>
        </div>
    </fieldset>
</form>


<mat-form-field class="filter">
    <mat-label>Filter<mat-icon>filter_alt</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort
    class = "sortTableCursor">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="surName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.surName}} </td>
        </ng-container>

        <ng-container matColumnDef="initials">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Initials </th>
            <td mat-cell *matCellDef="let row"> {{row.initials}} </td>
        </ng-container>

        <ng-container matColumnDef="colour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Colour </th>
            <td mat-cell *matCellDef="let row"> {{row.colour}} </td>
        </ng-container>

        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
            <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
            <td mat-cell *matCellDef="let row"> {{row.team}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> StreetTreat Role </th>
            <td mat-cell *matCellDef="let row"> {{row.role}} </td>
        </ng-container>

        <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
            <td mat-cell *matCellDef="let row"> {{row.jobTitle}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div> -->



<div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">First Name:</span>
          {{row.firstName}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="surName">
        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Surname:</span>
          {{row.surName}}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="initials">
        <mat-header-cell *matHeaderCellDef> Initials </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Initials:</span>
          {{row.initials}}
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="colour">
        <mat-header-cell *matHeaderCellDef> Colour </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Colour:</span>
          {{row.colour}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Phone Number:</span>
          {{row.telephone}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">User Name:</span>
          {{row.userName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef> Team  </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Team :</span>
          {{row.team}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> StreetTreat Role </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">StreetTreat Role:</span>
          {{row.role}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef> Job Title </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Job Title:</span>
          {{row.jobTitle}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>







