<fieldset fxFlex class="form-sub-group">
            
        <legend class="legend">Animal Details</legend>

        <table mat-table #animalTable [dataSource]="animalDataSource" class="mat-elevation-z8">

              <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? toggleRow(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
            </td>
        </ng-container>

            <ng-container matColumnDef="species">
                <th mat-header-cell *matHeaderCellDef> Species\Type </th>
                <td mat-cell *matCellDef="let element" (click)="toggleRow(element)"> {{element.species}} </td>
            </ng-container>

            <ng-container matColumnDef="mainProblem">
                    <th mat-header-cell *matHeaderCellDef> Main Problem(s) </th>
                    <td mat-cell *matCellDef="let element" (click)="toggleRow(element)"> {{element.problemsString}} </td>
            </ng-container>

            <ng-container matColumnDef="tagNo">
                    <th mat-header-cell *matHeaderCellDef> Tag Number </th>
                    <td mat-cell *matCellDef="let element" (click)="updateTag(element)" style="cursor:pointer"> {{element.tagNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let row">
                <mat-icon (click)="deleteAnimalRow(row)" style="cursor:pointer">delete</mat-icon>
                
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="animalArrayDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: animalArrayDisplayedColumns;" (keydown.enter)="updateTag(row)"></tr>                        
            


            </table>



            <label class="label">Animal species\type</label>

            <!-- <mat-chip-list #speciesChips fxFlex aria-label="Animal species\type" selectable>
                    <mat-chip
                    (click)="animalChipSelected(speciesChip)"
                    (keydown.space)="animalChipSelected(speciesChip)"
                    #speciesChip="matChip"
                    *ngFor="let species of animalTypes">{{species.animalType}}</mat-chip>
            </mat-chip-list> -->

            <!-- (change)="animalChipSelected(speciesChip)"
            (click)="speciesChip.toggleSelected(); animalChipSelected(speciesChip)"
            (selectionChange)="animalChipSelected(speciesChip" -->

            <!-- (click)="method1()" -->

            <mat-chip-list #speciesChips aria-label="Animal species\type" selectable>
                <mat-chip
                (click)="speciesChip.toggleSelected()"
                (keydown)="cycleChips($event.key)"
                (selectionChange)="toggleAnimalChip(speciesChip)"
                #speciesChip="matChip"
                *ngFor="let species of animalTypes">{{species.animalType}}</mat-chip>
        </mat-chip-list>


            <label class="label">Main problem(s)</label>

            <mat-chip-list #problemChips fxFlex multiple selectable aria-label="Main problem(s)" >
                    <mat-chip
                    (click)="problemChip.toggleSelected()"
                    (selectionChange)="problemChipSelected(problemChip)"
                    #problemChip="matChip"
                    *ngFor="let problem of problems">{{problem.problem}}</mat-chip>
            </mat-chip-list>


      </fieldset>