<fieldset fxFlex class="form-sub-group">

        <legend class="legend">Patient Details</legend>

        <table mat-table #patientTable [dataSource]="patientDataSource" class="mat-elevation-z8">

              <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? toggleRow(row) : null"
                        [checked]="selection.isSelected(row)"
                        tabindex="7"
                        [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
            </td>
        </ng-container>

            <ng-container matColumnDef="animalType">
                <th mat-header-cell *matHeaderCellDef> Species </th>
                <td mat-cell *matCellDef="let row" (click)="toggleRow(row)"> {{row.get("animalType").value}} </td>
            </ng-container>

            <ng-container matColumnDef="mainProblem">
                    <th mat-header-cell *matHeaderCellDef> Main Problem(s) </th>
                    <td mat-cell *matCellDef="let row" (click)="toggleRow(row)"> {{row.get("problemsString").value}} </td>
            </ng-container>

            <ng-container matColumnDef="tagNo">
                    <th mat-header-cell *matHeaderCellDef> Tag Number </th>
                    <td mat-cell *matCellDef="let row"
                    (document:keydown.control.enter)="updateTag(row)"
                    (click)="updateTag(row)"
                    [class.duplicate]="row.get('duplicateTag').value"
                    style="cursor:pointer"> {{row.get("tagNumber").value}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let row">
                <mat-icon (click)="deletePatientRow(row)" *ngIf="!row.get('deleted').value" style="cursor:pointer">delete</mat-icon>
                <mat-icon (click)="deletePatientRow(row)" *ngIf="row.get('deleted').value" style="cursor:pointer">undo</mat-icon>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="patientArrayDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientArrayDisplayedColumns;"
            [class.deleted]="row.get('deleted').value"
            [class.invalid-row]="row.invalid"></tr>


            </table>



            <label class="label">Species</label>

            <mat-chip-list #animalTypeChips aria-label="Patient animalType\type" selectable>
                <mat-chip
                tabindex="7"
                (click)="animalTypeChip.toggleSelected()"
                (keydown.tab)="tabPressed('AnimalType')"
                (keydown.shift.tab)="shiftTabPressed('AnimalType')"
                (keydown)="cycleChips($event, 'animaltype', 'animalType')"
                (selectionChange)="animalChipSelected('auto',animalTypeChip);"
                #animalTypeChip="matChip"
                *ngFor="let animalType of animalTypes$">{{animalType.AnimalType}}</mat-chip>
        </mat-chip-list>

            <label class="label">Main problem(s)</label>

            <mat-chip-list #problemChips fxFlex multiple selectable aria-label="Main problem(s)" >
                    <mat-chip
                    tabindex="8"
                    (click)="problemChip.toggleSelected()"
                    (keydown.tab)="tabPressed('ProblemType')"
                    (keydown.shift.tab)="shiftTabPressed('ProblemType')"
                    (keydown)="focusProblemChip($event, problemChip)"
                    (selectionChange)="problemChipSelected(problemChip);"
                    #problemChip="matChip"
                    *ngFor="let problem of problems$">{{problem.Problem}}</mat-chip>
            </mat-chip-list>
      </fieldset>