<mat-form-field class="er-case-search-box">
    <span matPrefix (click)="executeSearch()" >
        <mat-icon style="cursor: pointer;" matSuffix>search</mat-icon>
    </span>
    <input
        #searchBox
        class="er-case-search-box"
        autocomplete="off"
        [(ngModel)]="search.searchString"
        type="text"
        (keyup.enter)="executeSearch()"
        matInput
        placeholder="Search cases"
    />
 
    <mat-icon style="cursor: pointer; font-size: 1.2rem; vertical-align: text-bottom;" id="clearSearchBtn" matSuffix (click)="search.searchString=''" >close</mat-icon>

    <mat-icon style="cursor: pointer;" matSuffix (click)="toggleSearchBox()">keyboard_arrow_down</mat-icon>
</mat-form-field>

<div
    [@expandSearchForm]="searchShowing ? 'open' : 'closed'"
    class="search-form"
    [formGroup]="searchForm"
>
    <div formArrayName="searchRows" *ngFor="let item of searchRows?.controls; let i = index" class="searchRows">
        <div [formGroupName]="i">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div fxFlex="7" fxFlexOrder="1" class="delete-search">
                    <button class="delete-search-row" style="cursor: pointer; margin-right:15px; " mat-mini-fab color="warn" aria-label="Delete this Visit" (click)="removeRow(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="row wrap" fxLayoutAlign="center center" class="searchbox">
                        <mat-form-field>
                            <mat-label>Search field</mat-label>
                            <mat-select formControlName="searchField" (selectionChange)="optionSelection($event,item)" [errorStateMatcher]="errorMatcher">
                                <mat-option *ngFor="let option of options" #id{{i}} [value]="option.id" >
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                            <mat-form-field *ngIf="item.get('inputType')?.value === 'dropdown'">
                                <mat-label>Options </mat-label>
                                <mat-select formControlName="searchTerm"  [errorStateMatcher]="errorMatcher">
                                    <mat-option  *ngFor="let optionDropdown of (item.get('dropdownObservable')?.value | async)" [value]="optionDropdown.value" >
                                        {{ optionDropdown.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="item.get('inputType')?.value !== 'dropdown'">
                                <input formControlName="searchTerm" autocomplete="off" matInput  type="{{item.get('inputType')?.value}}" [errorStateMatcher]="errorMatcher" />
                            </mat-form-field>



                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <button mat-mini-fab color="accent" aria-label="Add this Visit" class="add-search-row" (click)="addRow()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <button [disabled]="searchForm.invalid" mat-raised-button class="er-search-button" (click)="executeSearch()">
        Search
    </button>
</div>
