<div class="flex-row gap-3">

    <div *ngIf = "displayIconsDiv" class="displayIconDiv flex-column">

        <div (click)="openCallerDetailsDialog(driverViewAssignment)" class="iconDivWrapper flex-row gap-7">
            <img src="assets/icons/callButton.svg" class="imageIcons" alt="call_Button">
            <p>Caller</p>
        </div>
         <div (click)="openLocationDialog(driverViewAssignment)" class="iconDivWrapper flex-row gap-10">
            <img src="assets/images/maps_Logo.png" class="mapIcon" alt="mapIcon_Button">
            <p style="padding-left: 1%;">Location</p>
        </div>
        <div (click)="openPatientSelectForMediaDialog(driverViewAssignment)" class="iconDivWrapper flex-row gap-10">
            <mat-icon class="addImageIcon">add_a_photo</mat-icon>
            <p style="padding-left: 1%;">Add images</p>
        </div>

    </div>

    <div style="padding-top: 1em; cursor: pointer;" (click)="displayIconsDiv = !displayIconsDiv">
        <mat-icon>menu</mat-icon>
    </div>


</div>

<div>
    <mat-icon *ngIf="displayIconsDiv" (click)="displayIconsDiv=!displayIconsDiv" class="cancelButtonIcon">close</mat-icon>
</div>