<fieldset [formGroup]="vaccinationDetails" class="form-sub-group">


    <legend class="legend">Vaccination details</legend>

    <div class="flex-row flex-wrap gap-15 flex-start-start">

    <mat-form-field>
        <mat-label>Megavac 1 date</mat-label>
        <input formControlName="megavac1Date" name="megavac1Date" type="date" (click)="setInitialDate($event)" [max]="maxDate" [errorStateMatcher]="errorMatcher" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Megavac 2 date</mat-label>
        <input formControlName="megavac2Date" name="megavac2Date" type="date" (click)="setInitialDate($event)" [max]="maxDate" [errorStateMatcher]="errorMatcher" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rabies vaccination date</mat-label>
        <input formControlName="rabiesVaccinationDate" name="rabiesVaccinationDate" type="date" (click)="setInitialDate($event)"
        [max]="maxDate" [errorStateMatcher]="errorMatcher" matInput>
    </mat-form-field>

    </div>

</fieldset>

<fieldset [formGroup]="antibioticDetails" class="form-sub-group">


    <legend class="legend">Antibiotic details</legend>

    <div class="flex-column gap-15 flex-start-start">

    <label class="label">Antibiotic 1</label>

      
    <mat-chip-listbox #antibiotic1Chips aria-label="Antibiotic 1" selectable formControlName="antibiotics1">
            <mat-chip-option
            *ngFor="let antibiotic of antibiotics" [value]="antibiotic.antibioticId">{{antibiotic.antibiotic}}</mat-chip-option>
    </mat-chip-listbox>

    <label class="label">Antibiotic 2</label>

    <mat-chip-listbox #antibiotic2Chips aria-label="Antibiotic 2" selectable formControlName="antibiotics2">
        <mat-chip-option
        *ngFor="let antibiotic of antibiotics" [value]="antibiotic.antibioticId">{{antibiotic.antibiotic}}
        </mat-chip-option>
    </mat-chip-listbox>

    <label class="label">Antibiotic 3</label>

    <mat-chip-listbox #antibiotic3Chips aria-label="Antibiotic 3" selectable formControlName="antibiotics3">
            <mat-chip-option
            *ngFor="let antibiotic of antibiotics" [value]="antibiotic.antibioticId">{{antibiotic.antibiotic}}
            </mat-chip-option>
    </mat-chip-listbox>

    </div>



</fieldset>

<fieldset [formGroup]="isoReason" class="form-sub-group">


    <legend class="legend">Isolation reason</legend>

    <mat-form-field>
        <mat-label>Isolation reason</mat-label>
        <mat-select formControlName="isoReasonId" [errorStateMatcher]="errorMatcher">
            <mat-option *ngFor="let isoReason of isoReasons" [value]="isoReason.id">
                {{isoReason.isoReason}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</fieldset>

<button mat-raised-button color="primary" (click)="saveOutcomeDetails()" [disabled]="outcomeForm.invalid">Save</button>
