<form autocomplete="off" [formGroup]="patientStatusForm">

      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center">

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="patientStatusId" [errorStateMatcher]="errorMatcher"
        (selectionChange)="onStatusChange()">
            <mat-option *ngFor="let status of patientStates$ | async" [value]="status.PatientStatusId">
                {{status.PatientStatus}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="patientStatusDate" type="date" (click)="setDate()"
        name="patientStatusDate" min="{{createdDate | date:'yyyy-MM-dd'}}" max="{{currentTime | date:'yyyy-MM-dd'}}"
        placeholder="Date" [errorStateMatcher]="errorMatcher" matInput>
      </mat-form-field>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center">

      <mat-form-field *ngIf="patientStatusForm.get('patientStatusId').value == 3">
        <mat-label>P/N</mat-label>
        <mat-select formControlName="PN" [errorStateMatcher]="errorMatcher">
            <mat-option value="P">P</mat-option>
            <mat-option value="N">N</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox *ngIf="patientStatusForm.get('patientStatusId').value == 3" name="check" formControlName="suspectedRabies">Suspected Rabies</mat-checkbox>


    </div>


</form>