<div
    fxLayout.gt-md="row wrap"
    gdRows.lt-md="1fr 1fr 1fr"
    gdColumns.lt-md="1fr 1fr"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutAlign.lt-md="stretch"
    class="info_tiles"
    *ngIf="(scoreCards$ | async) as scoreCards">
    <div>
        <h4>Total Cases</h4>
        {{scoreCards.TotalActiveCases}}
    </div>
    <div>
        <h4>Cases Without Visit</h4>
        {{scoreCards.NoVisits}}
    </div>
    <div>
        <h4>Total Visits Today</h4>
        {{scoreCards.VisitsToday}}
    </div>
    <div>
        <h4>Visit Complete Today</h4>
        {{scoreCards.CompleteVisitsToday}} ({{(scoreCards.CompleteVisitsToday/scoreCards.TotalActiveCases) * 100 |
        number: '1.0-0'}} %)
    </div>
    <div>
        <h4>Urgent Cases</h4>
        {{scoreCards.TotalUrgentCases}}
    </div>
</div>

<mat-expansion-panel class="chart_bar_expansion" [expanded]="chartExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon style="font-size: 1.9rem;"> bar_chart</mat-icon>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="Chart_Bar" >

        <ngx-charts-bar-vertical-stacked
            [view]="view"
            [results]="chartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [animations]="animations"
            [customColors]="customColours"
            [barPadding]="8"
            [legend]="showLegend"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical-stacked>
    </div>
</mat-expansion-panel>
<div
    class="StreetTreat_Container"
    gdColumns.gt-md="repeat(2, 1fr)"
    gdGap.gt-md="10"
    fxLayout.lt-md="column">

    <div
        class="StreetTreat_Container_visit_compression"
        gdColumns.gt-md="repeat(3, 1fr)"
        gdColumns.xs="repeat(2, 1fr)"
        >
        <div class="Team_Compare"
            fxLayout="row wrap"
            fxLayoutAlign.lt-md="end"
            [formGroup]="teamsgroup">
            <div class="Team_Comapre_Visit_btn" fxFlexOrder.lt-md="3">
                <button mat-flat-button color="primary" (click)="noVisits($event)">No Visits</button>
            </div>
            <div class="Team_Compare_date">
                <mat-form-field appearance="fill">
                    <input matInput type="date" formControlName="date">
                </mat-form-field>
            </div>
            <div class="Team_Compare_list">
                <mat-form-field appearance="fill">
                    <mat-select placeholder="Team" formControlName="teams" multiple>
                        <mat-option *ngFor="let team of teamsDropDown" [value]="team.TeamId">
                            {{team.TeamName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- *ngIf="!autoRefresh" -->
            <button style="margin:7px 0 7px 10px" mat-mini-fab aria-label="Manual refresh" (click)="refreshRescues()" fxFlexOrder.lt-md="4">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <ng-container *ngIf="filteredStreetTreatCases; else noResult" cdkDropListGroup>
            <div class="drag-drop-container" [id]="streetTreatCase.TeamId"
                *ngFor="let streetTreatCase of filteredStreetTreatCases; trackBy:trackByTeamId">
                <div class="StreetTreat_Container_header">
                    <h3 class="StreetTreat_Container_header_Title">{{streetTreatCase.TeamName}}</h3>
                    <div class="StreetTreat_Container_header_TeamColour">
                        <svg>
                            <path
                                d="M 10.3 2.2 C 7.3 3.6 4.7 6.5 3.4 9.5 C 2.8 11 2.6 13 2.6 16.8 C 2.8 19.8 2.4 23.5 2.2 25.1 L 1.6 28.4 L 4.4 27.6 C 6 26.9 8.6 26.6 12.8 26.3 C 18.4 25.9 19.2 25.7 21.2 24.4 C 30.2 19.1 29.4 5.9 20 2.1 C 17.3 0.9 12.8 1 10.3 2.2 Z Z"
                                [attr.fill]="streetTreatCase.TeamColour" />
                        </svg>
                    </div>
                </div>
                <div cdkDropList cdkDropListOrientation="horizontal"
                    [cdkDropListData]="streetTreatCase.StreetTreatCaseVisits" class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    *ngFor="let streetTreatCaseDetails of streetTreatCase.StreetTreatCaseVisits; trackBy:trackByStreetTreatCaseId">

                    <mat-expansion-panel class="streetTreatPanel" cdkDrag [cdkDragData]="streetTreatCaseDetails"
                        [ngClass]="{'swimlane-hover':(streetTreatCaseDetails.StreetTreatCaseId === highlightStreetTreatCase)}"
                        hideToggle>

                        <mat-expansion-panel-header [ngClass]="{'border-red' : streetTreatCaseDetails.StreetTreatCasePriorityId == 4,
                                        'border-green' : (streetTreatCaseDetails.StreetTreatCasePriorityId == 1 || streetTreatCaseDetails.StreetTreatCasePriorityId == 2),
                                        'border-yellow' : streetTreatCaseDetails.StreetTreatCasePriorityId  == 3
                                        }">

                            <div class="card_wrapper">
                                <div class="streetreat_visit">
                                    {{streetTreatCaseDetails.AnimalDetails.TagNumber}}
                                    ({{streetTreatCaseDetails.AnimalDetails.AnimalType}})
                                </div>
                                <div fxFlex="25">
                                    <mat-icon aria-label="Edit record"
                                        (click)="openCase(streetTreatCaseDetails,$event);">create</mat-icon>
                                </div>
                            </div>
                            <div class="timeline"  *ngIf="streetTreatCaseDetails.Visits.length > 0">
                                <ng-container>
                                    <div *ngFor="let visit of streetTreatCaseDetails.Visits" class="timeline-badge">
                                        <ul>
                                            <li>
                                                <div [ngSwitch]="visit.VisitStatusId">
                                                    <mat-icon *ngSwitchCase="4" matTooltip="Complete"
                                                        class="timeline-badge-complete">done_all</mat-icon>
                                                    <mat-icon *ngSwitchCase="3" matTooltip="Missed"
                                                        class="timeline-badge-missed"></mat-icon>
                                                    <mat-icon *ngSwitchCase="2" matTooltip="In progress"
                                                        class="timeline-badge-progress"></mat-icon>
                                                    <mat-icon *ngSwitchCase="1" matTooltip="To do"
                                                        class="timeline-badge-todo"></mat-icon>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
                            <div>{{streetTreatCaseDetails.AnimalDetails.Problem}}</div>
                            <div>{{streetTreatCaseDetails.AnimalDetails.Priority}}</div>
                            <div>{{streetTreatCaseDetails.AnimalDetails.MainProblem}}</div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </ng-container>
        <ng-template #noResult> No Visits Today</ng-template>
    </div>
    <div fxFlex class="StreetTreat_Container_map" #googleMap>
        <google-map [zoom]="zoom" height="100%" width="100%" [center]="center">
            <map-marker *ngFor="let marker of markers ; trackBy:markersTrack" [options]="marker.options"
                (mapClick)="markerClick(marker)" (mapMouseover)="markerClick(marker)" (mapMouseout)="markerClean()">
            </map-marker>

        </google-map>

    </div>
</div>