.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-list {
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin-left: 10px;
  }

  .example-box {
    padding: 10px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin-bottom: 10px;
    border: solid 0.1px lightgray;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

 .StreetTreat_Container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:10px;
    .drag-drop-container
    {
        text-align: center;
        vertical-align: top;
    }
    &_header{
        font-size: 14px;
    }
    &_visit_compression
    {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:10px;
    }
    &_map{
      height:calc(100vh - 123px);
    }
 }
 .timeline {
  display: flex;
  ul {
    padding: 0;
    padding-right: 10px;
    margin: 0;
    li{
      .timeline-badge{
        &-complete{
          background-color: #58b09c;
        }
        &-missed{
          background-color: #e94f37;
        }
        &-progress{
          background-color: #caf7e2;
        }
        &-todo{
          background-color: #a9bec7;
        }
      }
      list-style: none;
      display: inline-block;
      width: 25px;
      height: 25px;
      .mat-icon{
        display: inline-flex;
        place-content: center;
        align-items: center;
        font-size: 18px;
        color: white;
        font-weight: bolder;
        border-radius: 50%;
      }
    }
  }
}

