$colour-border: #a9abad;
$primary-font-colour: #626262;
$standard-width: 183px;

.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
}

.mat-radio-group {
    display: flex;
    color: $primary-font-colour;
    justify-content: start center;
    padding-bottom: 25px;
    padding-top: 25px;
}

mat-radio-button {
    margin-right: 15px;
}

.label {
    align-self: center;
    color: #626262;
}

.extra-wide {
    width: 73%;
    margin-left: 120px;
}

.save-icon {
    position: relative;
    bottom: 0;
    left: 95%;
    cursor: pointer;
}

@media(max-width: 600px) {
    .extra-wide {
        max-width: 100%!important;
        margin-left: 0.5em;
        width: 95%;
    }

    .save-icon {
        left: 86%;
    }
}
