<fieldset [formGroup]="recordForm" class="form-sub-group">

    <legend class="legend">Patient Details</legend>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field formGroupName="patientDetails">
            <mat-label>Animal type</mat-label>
            <mat-select  formControlName="animalTypeId" [errorStateMatcher]="errorMatcher">
                <mat-option *ngFor="let type of animalTypes$" [value]="type.AnimalTypeId">
                    {{type.AnimalType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between start">

        <div fxLayout="row flex" fxLayoutGap="20px" fxLayoutAlign="space-between start">

            <mat-form-field formGroupName="patientDetails" class="wide">
                <input formControlName="mainProblems" type="text" placeholder="Main Problem(s)" matInput>
            </mat-form-field>

            <ng-container formGroupName="patientDetails">
                <mat-radio-group  formControlName="sex" aria-labelledby="sex-label">
                    <mat-radio-button value="0">Female</mat-radio-button>
                    <mat-radio-button value="1">Male</mat-radio-button>
                </mat-radio-group>
            </ng-container>
        </div>

        <mat-form-field formGroupName="patientDetails" class="wide">
            <input formControlName="description" type="text" placeholder="Description" matInput>
        </mat-form-field>

    </div>
    
  </fieldset>

  