.rotation-container{
    max-width: 1400px;
    overflow: hidden;
}

table {
  max-width: 800px;
  min-width: 465px;
}

// .shift-form-field{
//     width: 100px;
// }

table {
    border-collapse: collapse;
}

::ng-deep .mat-mdc-table .mdc-data-table__row {
    height: 49px;
}

::ng-deep .mat-table thead {    
    height: 110px !important;
}

tr, th, td {
    border: 1px solid #e0e0e0;
    font-weight: normal;
}

.area-header{
    writing-mode: vertical-lr;
    text-align: -webkit-center;
    transform: scale(-1);
    vertical-align: middle;
    width: 35px;
}

.move-icon{
    padding-right: 0 !important;

    .mat-icon{
        color: grey;
        cursor: ns-resize;
    }
}
.rota-version-wrapper{
    width: 100%;
}

.default-checkbox-wrapper {
    width: 40px
}

.assigned-staff-wrapper{
    height: 100%;
}

.period-header {
    min-height: 78px;
    width:117px;
    box-sizing: border-box;
    // border-right: 1px solid gray;
    // border-bottom: 1px solid gray;
}

.rotation-period {
    // border-right: 1px solid gray;
    // border-bottom: 1px solid gray;
    min-height: 78px;
    min-width:117px;    
}

.staff-task {
    // border: 1px solid gray;
    min-height: 100px;
    width: 100%;
}

.group-header {
    min-width: 186px;
    min-height: 70px;
    // border-right: 1px solid gray;
}

.group-header-text{
    padding: 10px;
    height: 59px;
}

.role-header {
    padding-top: 7px;
}

.add-rotation-period{
    padding-left: 10px;
}

.unassigned-staff{
    border-top: 1px solid gray;
}

.staff-member{
    min-height: 20px;
    min-width: 75px;
    border: 1px solid gray;
    border-radius: 4%;
    padding: 15px;
    margin: 5px;
    background-color: white;
    cursor: grab;
}

.staff-member:active {
    cursor: grabbing;
}

.area-shift{
    padding-top: 15px;
}

.table-container{
    margin-top: 15px;
}

.hidden-input{
    display: none;
}

.rota-edit-icons{
    margin-top: 10px;
}

.user-input{
    text-align: center;
    cursor: pointer;
    border: none !important;
    border-radius: 5px;
}

::ng-deep .leave-tooltip{
    white-space: pre-line;    
}

.leave-full-overlap {
    color: red;
}

.leave-granted {
    color: green;
}

.leave-pending {
    color: orange;
}



