<form [formGroup]="rotaForm">

  <div fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="center center" class="table-container">

      <table>
      <thead>
        <tr>
            <th></th>
            <th formArrayName="rotationPeriodArray" *ngFor="let period of getRotationPeriodArray.controls; let i = index">

              <div formGroupName="{{i}}">

                  <div fxLayout="column" fxLayoutAlign="center center"
                  *ngIf="period.get('startDate')?.value
                  && period.get('endDate')?.value
                  && (period.get('editable')?.value === true)
                  && period.get('startDate')?.valid
                  && period.get('endDate')?.valid;
                  else dateInputs" class="period-header-text">

                    <div (click)="editPeriod(period, false)"> 
                      {{ (period.get('startDate')?.value | date : "dd/MMM") + " - " + (period.get('endDate')?.value | date : "dd/MMM") }}

                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">

                      <mat-checkbox
                        class="unassigned-checkbox"
                        matTooltip="check unassigned staff"
                        formControlName="checkUnassigned"
                        (change)="checkUnassignedStaff(period, $event.checked)">
                      </mat-checkbox>

                      <button mat-icon-button class="close-button" (click)="copyRotationPeriod(period, false)">
                        <mat-icon matTooltip="save" class="close-icon" >content_copy</mat-icon>
                    </button>
    
                    <button mat-icon-button class="close-button" (click)="copyRotationPeriod(period, true)">
                      <mat-icon matTooltip="cancel" class="close-icon" >difference</mat-icon>
                    </button>

                    <button mat-icon-button [color]="period.pristine ? null : 'warn'" class="close-button" (click)="saveRotationPeriod(period)">
                      <mat-icon matTooltip="save" class="close-icon" >save</mat-icon>
                    </button>

                    <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)">
                      <mat-icon matTooltip="delete" class="close-icon" >delete</mat-icon>
                    </button>
                    </div>
                  </div>

                  <ng-template #dateInputs>

                        <div fxLayout="row" fxLayoutAlign="center center">
                          <mat-form-field>
                          <input matInput type="date" [max]="period.get('endDate')?.value" formControlName="startDate" placeholder="Period start"  [errorStateMatcher]="errorMatcher"/>
                          <mat-error *ngIf="period.get('startDate')?.hasError('dateExistsInRange')">
                            Day exists in another range
                          </mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                          <input matInput type="date" [min]="period.get('startDate')?.value" formControlName="endDate" placeholder="Period end" [errorStateMatcher]="errorMatcher"/>
                          <mat-error *ngIf="period.get('endDate')?.hasError('dateExistsInRange')">
                            Day exists in another range
                          </mat-error>
                        </mat-form-field> 

                        <button mat-icon-button class="close-button" (click)="deleteRotationPeriod(period)">
                          <mat-icon matTooltip="delete" class="close-icon" >delete</mat-icon>
                        </button>

                            <div fxLayout="column" *ngIf="period.get('startDate')?.value && period.get('endDate')?.value"> 

                              <button mat-icon-button class="close-button" (click)="editPeriod(period, true)">
                                  <mat-icon matTooltip="save" class="close-icon" >save</mat-icon>
                              </button>
              
                              <button mat-icon-button class="close-button" (click)="cancelPeriodEdit(period, true)">
                                <mat-icon matTooltip="cancel" class="close-icon" >close</mat-icon>
                              </button>
              
                            </div>                     

                        </div> 

                  </ng-template>

    


              </div>
            </th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let areaShift of getAreaShiftArray.controls">

            <th>
              
              <mat-form-field>
                <mat-label>Group name</mat-label>
                    <mat-select (selectionChange)="groupSelected($event)">
                    <mat-option>N/A</mat-option>
                        <mat-option *ngFor="let role of jobRoles$ | async" [value]="role.roleId">
                        {{role.role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button class="close-button" (click)="deleteAreaShift(areaShift)">
              <mat-icon matTooltip="cancel" class="close-icon" >delete</mat-icon>
            </button>

            </th>

            <td formGroupName="matrix" *ngFor="let period of getRotationPeriodArray.controls;">

              <div *ngIf="getGroupPeriodAssignedStaff(areaShift?.value.areaShiftId, period?.value.rotationPeriodId); let assignedStaff">

                <div fxLayoutAlign="center center" [formGroupName]="assignedStaff.get('staffTaskId')?.value">

                  <mat-form-field>

                    <input  matInput
                            type="text"
                            formControlName="assignedUser"
                            (focus)="setFilteredUsers(period?.value.rotationPeriodId, assignedStaff?.get('assignedUser'))"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option>N/A</mat-option>
                      <mat-option *ngFor="let user of (filteredUsers | async)" [value]="user">
                        {{ user.employeeNumber + ' - ' + user.firstName }}
                      </mat-option>
                    </mat-autocomplete>

                  </mat-form-field>

                </div>

              </div>

            </td>

          
          </tr>
        </tbody>
      </table>

      <div class="add-rotation-period">
        <button
            class="addrotationPeriodButton"
            type="button"
            (click)="addRotationPeriod(true)"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>

</div>

<div fxLayout="row" fxLayoutAlign="center center" class="area-shift">
    <button
        type="button"
        (click)="addAreaShift()"
        mat-mini-fab
        color="primary"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>

<div fxLayout="row" *ngIf="(unassignedUsers | async); let unassigned">
    <div class="group-header">
        <div class="group-header-text">Unassigned staff:</div>
    </div>

    <div cdkDropList [cdkDropListData]="unassignedUsers | async">
        <div *ngFor="let user of unassigned" fxLayout="row" cdkDrag>
            <div class="staff-member">
                {{ user.employeeNumber + ' - ' + user.firstName }}
            </div>
        </div>
    </div>
</div>

</form>


