<form >
    <fieldset class='form-sub-group'>
        <legend class="legend">Team Detials</legend>
    <div fixlayout='row' fixlayoutGap='20px' fixlayout.ly-md='column' fixlayoutAlign='start center'>
        <mat-form-field >
            <input type= 'text' placeholder="Team Name" matInput required>
          </mat-form-field>
        <mat-form-field >
          <input type="number" step="10" placeholder="Capacity per Day" matInput required>
        </mat-form-field > 
        <mat-form-field >
          <mat-checkbox>Check me!</mat-checkbox>
        </mat-form-field>
 
    </div>
</fieldset>
</form> 