.dot-red {
    color: red;
    font-size: 17px !important;
    height: 17px !important;
    width: 17px !important;
}
.dot-green {
    color: green;
    font-size: 17px !important;
    height: 17px !important;
    width: 17px !important;
}
.dot-yellow {
    color: gold;
    font-size: 17px !important;
    height: 17px !important;
    width: 17px !important;
}
.dot-grey {
    color: grey;
    font-size: 17px !important;
    height: 17px !important;
    width: 17px !important;
}

.mat-icon{
    vertical-align: text-bottom !important;
}

// TODO FIX THIS SO IT'S THE SAME HEIGHT AS EVERYTHING ELSE
.mat-select-trigger{
    display: inherit !important;
}

.emergencySyncIcon .mat-icon {
    font-size: 2.5rem;
    position: absolute !important;
    right: 5% !important;
    top: 4rem !important;
    color: gold;
    cursor: default
}

// To disable the Emergency number field by css.
// .disable {
//     pointer-events: none;
//     background: silver;
//     border: 1px solid grey;
//     border-radius: 7px;
// }