.emergencyDetailsCode {
    min-width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    border-radius: 50%;
    &.red{
        background: red;
    }
    &.green{
        background: green;
    }
    &.yellow{
        background: gold;
    }
    &.grey{
        background: grey;
    }
}


// TODO FIX THIS SO IT'S THE SAME HEIGHT AS EVERYTHING ELSE
.mat-select-trigger{
    display: inherit !important;
}

mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons {

    position: relative;
    font-size: 2rem;
    margin-left: 9rem;
    margin-bottom: 1.8rem;
    cursor: pointer;

}

@media(max-width: 600px) {
    .mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons{
        font-size: 1.5rem;
        position: absolute!important;
        right: 3% !important;
        top: 6rem !important;
        cursor: pointer;
    }

    .dispatcherWrapper {
        position: relative;
    }
}

@media(max-width: 1024px) {
    .mat-icon.mat-icon.notranslate.logs_btn.mat-primary.material-icons{
        font-size: 2rem;
        position: absolute !important;
        right: 29.5rem !important;
        top: 9rem !important;
        cursor: pointer;
    }
    .mat-icon{
        vertical-align: text-bottom !important;
    }

}


@media(min-width: 600px) {
    .mat-icon{
        font-size: 2rem;
        margin-top: -2rem;
    }
}


