<fieldset [formGroup]="recordForm.get('emergencyDetails')" class="form-sub-group" autocomplete="off">

    <legend class="legend">Emergency Details</legend>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

    <mat-form-field>
            <input tabindex="1" #emergencyNumber formControlName="emergencyNumber" appearance="outline" type="number" placeholder="Em no." [errorStateMatcher]="errorMatcher" matInput>

            <mat-error *ngIf="recordForm.get('emergencyDetails.emergencyNumber').errors?.emergencyNumberTaken">
                The emergency number already exists.
            </mat-error>
        </mat-form-field>

    <mat-form-field>
            <input tabindex="2" #callDateTimeField formControlName="callDateTime" name="callDateTime" type="datetime-local"
            (focus)="setInitialTime()"
            [min]="minimumDate"
            [max]="callDateTime" [errorStateMatcher]="errorMatcher" placeholder="Call time" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Dispatcher</mat-label>
        <mat-select tabindex="10" formControlName="dispatcher" [errorStateMatcher]="errorMatcher">
            <mat-option *ngFor="let dispatcher of dispatchers$ | async" [value]="dispatcher.UserId">
                {{dispatcher.FirstName}}
            </mat-option>
        </mat-select>
    </mat-form-field >

        <mat-form-field>
            <mat-label>Code</mat-label>
            <mat-select tabindex="9" formControlName="code" [errorStateMatcher]="errorMatcher" >

                <mat-select-trigger *ngIf="recordForm.get('emergencyDetails.code').value">
                    <mat-icon [ngClass]="{
                        'dot-grey' : recordForm.get('emergencyDetails.code').value == -1,
                        'dot-red' : recordForm.get('emergencyDetails.code').value == 1,
                        'dot-green' : recordForm.get('emergencyDetails.code').value == 2,
                        'dot-yellow' : recordForm.get('emergencyDetails.code').value == 3}" matSuffix>fiber_manual_record</mat-icon>{{recordForm.get('emergencyDetails.code').value}}</mat-select-trigger>

                <mat-option *ngFor="let code of emergencyCodes$ | async" [value]="code.EmergencyCodeId">

                        <mat-icon [ngClass]="{
                            'dot-grey' : code.EmergencyCodeId == -1,
                            'dot-red' : code.EmergencyCodeId == 1,
                            'dot-green' : code.EmergencyCodeId == 2,
                            'dot-yellow' : code.EmergencyCodeId == 3}" matSuffix>fiber_manual_record</mat-icon>{{code.EmergencyCode}}


                </mat-option>
            </mat-select>
            </mat-form-field>

    </div>

  </fieldset>