<fieldset [formGroup]="emergencyDetails" class="form-sub-group" autocomplete="off">

    <legend class="legend">Emergency details</legend>
    <div class="flex-row flex-wrap flex-start-center details-wrapper" >

        <div class="code-wrapper">
           
            <mat-icon
                matTooltip="Primary caller"
                [ngStyle]="{ 'color' : recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 4 ? 'grey' : 
                    recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 1 ? 'red' :
                    recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 2 ? 'green' :
                    recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 3 ? 'yellow' : 'white'
                    }">traffic_light
            </mat-icon>

        </div>



    <mat-form-field>
        <mat-label>Em no.</mat-label>
        <input tabindex="1" #emergencyNumber formControlName="emergencyNumber" type="number" [errorStateMatcher]="errorMatcher" matInput>

        <mat-error *ngIf="recordForm.get('emergencyDetails.emergencyNumber')?.errors?.emergencyNumberTaken">
            The emergency number already exists.
        </mat-error>

        <mat-error *ngIf="recordForm.get('emergencyDetails.emergencyNumber')?.errors?.stuckInPending">
            Connectivity lost, please recheck
        </mat-error>

    </mat-form-field>

    <mat-form-field>
        <mat-label>Call time</mat-label>
            <input tabindex="2" #callDateTimeField formControlName="callDateTime" name="callDateTime" type="datetime-local"
            [max]="callDateTime"
            [min]="minimumDate"
            [errorStateMatcher]="errorMatcher" matInput>
    </mat-form-field>

    <mat-form-field class="dispatcherWrapper">
        <mat-label>Dispatcher</mat-label>
        <mat-select tabindex="11" #dispatcher formControlName="dispatcher" [errorStateMatcher]="errorMatcher">
            <mat-option *ngFor="let dispatcher of dispatchers$ | async" [value]="dispatcher.userId">
                {{ dispatcher.employeeNumber + " - " + dispatcher.firstName }}
            </mat-option>
        </mat-select>
    </mat-form-field >



    </div>

</fieldset>