<fieldset [formGroup]="emergencyDetails" class="form-sub-group" autocomplete="off">

    <legend class="legend">Emergency details</legend>
    <div fxLayout="row" fxLayout.xs="row-reverse wrap"  fxLayoutAlign="baseline center"  fxLayoutAlign.xs="space-between center" >

    <!-- <div fxLayout="row wrap" fxLayoutGap='10px' fxLayoutAlign='start' > -->

    <div fxShow="recordForm.get('emergencyDetails.code')?.value" class="emergencyDetailsCode" [ngClass]="{
        'grey' : recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 4,
        'red' : recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 1,
        'green' : recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 2,
        'yellow' : recordForm.get('emergencyDetails.code')?.value?.EmergencyCodeId == 3}">
    </div>

    <mat-form-field>
        <input tabindex="1" #emergencyNumber formControlName="emergencyNumber" type="number" placeholder="Em no." [errorStateMatcher]="errorMatcher" matInput>

        <mat-error *ngIf="recordForm.get('emergencyDetails.emergencyNumber')?.errors?.emergencyNumberTaken">
            The emergency number already exists.
        </mat-error>

        <mat-error *ngIf="recordForm.get('emergencyDetails.emergencyNumber')?.errors?.stuckInPending">
            Connectivity lost, please recheck
        </mat-error>

    </mat-form-field>

    <mat-form-field fxFlex.gt-sm="1 1 100%">
            <input tabindex="2" #callDateTimeField formControlName="callDateTime" name="callDateTime" type="datetime-local"
            [max]="callDateTime"
            [min]="minimumDate"
            [errorStateMatcher]="errorMatcher" placeholder="Call time" matInput>
    </mat-form-field>

    <mat-form-field class='dispatcherWrapper'>
        <mat-label>Dispatcher</mat-label>
        <mat-select tabindex="11" #dispatcher formControlName="dispatcher" [errorStateMatcher]="errorMatcher">
            <mat-option *ngFor="let dispatcher of dispatchers$ | async" [value]="dispatcher.UserId">
                {{dispatcher.FirstName}}
            </mat-option>
        </mat-select>
    </mat-form-field >



    </div>

</fieldset>