@media only screen and (min-width: 600px) {
  
    .vistisWrapper{
        display: inline-block !important;
        width: 94%;
        & > div{
            margin-right:35px;
        }
        & > div:last-child .mat-fab-wrapper {
            margin-right: -26px;
        }
    }

    #cdk-overlay-1{
        max-width:67vw;
    }
    .visit_row_data{
        position: relative;
        & > div:first-child {
            display: grid ;
            grid-template-areas: "date status type d_btn" 
                                 "admin admin admin d_btn";
            grid-column-gap: 10px;
            box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgb(255, 255, 255);
            margin-bottom: 25px;
            border-radius: 25px;
            padding: 15px 15px 15px 15px;
            & .mat-form-field{
                max-height: 65px;
                &:first-child {
                    grid-area: date;
                }
                &:last-of-type{
                    grid-area:admin;
                }
            }
        }
        & .mat-fab-wrapper{
            grid-area: d_btn;
            top: -15px;
            position: absolute;
            right: -15px;
            border-radius: 50%;
        }
    }
	.add-visits-fab-btn{
		display: inline-block;
        position: relative;
        bottom: -25px;
        right: -5px;
	}
	.patientVisitFrom mat-form-field {
		flex-basis: 0;
		flex-grow: 1;
	}
}
@media only screen and (max-width: 600px) {
    button.mat-mini-fab {
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;
        transform: translate3d(0, 0, 0);
        transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
            box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }
    .mat-form-field {
        margin: 0 !important;
        width: 100%;
    }
    .mat-raised-button {
        width: 100%;
        margin-right: 0 !important;
    }
    .vistisWrapper {
        margin-bottom: 20px;
    }
    .mat-fab-wrapper {
        width: 100%;
    }
}
@media only screen and (max-width:768x){
    .vistisWrapper div {
        margin-right: 0px !important;
    }
}