<form
[formGroup]="rotaOptions"
class="flex-column flex-center-center">

<mat-accordion class="accordian">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rota settings
      </mat-panel-title>
      <mat-panel-description>
        Here you can edit the settings for the rota system.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-column flex-center-center">

        <div formGroupName="defaults" class="flex-row flex-wrap gap-20 flex-center-center">

          <div>
            <mat-form-field>
              <mat-label>Periods to show</mat-label>
                <input
                formControlName="periodsToShow" 
                type="number"
                min=1
                autocomplete="off"
                matInput>
            </mat-form-field>
          </div>

          <div style="padding-bottom: 20px;">
            <button mat-raised-button color="primary" (click)="saveOrganisationRotaDetails();" [disabled]="rotaOptions.invalid">Save</button>
          </div>

        </div>



    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rota areas
      </mat-panel-title>
      <mat-panel-description>
        Add and update the rota areas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-column gap-20 flex-center-center">

      <app-rotation-area-editor class="add-records"></app-rotation-area-editor>

    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rotation roles
      </mat-panel-title>
      <mat-panel-description>
        Add and update the rotation roles.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-column gap-20 flex-center-center">

      <app-rotation-role-editor class="add-records"></app-rotation-role-editor>

    </div>
  </mat-expansion-panel>

</mat-accordion>

</form>

