
<!-- <search-result-card *ngIf="infoContent"></search-result-card> -->

<google-map height="75vh"
            width="100%"
            [options]="options"
            [center]="center"
            [zoom]="zoom">

            <div *ngFor="let outstandingRescues of (outstandingCases$ | async);">

                <div *ngFor="let rescuerGroups of outstandingRescues.rescuerGroups;">


                        <!-- TODO alter the emergencyCodeId so that it works for all organisations -->
                        <!-- #marker="mapMarker" -->

                        <map-marker
                        *ngFor="let rescue of rescuerGroups.rescues;"
                        #marker="mapMarker"
                        [position]="rescue.latLngLiteral"
                        (mapClick)="openInfoWindow(marker, rescue)"
                        [options]="{icon:

                            (
                                rescue.isLargeAnimal ?
                                    (rescue.emergencyCodeId == 1 ? 'assets/icons/large_animal_red.png'
                                    :
                                    rescue.emergencyCodeId == 2 ? 'assets/icons/large_animal_green.png'
                                    :
                                    rescue.emergencyCodeId == 3 ? 'assets/icons/large_animal_yellow.png'
                                    :
                                    'assets/icons/large_animal_grey.png')
                                :
                                    (rescue.emergencyCodeId == 1 ? 'assets/icons/small_animal_red.png'
                                    :
                                    rescue.emergencyCodeId == 2 ? 'assets/icons/small_animal_green.png'
                                    :
                                    rescue.emergencyCodeId == 3 ? 'assets/icons/small_animal_yellow.png'
                                    :
                                    'assets/icons/small_animal_grey.png')
                        )}">

                        </map-marker>
                </div>

            </div>
                        <!-- Add the ambulance locations -->
                        <map-marker *ngFor="let ambulance of (ambulanceLocations$ | async)"
                        #ambulanceMarker="mapMarker"
                        (mapClick)="openAmbulanceInfoWindow(ambulanceMarker, ambulance.rescues)"
                        [position]="ambulance.latestLocation"
                        [options]="{icon: { url:'assets/icons/ambulance_van.png', anchor: iconAnchor, labelOrigin: iconLabelOrigin }, zIndex: 100, label: ambulance.rescuer1Abbreviation + ' + ' + ambulance.rescuer2Abbreviation}">

                        </map-marker>

                        <map-info-window>

                            <div class="ambulance-window" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

                                <div *ngFor="let patient of infoContent | async">

                                    <search-result-card class="emergency-card" (openEmergencyCase)="openCase($event)" [record]="patient"></search-result-card>

                                </div>

                            </div>

                        </map-info-window>

        </google-map>
