

<search-result-card *ngIf="infoContent"></search-result-card>

<google-map height="75vh"
    width="100%"
    [options]="options"
    [center]="center"
    [zoom]="zoom">


    <div *ngFor="let vehicle of (locationList$ | async)">
        <div *ngFor="let line of vehicle.options">
            <map-polyline [options]="line"></map-polyline>
        </div>
    </div>


    <ng-container *ngIf="!vehicleId">
        <div >

            <div >

                <div >
                    <!--TODO alter the emergencyCodeId so that it works for all organisations -->

                    <map-marker
                    *ngFor="let outstandingCase of (outstandingCases$ | async);"
                    #marker="mapMarker"
                    [position]="outstandingCase.latLngLiteral"
                    (mapClick)="openInfoWindow(marker, outstandingCase)"
                    [options]="{icon:
                                    (
                                        outstandingCase.ambulanceAction == 'Release'? (
                                            hasLargeAnimal(outstandingCase.patients)?
                                                'assets/icons/large_animal_release_purple.png'
                                                :
                                                'assets/icons/small_animal_release_purple.png'
                                            )
                                            :
                                            (
                                                hasLargeAnimal(outstandingCase.patients) ?
                                                        (outstandingCase.emergencyCodeId == 1 ? 'assets/icons/large_animal_red.png'
                                                        :
                                                        outstandingCase.emergencyCodeId == 2 ? 'assets/icons/large_animal_green.png'
                                                        :
                                                        outstandingCase.emergencyCodeId == 3 ? 'assets/icons/large_animal_yellow.png'
                                                        :
                                                        'assets/icons/large_animal_grey.png')
                                                    :
                                                        (outstandingCase.emergencyCodeId == 1 ? 'assets/icons/small_animal_red.png'
                                                        :
                                                        outstandingCase.emergencyCodeId == 2 ? 'assets/icons/small_animal_green.png'
                                                        :
                                                        outstandingCase.emergencyCodeId == 3 ? 'assets/icons/small_animal_yellow.png'
                                                        :
                                                        'assets/icons/small_animal_grey.png')
                                            )
                                    )
                    }"
                    >
                    </map-marker>
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Add the ambulance locations -->


    <div *ngFor="let ambulance of (ambulanceLocations$ | async)">
        <!--<map-marker
        (mapClick)="openAmbulanceInfoWindow(ambulanceMarker, ambulance.actions  )"
        #ambulanceMarker="mapMarker"
        [position]="{lat: ambulance.vehicleLocation.latLng.lat, lng: ambulance.vehicleLocation.latLng.lng} || {lat:0, lng:0}"
        [options]="{icon: { url:'assets/icons/ambulance_van.png', anchor: iconAnchor, labelOrigin: iconLabelOrigin }, zIndex: 100,
        label: ''}"
        >
        </map-marker>-->

    </div>



    <map-info-window>

        <div class="ambulance-window" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

            <outstanding-case-board-ambulance [inMap]="true" [vehicleId]="vehicleId"></outstanding-case-board-ambulance>

            <div *ngFor="let patient of infoContent | async">

                <search-result-card class="emergency-card" [record]="patient"></search-result-card>


            </div>

        </div>

    </map-info-window>

</google-map>
