 <fieldset class="form-sub-group">
    <legend class="legend">AAU Reporting</legend>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="row" fxLayoutAlign = "center center">
        <fieldset class="form-sub-group">
            <div *ngFor = "let data of patientCountInArea">
                <div *ngIf="data.area=='Total'">
                    <p class="legend">Total count : {{data.count}}</p>
                </div>
            </div>
        </fieldset>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-md="row" fxLayoutAlign = "center center">
        <fieldset class="form-sub-group">
            <p class="legend">Animal count in each area</p>
                <div *ngFor = "let value of patientCountInArea">
                    <div *ngIf="value.area != 'Total'">
                    <p (click)="getPatientDetailsByArea(value.area)" class="link">{{value.area}} : {{value.count}}</p>
                    </div>
                </div>
        </fieldset>
    </div>





</fieldset>
