@media print {

    .isPrinting > * { display: none; }
    .mat-dialog-container { display: none !important; }
    .cdk_overlay_pane > * { display: none !important; }

    .rota-day-print-header{
        font-size: 20pt;
        width: 100%;
        text-align: center;
        font-family: Roboto, Arial, sans-serif;
        padding-bottom: 10px;
    }
    
    .schedule-table{
        width: 90%;
    }

    table{
        border-collapse:collapse;
        border:1px solid whitesmoke;
        }
        
        table td{
        border:1px solid whitesmoke;
    }

}

