<ng-container *ngIf="(assignments | async) as dataSource">

  <div class="rota-day-print-header">
    {{rotaDayDate | date : "EEEE, d MMM y"}}
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 schedule-table">

      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef> Who </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.employeeNumber + ' - ' + element.localName + ' ( ' + element.firstName + ' )'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="area">
       <th mat-header-cell *matHeaderCellDef> Area </th>
       <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.rotationAreaPosition}} </td>
     </ng-container>
    
       <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.startTime}} </td>
      </ng-container>
    
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.endTime}} </td>
      </ng-container>

    
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.notes}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>




</ng-container>



