@media print {

    .isPrinting > * { display: none; }
    .mat-dialog-container { display: none !important; }
    .cdk_overlay_pane > * { display: none !important; }
    
    .schedule-table{
        width: 98%;
    }

    table{
        border-collapse:collapse;
        border:1px solid whitesmoke;
        }
        
        table td{
        border:1px solid whitesmoke;
    }

}

