<h1>Leave request</h1>
<form [formGroup]="leaveRequestForm">

  <fieldset>
    <legend class="legend">Request</legend>

    <div class="flex-column" >

      <mat-form-field appearance="fill">
        <mat-label>Worker name</mat-label>
        <input matInput
        [errorStateMatcher]="errorMatcher"
        type="text"
        formControlName="userId"
        [matAutocomplete]="auto">
    
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option>N/A</mat-option>
          <mat-option *ngFor="let user of (userList | async)" [value]="user.userId">
            {{ user.employeeNumber + ' - ' + user.firstName }}
          </mat-option>
        </mat-autocomplete>
    
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Date of request</mat-label>
        <input matInput type="date" placeholder="Date of request" [errorStateMatcher]="errorMatcher"
          formControlName="requestDate"  />
      </mat-form-field>

      <div>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Reason for leave request</mat-label>
          <mat-select (selectionChange)="requestReasonSelected($event.value)"
          [errorStateMatcher]="errorMatcher"
          formControlName="leaveRequestReasonId"
          [compareWith]="compareRequestReason">
            <mat-option>N/A</mat-option>
            <mat-option *ngFor="let reason of (requestReasons$ | async)" [value]="reason">
              {{ reason.leaveRequestReason }}
            </mat-option>
          </mat-select>
  
        </mat-form-field>

      </div>

      <mat-form-field appearance="fill" *ngIf="leaveRequestForm.get('leaveRequestReason')?.value?.toLowerCase() === 'festival';">
        <mat-label>Select festival</mat-label>
        <mat-select (selectionChange)="checkAgainstProtocol()"
        formControlName="festivalId">
          <mat-option>N/A</mat-option>
          <mat-option *ngFor="let festival of festivals" [value]="festival.festivalId">
            {{ festival.festival }}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <div class="flex-row flex-wrap flex-start-center">

        <mat-form-field appearance="fill">
          <mat-label>Leave requested from</mat-label>
          <input matInput type="date"
            [min]="leaveRequestForm.get('requestDate')?.value"
            [max]="leaveRequestForm.get('leaveEndDate')?.value"
            [errorStateMatcher]="errorMatcher"
            formControlName="leaveStartDate"  />

            <mat-error *ngIf="leaveRequestForm.get('leaveStartDate')?.errors?.invalidDate_Min">
              Date must be on or after {{(leaveRequestForm.get('requestDate')?.value | date : "EEE,dd/MMM")}}
            </mat-error>

            <mat-error *ngIf="leaveRequestForm.get('leaveStartDate')?.errors?.invalidDate_Max">
              Date must be on or before {{(leaveRequestForm.get('leaveEndDate')?.value | date : "EEE,dd/MMM")}}
            </mat-error>

        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>to</mat-label>
          <input matInput type="date" [errorStateMatcher]="errorMatcher"
          [min]="leaveRequestForm.get('leaveStartDate')?.value"
            formControlName="leaveEndDate"  />

            <mat-error *ngIf="leaveRequestForm.get('leaveEndDate')?.errors?.invalidDate_Min">
              Date must be on or before {{(leaveRequestForm.get('leaveStartDate')?.value | date : "EEE,dd/MMM")}}
            </mat-error>

        </mat-form-field>

        <div class="number-days-wrapper flex-column flex-center-center">          
          <div class="number-days-number">{{leaveRequestForm.get('numberOfDays')?.value}}</div>
          <div class="number-days-label">Days</div>
        </div>

      </div>

      <div *ngIf="leaveRequestForm.get('withinProtocol')?.value === false" class="out-of-protocol">OUT OF PROTOCOL.</div>

      <mat-form-field appearance="fill">
        <mat-label>Additional information on the leave</mat-label>
        <input matInput type="text" [errorStateMatcher]="errorMatcher"
          formControlName="additionalInformation"  />
      </mat-form-field>



    </div>

  </fieldset>

  <fieldset>
    <legend class="legend">Answer</legend>

    <div class="flex-column" >

      <div>
        <label id="granted-radio-group-label">Leave granted</label>
        <mat-radio-group
          aria-labelledby="granted-radio-group-label"
          class="request-reasons"
          formControlName="granted">
          <mat-radio-button class="reason-radio-button" [value]="1">Yes</mat-radio-button>
          <mat-radio-button class="reason-radio-button" [value]="0">No</mat-radio-button>
          <mat-radio-button class="reason-radio-button" [value]="2">Partially</mat-radio-button>
        </mat-radio-group>
      </div>
      

      <mat-form-field appearance="fill">
        <mat-label>Comment / reason (management only)</mat-label>
        <input matInput type="text" [errorStateMatcher]="errorMatcher"
          formControlName="commentReasonManagementOnly"  />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date the leave was granted/refused</mat-label>
        <input matInput type="date" [errorStateMatcher]="errorMatcher"
          formControlName="dateApprovedRejected"  />
      </mat-form-field>

      <div>
        <label id="recorded-on-noticeboard-radio-group-label">Has the Answer been recorded on Notice Board</label>
        <mat-radio-group
          aria-labelledby="recorded-on-noticeboard-radio-group-label"
          class="request-reasons"
          formControlName="recordedOnNoticeBoard">
          <mat-radio-button class="reason-radio-button" [value]="true">Yes</mat-radio-button>
          <mat-radio-button class="reason-radio-button" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
  </fieldset> 

  <div class="flex-row flex-center-center save-button">
    <button mat-raised-button color="primary" [disabled]="leaveRequestForm.invalid" (click)="saveLeaveRequest()">Save</button>
  </div>


</form>
