<ng-container *ngFor="let image of mediaPatientItems" >
    <div *ngIf="!image.mediaType.includes('video')" class="mediaGalleryImages" (click)="openPreviewDialog(image)" [style.backgroundImage]="'url('+ image?.remoteURL +')'">
        <span *ngIf="!limitSize" class="imagesTime">{{image.datetime | date : "HH:mm"}}</span>
        <span *ngIf="limitSize" class="imagesTime">{{image.datetime | date : "dd/MMM/yyyy"}}</span>
    </div>
    <video *ngIf="image.mediaType.includes('video')" (click)="openPreviewDialog(image)" controls class="mediaGalleryImages">
        <source src="{{image?.remoteURL}}" type="video/mp4" />
        Browser not supported
    </video>

</ng-container>