.select {
    width: 100%;
}

.mat-slider {
    font-family: sans-serif;
    margin-top: 30px;
}

.div {
    margin-top: 20px;
}

@media only screen and (min-width: 600px)
{
    .releaseTypeDiv {
        margin: auto;
        margin-top: -17px;
    }

    .disable {
        pointer-events: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1440px)
{
    :host ::ng-deep .visit_row_data 
    {
        > div:first-child
        {
            width:100%;
            min-width: 45rem;
            max-width: 45rem;
        }
        .mat-fab-wrapper{
            top: -1.2rem !important;
            right: -4rem !important;
            display: inline-block;
            position: absolute;
        }
    }
} 

@media only screen and (min-width: 1441px)
{
    :host ::ng-deep .visit_row_data 
    {
        > div:first-child
        {
            width:100%;
            min-width: 61rem;
            max-width: 61rem;
        }
        .mat-fab-wrapper{
            top: -1.2rem !important;
            right: -4rem !important;
            display: inline-block;
            position: absolute;
        }
    }
} 
/**
 Upto Ipad Mini 
*/
@media only screen and (max-width: 600px){
    .mat-form-field{
        padding: 0 !important;
    }
    div[formgroupname="releaseRequestForm"] .mat-form-field {
        width: 100% !important;
        margin-right: unset !important;
    }
    
    ::ng-deep {
        & .vistisWrapper {
            & > div:first-child {
                margin: unset !important;
            }
            & button.mat-mini-fab{
                width: 94% !important;
                margin-left: 4% !important;
            }
        }

        & .patientVisitFrom:first-of-type {
            display: grid !important;
            grid-template-columns: repeat(3, calc(100vw/3.8));
            grid-column-gap: 10px;

            & .mat-form-field:nth-child(2) {
                grid-column: auto / span 2;
            }
            & .mat-form-field:last-of-type {
                grid-column: auto / span 3;
            }
        }
        & .visit_row_data > div{

            & .mat-form-field{
                &:first-child {
                    grid-area: day;
                    margin-left: 8% !important;
                }
                &:nth-child(2) {
                    grid-area: status;
                }
                &:nth-child(3) {
                    grid-area: type;
                }
                
                &:last-of-type {
                    grid-area:comments;
                }

            }

            & .mat-fab-wrapper{
                grid-area:d_btn;
            }

            &:first-child {
                display: grid;
                grid-template-columns: repeat(2, calc(100vw/2.4));
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: 
                "day type"
                "status status"
                "comments comments"
                "d_btn d_btn";
                grid-column-gap: 10px;
                border-radius: 20px;
                box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgb(255, 255, 255);
                padding-top: 20px;
                margin-bottom: 20px;
                max-height: 350px !important;
                & .mat-form-field {
                    max-width: 92% !important;
                    margin-left: 4% !important;
                    &:nth-child(3){
                        margin-left: -2% !important;
                    }
                }
            }
        }
    }
}
