.select {
    width: 100%;
}

.mat-slider {
    font-family: sans-serif;
    margin-top: 30px;
    max-width: fit-content;
}

.disable {
    pointer-events: none;
}

.div {
    margin-top: 20px;
}

@media only screen and (max-width: 600px)
{
    .select {
        max-width: 100%;
    }
    
}
