 <form [formGroup]="recordForm">

<div formGroupName="releaseRequestForm" class="option-wrapper flex-row flex-wrap gap-10 flex-start-end">
    <mat-form-field appearance="fill">
        <mat-label>Requested user</mat-label>
        <mat-select formControlName="requestedUser">

            <mat-option>None</mat-option>

            <mat-option *ngFor="let manager of releaseManagers" [value]="manager.FirstName">
                {{manager.EmployeeNumber + " - " + manager.FirstName}}
            </mat-option>

        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Request time</mat-label>
        <input matInput formControlName="requestedDate" type="datetime-local" name="RequestedDate">
    </mat-form-field>

</div>

<div class="releaseTypeDiv flex-column gap-10 option-wrapper">
    <mat-slide-toggle [checked]="isCommented" (change)="valueChanges($event,2)" class="mat-slider">Caller special instruction</mat-slide-toggle>

    <mat-form-field appearance="fill" class="select">
        <mat-label>Notes for caller</mat-label>
        <textarea matInput formControlName="complainerNotes" class="select" [errorStateMatcher]="errorMatcher"></textarea>
    </mat-form-field>
</div>


<div class="releaseTypeDiv flex-column gap-10 option-wrapper">

    <mat-slide-toggle [checked]="specificStaff" class="toggleDiv mat-slider" (change)="valueChanges($event,3)">Specific staff</mat-slide-toggle>

    <div class="flex-row flex-wrap gap-20 flex-start-center">
        <div [@openCloseDiv]= specificStaff [@visibilityDiv]= specificStaff>
            <mat-form-field appearance="fill">
                <mat-label>Releaser 1</mat-label>
                    <mat-select formControlName="Releaser1">
                        <mat-option>N/A</mat-option>
                        <mat-option *ngFor="let releaser of releasers$ | async" [value]="releaser.userId">
                            {{ releaser.employeeNumber + ' - ' + releaser.firstName }}
                        </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Releaser 2</mat-label>
                    <mat-select formControlName="Releaser2">
                        <mat-option>N/A</mat-option>
                        <mat-option *ngFor="let releaser of releasers$ | async" [value]="releaser.userId">
                            {{ releaser.employeeNumber + ' - ' + releaser.firstName }}
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div style="margin-left: 10px; margin-bottom: 30px;">
    <p><mat-checkbox formControlName="IsStreetTreatRelease">Release needs to be carried out by street treat staff</mat-checkbox></p>
</div>

<div class="releaseTypeDiv option-wrapper flex-column gap-10">

    <mat-slide-toggle [disabled]="disableStreetTreat" [checked]="isStreetTreat" (change)="valueChanges($event,4)" class="mat-slider">StreetTreat</mat-slide-toggle>

    <div [@openCloseDiv]="isStreetTreat" [@visibilityDiv]="isStreetTreat">
        <app-patient-visit-details
            [isStreetTreatTrue]="isStreetTreat"
             [hidden] = "!isStreetTreat"
            (streetTreatCaseIdEmit)="streetTreatCaseIdEventHandler($event)"
            [recordForm]="recordForm">
        </app-patient-visit-details>
    </div>

</div>

<div class="disable">
    <caller-details [incomingCallerDetails]="[]" [recordForm]="recordForm"></caller-details>
</div>

<div class="flex-row flex-wrap gap-20 flex-start-end" style="padding-bottom:20px; padding-top:20px;">
    <mat-slide-toggle formControlName="complainerInformed" class="mat-slider">Caller informed</mat-slide-toggle>
</div>

</form>