<form [formGroup]="filteredRotaDayForm">  

    <div class="user-search flex-row flex-space-between-center" *ngIf="showUserFilter" >
      <mat-form-field >
        <!-- (keyup.enter)="showUserFilter=!showUserFilter" -->
        <input matInput type="text" (keyup)="searchUsers($event)" #userSearchInput autocomplete="off">
        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="userSearchInput.value = ''; clearAndCloseUserSearch()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field> 
    </div>    

  <table  mat-table [dataSource]="filteredRotaDayAssignments" class="day-rota-table" formArrayName="filteredRotaDayAssignments">    

        <ng-container matColumnDef="rotationArea">
          <th mat-header-cell *matHeaderCellDef class="first-column">
            <button mat-mini-fab [color]="filteredRotaDayForm.pristine ? 'primary' : 'warn'" (click)="saveRotaDay()" matTooltip="Save rota"
            [disabled]="filteredRotaDayForm.invalid">
              <mat-icon>save</mat-icon>
            </button>
          </th>

          <td mat-cell *matCellDef="let element"
          [attr.rowspan]="element.get('areaRowSpan')?.value"
          [style.display]="element.get('areaRowSpan')?.value !== 0  ? '' : 'none'"
          class="area-header first-column"

          
          [ngStyle]="{backgroundColor: element.get('rotationAreaColour')?.value}">

            <div *ngIf="!element.get('isAdded')?.value"
            (click)="showAreaStaffCoverage(element.get('rotationArea')?.value, element.get('rotationAreaId')?.value)"
            [ngStyle]="{color: element.get('rotationAreaFontColour')?.value}">
              {{element.get('rotationArea')?.value}}
            </div> 

            <div *ngIf="element.get('isAdded')?.value">

              <button
                class="delete-shift-button"
                type="button"
                (click)="deleteShift(element)"
                mat-mini-fab
                color="warn">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="rotationAreaPosition">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element; let i = index">
            
            <div *ngIf="!element.get('isAdded')?.value"
            style="white-space: nowrap;">
              {{element.get('rotationAreaPosition')?.value || element.get('plannedRotationAreaPosition')?.value}}
            </div>         

            <div [formGroupName]="i" *ngIf="element.get('isAdded')?.value"
            class="select-field non-form-field-input">

              <mat-select
              style="text-align: center; width: 100%"
              (selectionChange)="areaSelected($event.value, element)"
              [errorStateMatcher]="errorMatcher">
                <mat-option>N/A</mat-option>
                <mat-optgroup *ngFor="let group of (rotationAreaPositions$ | async)" [label]="group.rotationArea">
                  <mat-option *ngFor="let position of group.positions" [value]="position.rotationAreaPositionId">
                    {{position.rotationAreaPosition}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>

            </div>

          </td>
        </ng-container>
      
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef class="who-header" >
            
              <div class="flex-row flex-center-center">
                  <div style="margin-left: 25px;">Who</div>
                  <div >
                    <div class="who-icon flex-row flex-start-start" style="margin-left: 10px;">
                      <button mat-icon-button matTooltip="Show empty shifts only" [disabled]="userSearch !== ''" (click)="showEmptyShiftsOnly()">
                        <mat-icon 
                        matTooltip="Show all shifts" style="color: orange;" *ngIf="showEmptyShifts">person_off</mat-icon>                
                      
                        <mat-icon 
                        matTooltip="Show empty shifts" *ngIf="!showEmptyShifts">person</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Search staff" [disabled]="showEmptyShifts" (click)="toggleUserFilter()">
                        <mat-icon
                        [ngStyle]="{'color' : showUserFilter || userSearch !== '' ? 'orange' : 'unset'}">person_search</mat-icon>   
                      </button>
                                     
                    </div>
                  </div>
                
              </div>

          </th>
          <td mat-cell *matCellDef="let element; let i = index;" style="max-width: 200px;"> 

            
            <div [formGroupName]="i">

              <div *ngIf="element.get('leaveUser')?.value && (element.get('leaveGranted')?.value === 'Granted' || element.get('leaveGranted')?.value === 'Fixed Off')"
              class="granted-leave-user">

                {{element.get('leaveUser')?.value + ' (' + (element?.get('leaveGranted')?.value === 'Granted' ? 'L' : 'FO') + ')'}}
              </div>
              
              <app-user-autocomplete
                  formControlName="userId"
                  [formField]="false"
                  [scheduleUsers]="true"
                  [showLabel]="false"
                  [backgroundColour]="element.get('shiftSegmentCount')?.value > 1 ? '#FCE8B2' : ''"
                  (selectionMade)="updateSelectedUsers()"
                  class="select-field"                  
                  style="min-width: 100px; position: relative; background-color: black">
                  <mat-icon 
                  *ngIf="element.get('leaveGranted')?.value === 'Pending' || element.get('leaveGranted')?.value === 'Denied'; let leave"
                  matTooltipClass="leave-tooltip"
                  [ngClass]="element.get('leaveGranted')?.value === 'Pending' ? 'leave-pending' : 'leave-denied'"
                  class="leave-icon"
                  [matTooltip]="element.get('leaveGranted')?.value"
                  matSuffix >event_busy</mat-icon>

                </app-user-autocomplete>                

            </div>
          
          </td>
        </ng-container>
      
        <ng-container matColumnDef="plannedStartTime">
          <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> Start time </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.get('rotationAreaId')?.value !== -2">{{element.get('plannedStartTime')?.value}}</span></td>
        </ng-container>
      
        <ng-container matColumnDef="plannedEndTime">
          <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> End time </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.get('rotationAreaId')?.value !== -2">{{element.get('plannedEndTime')?.value}}</span></td>
        </ng-container>
      
        <ng-container matColumnDef="actualStartTime">
          <th mat-header-cell *matHeaderCellDef> Real start </th>
          <td mat-cell *matCellDef="let element; let i = index;">           
            <div [formGroupName]="i" class="time-field" *ngIf="element.get('rotationAreaId')?.value !== -2">
              <input matInput class="non-form-field-input" autocomplete="off"
              #shiftStart
              [ngClass]=" element.get('actualStartTime')?.errors ? 'time-error' : ''"
              formControlName="actualStartTime" type="time" (blur)="checkActualTimes(element, shiftStart, 'actualStartTime', 'actualEndTime')"/>  
            </div>  
          </td>
        </ng-container>
      
        <ng-container matColumnDef="actualEndTime">
          <th mat-header-cell *matHeaderCellDef> Real end </th>
          <td mat-cell *matCellDef="let element; let i = index;"> 
            <div [formGroupName]="i" class="time-field" *ngIf="element.get('rotationAreaId')?.value !== -2">
              <input matInput class="non-form-field-input" autocomplete="off"
              #shiftEnd
              [ngClass]="element.get('actualEndTime')?.errors ? 'time-error' : ''"
              formControlName="actualEndTime" type="time" (blur)="checkActualTimes(element, shiftEnd, 'actualEndTime', 'actualStartTime')"/>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef> Notes </th>
          <td mat-cell *matCellDef="let element; let i = index;"> 
            <div [formGroupName]="i" class="notes-field">
              <input matInput class="non-form-field-input" autocomplete="off" formControlName="notes" type="text"/>  
            </div>
           </td>
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
    [cdkContextMenuTriggerFor]="context_menu">
      <ng-template #context_menu>
        <div class="delete-row-menu" cdkMenu>
          <button class="delete-row-menu-item" (click)="deleteShift(row)" cdkMenuItem>Delete shift</button>
        </div>
      </ng-template>
    </tr>
  </table>

  <div class="flex-row flex-center-center gap-20" style="margin-top: 20px;">

    <button
      type="button"
      (click)="addShift()"
      mat-mini-fab
      color="primary">
      <mat-icon>add</mat-icon>
    </button>

  </div>

  <div class="flex-row gap-20" style="margin-top: 20px;">

    <div>
      <div class="user-list-heading">Unassigned staff</div>

      <div *ngFor="let user of (unassignedStaff | async)">        
        {{ user.employeeNumber + ' - ' + user.firstName }}
      </div>

    </div>

    <div>
      <div class="user-list-heading">Underutilised staff</div>
  
      <div *ngFor="let user of utilisation | async"  style="margin-bottom: 10px;">
        <div *ngIf="user.utilisation === 'under'">
          {{ user.userCode + ": " + (user.hours | date: 'hh:mm')}}
        </div>
      </div>

      <div class="user-list-heading">Overutilised staff</div>
  
      <div *ngFor="let user of utilisation | async">
        <div *ngIf="user.utilisation === 'over'">
          {{ user.userCode + ": " + (user.hours | date: 'hh:mm')}}

        </div>
      </div>
  
    </div>


  </div>




</form>