
.day-rota-table{
    width: 98%;
    height: 100%;
}

.delete-shift-button{
    transform: scale(-1);
}

.time-error{
    color: red;
    border: 1px solid red;
}

th, td {
    text-align: -webkit-center !important;
}
.first-column {
    padding-left: 5px !important;
    padding-right: 5px !important;
    z-index: 101 !important;
}

::ng-deep .mat-cell {
    padding: 0 8px;
  }

::ng-deep .mat-mdc-table .mdc-data-table__row {
    height: 35px;    
}


::ng-deep .mat-mdc-form-field {
    padding: 5px 0;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

.time-field{
    max-width: 78px;
}



.notes-field{
    min-width: 150px;
}

.area-select-container{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 5px;
}

.user-list-heading{
    text-decoration: underline;
    margin-bottom: 10px;
}



.who-icon{
    cursor: pointer;
}

.who-header{
    max-width: 200px;
    z-index: 101 !important;
}

.user-search{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    left: 165px;
    margin-top: 45px;
    z-index: 102;
}

.delete-row-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
  }
  
  .delete-row-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none !important;
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }

@media(max-width: 600px) {
 
    .mat-form-field{
      max-width: 60% !important;
    }

}