<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" >close</mat-icon>
</button>
<div class="flex-column gap-5" style="overflow-x: hidden">
    <ng-container *ngFor="let date of (mediaGalleryDates | async); let index = index">
        
        <div ngStyle.gt-sm="width:max-content;" ngStyle.lt-sm="overflow:scroll;">
            <p style="
            margin: 0 0 0.5em 0;
            position: sticky;
            left: 0;
            top: 0;">{{ date | date : "dd MMM yyyy" }} </p>
            <div class="flex-row gap-5">

                <media-thumbnails [patientId]="data.patientId" [limitSize]=false [date]="date" ></media-thumbnails>
            </div>
        </div>
    </ng-container>
</div>
