::ng-deep .media-gallery-dialog {
    max-height: 70vh;
    position:relative !important;
}
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #607d8b;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
	.mat-icon{
		font-size:1.2rem;
	}
}


@media(max-width:600px){

    ::ng-deep .media-gallery-dialog {

        .mat-dialog-container{ 

            max-width: 90vw !important;
            max-height: 90vh !important;
            overflow: hidden;
            padding:1em;
        }
    }
}
