<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" >close</mat-icon>
</button>
<div fxLayout="column" fxLayoutGap="2rem" style="overflow-x: hidden">
    <ng-container *ngFor="let gallery of data.mediaGallery; let index = index">
        <div ngStyle.gt-sm="width:max-content;" ngStyle.lt-sm="overflow:scroll;">
            <p style="
            margin: 0 0 0.5em 0; 
            position: sticky;
            left: 0;
            top: 0;">{{ gallery.date}} </p>
            <div fxLayout="row" fxLayoutGap="0.5rem">
               
                <media-thumbnails [gallery]="gallery.images" [mediaPatientItems]="data.mediaPatientItems"  ></media-thumbnails>
            </div>
        </div>
    </ng-container>
</div>
