@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$colour-border:#a9abad;
$primary-font-colour: #626262;
$standard-width: 175px;


.form-group
{
  background-color:white ;
  position: center;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: $colour-border;
  padding-left:15px;
  padding-right:15px;
  width: 100%;
  height: 70px;
}

