<h1 mat-dialog-title>Surgeries - {{surgeryDate | date: 'dd/MMM/yyyy'}}</h1>

<div mat-dialog-content>

  <div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="dataSource">

      <ng-container matColumnDef="tagNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TagNumber </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">TagNumber:</span>
          {{row.tagNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="animalType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Animal type </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Animal type:</span>
          {{row.animalType}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Surgery type </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Surgery type:</span>
          {{row.type}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surgeon">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Surgeon</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Surgeon:</span>
          {{row.surgeon}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="site">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Site:</span>
          {{row.site}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="anesthesiaMinutes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Minutes under anesthesia </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Minutes under anesthesia:</span>
          {{row.anesthesiaMinutes}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCancel()">close</button>
</div>


