<app-search-field (searchString)="onSearchQuery($event)"></app-search-field>


<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start" class="search-results">

    <div *ngIf="searchResults$ | async as searchResults;">

        <div *ngIf="searchResults.length === 0;">No results</div>

        <div *ngFor="let record of searchResults">

            <app-search-streettreet-result-card class="emergency-card" [record]="record"></app-search-streettreet-result-card>

        </div>

    </div>


</div> 