<mat-toolbar color="primary" class="mat-elevation-z6" fxLayout fxLayoutGap="16px">
    <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>

    <a mat-icon-button [routerLink]="previousUrl" *ngIf="activePage?.isChild">
        <mat-icon>arrow_back</mat-icon>
    </a>

    <div fxFlex="100%">{{activePage.title}}</div>

    <app-user-preferences class="user-preferences-wrapper"></app-user-preferences>

    <button mat-icon-button *ngIf="mobile" (click)="onSetSearchFocus()">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button (click)="onLogout()" style="padding-right: 20px">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
