
.user-icon {
    border-radius: 50%;
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    font-weight: 650;
    color: white;
    background-color: darkgray;
    text-align: center;
    cursor: pointer;
}

.preferences-wrapper{
    padding: 10px
}

.clear-search-toggle {
    color: #727171;
    font-size: smaller;
}

.account-circle{
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.user-full-name {
    padding-bottom: 15px;
    text-decoration: underline;
}

.user-preferences{
    min-height: 200px;
    min-width: 350px;
    z-index: 100;
    height: fit-content;
    background-color: white;
    border: 3px solid #dbd3d3;
    color: #727171;
    position: absolute;
    top: 60px;
    border-radius: 8px;
    right: 20px;
    padding: 10px;
}

.clear-search{
 font-size: small;
 color: darkgray;
 line-height: normal;
}

@media only screen and (max-width: 600px){
    :host{
        position: fixed !important;
        z-index: 3;
        width:100%;
        top:0px;
    }
}