<div *ngIf='driverViewAssignments | async' class="actionStatusWrapper">
    <fieldset class="form-sub-group" *ngIf="(showCompleteFlag && actionStatus==='Complete') || (!showCompleteFlag && actionStatus!=='Complete')">
        <legend class="legend">{{actionStatus}}</legend>

        <div *ngFor="let assignments of driverViewAssignments | async" >

            <div class="caseDivContainer" fxLayout="column" fxLayoutAlign='start'>

                <div style="margin-bottom: -1em; padding-top: 1em;" fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start end'>

                    <div *ngIf="assignments.ambulanceAction === 'Rescue'" class="emergencyDetailsCode" [ngClass]="{
                        'grey' : assignments.emergencyCodeId == 4,
                        'red' : assignments.emergencyCodeId == 1,
                        'green' : assignments.emergencyCodeId == 2,
                        'yellow' : assignments.emergencyCodeId == 3}">
                    </div>

                    <div *ngIf="assignments.ambulanceAction === 'STRelease' || assignments.ambulanceAction ==='StreetTreat'" class="emergencyDetailsCode" [ngClass]="{
                        'grey' : assignments.streetTreatPriorityId == 4,
                        'red' : assignments.streetTreatPriorityId == 1,
                        'green' : assignments.streetTreatPriorityId == 2,
                        'yellow' : assignments.streetTreatPriorityId == 3}">
                    </div>

                    <p>EmNo:{{assignments.emergencyNumber}}</p>

                    <div fxLayout='row wrap' fxLayoutAlign='start'>
                        <p>AnimalType: {{assignments.patients[0].animalType}}</p>
                        <p class="countWrapper" *ngIf="assignments.patients.length > 1">+{{assignments.patients.length - 1}}</p>
                    </div>

                    <app-driver-view-icons class="caseIconWrapper" [driverViewAssignment]="assignments">

                    </app-driver-view-icons>

                </div>

                <div style="margin-bottom: -1em;">
                    <p>Address: {{assignments.location}}</p>
                </div>

                <div style="margin-bottom: 0em;" fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start'>



                    <div fxLayout='row'>
                        <p>Main Problem:</p>
                        <p *ngIf="assignments.ambulanceAction === 'STRelease' || assignments.ambulanceAction ==='StreetTreat'"> {{assignments.streetTreatMainProblem}} </p>
                        <div fxLayout='row wrap' fxLayoutAlign='start'>

                            <p *ngIf="(assignments.ambulanceAction === 'Rescue' || assignments.ambulanceAction ==='Release') && assignments.patients.length > 1">({{assignments.patients[0].problems[0].problem}}+{{assignments.patients.length - 1}})</p>

                            <p *ngIf="(assignments.ambulanceAction === 'Rescue' || assignments.ambulanceAction ==='Release') && assignments.patients.length === 1">({{assignments.patients[0].problems[0].problem}})</p>

                        </div>

                    </div>

                </div>

                <div style="margin-bottom: -0.6em;" fxLayout="row wrap" fxLayoutGap='5px' *ngIf="assignments.ambulanceAction === 'Rescue'">

                    <button (click)="toggleButtonSelection('Arrived', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Arrived
                        <mat-icon *ngIf = "assignments.ambulanceArrivalTime" class="selectionButton">check_circle</mat-icon>
                    </button>
                    <button [disabled]="!assignments.ambulanceArrivalTime" (click)="toggleButtonSelection('Rescued', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Rescued
                        <mat-icon *ngIf = "assignments.rescueTime" class="selectionButton">check_circle</mat-icon>
                    </button>
                    <button [disabled]="!assignments.ambulanceArrivalTime || !assignments.rescueTime" (click)="toggleButtonSelection('Admitted', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Admitted
                        <mat-icon *ngIf="assignments.admissionTime" class="selectionButton">check_circle</mat-icon>
                    </button>

                </div>

                <div style="margin-bottom: -0.6em;" fxLayout="row wrap" fxLayoutGap='5px' *ngIf="assignments.ambulanceAction === 'STRelease'">
                    <button (click)="toggleButtonSelection('PickedUp', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Picked up
                        <mat-icon *ngIf = "assignments.releasePickupDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                    <button [disabled]="!assignments.releasePickupDate" (click)="toggleButtonSelection('Arrived', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Arrived
                        <mat-icon *ngIf = "assignments.releaseBeginDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                    <button [disabled]="!assignments.releasePickupDate || !assignments.releaseBeginDate" (click)="toggleButtonSelection('Released', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Released
                        <mat-icon *ngIf="assignments.releaseEndDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                    <button [disabled]="!assignments.releaseEndDate || !assignments.releasePickupDate || !assignments.releaseBeginDate" (click)="toggleButtonSelection('Treated', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Treated
                        <mat-icon *ngIf="assignments.visitEndDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                </div>

                <div style="margin-bottom: -0.6em;" fxLayout="row wrap" fxLayoutGap='5px' *ngIf="assignments.ambulanceAction === 'Release'">

                    <button (click)="toggleButtonSelection('PickedUp', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Picked up
                        <mat-icon *ngIf = "assignments.releasePickupDate" class="selectionButton">check_circle</mat-icon>
                    </button>
                    <button [disabled]="!assignments.releasePickupDate" (click)="toggleButtonSelection('Arrived', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Arrived
                        <mat-icon *ngIf = "assignments.releaseBeginDate" class="selectionButton">check_circle</mat-icon>
                    </button>
                    <button [disabled]="!assignments.releasePickupDate || !assignments.releaseBeginDate" (click)="toggleButtonSelection('Released', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Released
                        <mat-icon *ngIf="assignments.releaseEndDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                </div>

                <div style="margin-bottom: -0.6em;" fxLayout="row wrap" fxLayoutGap='5px' *ngIf="assignments.ambulanceAction === 'StreetTreat'">

                    <button (click)="toggleButtonSelection('Arrived', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Arrived
                        <mat-icon *ngIf = "assignments.visitBeginDate" class="selectionButton">check_circle</mat-icon>
                    </button>
                    <button [disabled]="assignments.visitBeginDate" (click)="toggleButtonSelection('Treated', assignments.ambulanceAction, assignments)" class="selectionButtonWrapper">
                        Treated
                        <mat-icon *ngIf="assignments.visitEndDate" class="selectionButton">check_circle</mat-icon>
                    </button>

                </div>

                <div fxLayout="row-reverse" style="margin:1em 1em 0 0">
                    <div class="actionWrapper" [ngClass]="{
                        'STRelease' : assignments.ambulanceAction === 'STRelease',
                        'StreetTreat' : assignments.ambulanceAction === 'StreetTreat',
                        'Rescue' : assignments.ambulanceAction === 'Rescue',
                        'Release' : assignments.ambulanceAction === 'Release'}">
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'STRelease'">STRelease</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'StreetTreat'">StreetTreat</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'Rescue'">Rescue</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'Release'">Release</p>
                    </div>
                </div>

            </div>

        </div>
    </fieldset>

</div>
