<fieldset class="form-sub-group">

  <legend class="legend ">{{areaName}} - ({{patientRecords?.data?.length}})</legend>

  <button type="button" mat-raised-button color="primary" (click)="treatmentLayout()">Treatment layout</button>

  <button type="button" mat-raised-button color="primary" (click)="censusLayout()">Census layout</button>

  <button type="button" mat-mini-fab color="primary" (click)="print()"><mat-icon>local_printshop</mat-icon></button>


  <div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="patientRecords">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Count </mat-header-cell>
        <mat-cell *matCellDef="let index = index" class="link"> 
          <span class="mobile-label">Count:</span>
          {{index + 1}}
        </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="column" *ngFor="let column of columnsExcludingIndex | async">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let element;" [class.link]="column === 'Tag number'"
        (click)="cellClicked(column, element[column])"> 
          <span class="mobile-label">{{column}}:</span>
          {{element[column]}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="complete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Treated </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span class="mobile-label">Treated:</span>
          <mat-chip-list>
            <mat-chip #treatedChip="matChip" (click)="toggleTreatment(row)">
              <mat-icon [class.is-hidden]="!row.treatedToday" class="complete">check_circle</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns | async"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns | async;"></mat-row>
    </mat-table>

  </div>


</fieldset>
