<title mat-dialog-title>Keyboard shortcuts</title>
<div class="keyboard_shortcut" >
    

    <div>
        <h4>Windows</h4>
        <div>
            <div>Caller number</div> 
            <div><span>Alt</span> + <span>Shift</span> + <span>n</span></div>
        </div>

        <div>
            <div>Call date time</div> 
            <div><span>Ctrl</span> + <span>Shift</span> + <span>c</span></div>  
        </div>
        <div>
            <div>Dispatcher</div> 
            <div><span>Ctrl</span> + <span>d</span></div>  
        </div>
        <div>
            <div>Address</div> 
            <div><span>Ctrl</span> + <span>l</span></div>
        </div>
        <div>
            <div>Rescue Time</div> 
            <div><span>Ctrl</span> + <span>Shift</span> + <span>q</span></div> 
        </div>
        <div>
            <div>Ambulance arrival time</div> 
            <div><span>Ctrl</span> + <span>Shift</span> + <span>a</span></div> 
        </div>
        <div>
            <div>Add a new patient</div> 
            <div><span>Ctrl</span>+ <span>p</span></div>  
        </div>
        <div>
            <div>First tag number</div> 
            <div><span>Ctrl</span>+ <span>Enter</span></div>  
        </div>
        <div>
            <div>Call outcome</div> 
            <div><span>Ctrl</span>+ <span>o</span></div>  
        </div>
        <div>
            <div>Reset form</div> 
            <div><span>Ctrl</span>+ <span>Shift</span>+ <span>r</span></div>  
        </div>
        <div>
            <div>Code</div> 
            <div><span>Ctrl</span>+ <span>e</span></div>  
        </div>
        <div>
            <div>Save</div> 
            <div><span>Ctrl</span>+ <span>s</span></div>    
        </div>
    </div>

    <div>
        <h4>Mac</h4>
        <div>
            <div>Caller number</div> 
            <div><span>Command</span> + <span>Shift</span> + <span>n</span></div> 
        </div>
    </div>
</div>
   