
<fieldset [formGroup]="patientDetailsFormGroup" class="form-sub-group">

<div fxLayout.lt-md="column" class="flex-row gap-5 flex-start-start">

    <div fxFlex="1 1 50" class="flex-column gap-15 flex-start-start">

        <div class="container">
            <img [src]="profileUrl" class="containerImage" alt="Click to upload"/>
        </div>

    </div>

    <div class="flex-column gap-15 flex-space-around-center" fxFlex="0 1 50">

        <div class="flex-column flex-center-center" *ngIf="recordForm.get('patientDetails.knownAsName')?.value" fxFlex="0 1 60" >
            <div class="tag-number">
                <label >{{recordForm.get('patientDetails.knownAsName')?.value}}</label>
            </div>
            <div class="primary-font-color">Known as</div>
        </div>

        <div class="flex-column flex-center-center" fxFlex="0 1 60">
            <div class="tag-number">
                <label >{{recordForm.get('patientDetails.tagNumber')?.value}}</label>
            </div>
            <div class="primary-font-color">Tag number</div>
        </div>

        <div class="flex-column flex-center-center" fxFlex="0 1 60">
            <div>
                <label class="current-area">{{recordForm.get('patientDetails.currentLocation')?.value}}</label>
            </div>
            <div class="primary-font-color">Current area</div>
        </div>

</div>

</div>

</fieldset>
