
<fieldset [formGroup]="patientDetailsFormGroup" class="form-sub-group">

<div class="flex-row gap-5 flex-start-start">

    <div style="flex: 1 1 50;" class="flex-column gap-15 flex-start-start">

        <div class="container">
            <img [src]="profileUrl" class="containerImage" alt="Click to upload"/>
        </div>

    </div>

    <div class="flex-column gap-15 flex-space-around-center" style="flex: 0 1 50;">

        <div class="flex-column flex-center-center" *ngIf="recordForm.get('patientDetails.knownAsName')?.value" style="flex: 0 1 60;" >
            <div class="tag-number">
                <label >{{recordForm.get('patientDetails.knownAsName')?.value}}</label>
            </div>
            <div class="primary-font-color">Known as</div>
        </div>

        <div class="flex-column flex-center-center" style="flex: 0 1 60;">
            <div class="tag-number">
                <label >{{recordForm.get('patientDetails.tagNumber')?.value}}</label>
            </div>
            <div class="primary-font-color">Tag number</div>
        </div>

        <div class="flex-column flex-center-center" style="flex: 0 1 60;">
            <div>
                <label class="current-area">{{recordForm.get('patientDetails.currentLocation')?.value}}</label>
            </div>
            <div class="primary-font-color">Current area</div>
        </div>

</div>

</div>

</fieldset>
