
<fieldset [formGroup]="patientDetailsFormGroup" class="form-sub-group">

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="start">

<div fxLayout="column" fxFlex="1 1 50" fxLayoutGap="15px" fxLayoutAlign="start">
<!-- <img mat-card-image (click)="launchImageModal()"  src="../../../../../assets/images/image_placeholder.png" width="100%" height="100%"  style="cursor: pointer" alt="Click to upload"> -->

<!-- <ng-template ngFor let-imageUrl [ngForOf]="imageUrls"> -->
<div class="container">
    <img [src]="profileUrl" (click)="launchImageModal()" class="containerImage" alt="Click to upload" />
    <button type='button' class="containerButton" mat-mini-fab>
        <mat-icon (click)="openMediaDialog()">add_photo_alternate</mat-icon>
    </button>
</div>
<!-- </ng-template> -->



</div>
<div fxLayout="column" fxFlex="0 1 50" fxLayoutGap="15px" fxLayoutAlign="space-around center">

    <div fxLayout="column" fxFlex="0 1 60" fxLayoutGap="0px" fxLayoutAlign="center center">

<div class="tag-number">
<label >{{recordForm.get('patientDetails.tagNumber').value}}</label>
</div>
<div class="primary-font-color">Tag number</div>
</div>

<div>
</div>

<div fxLayout="column" fxFlex="0 1 60" fxLayoutGap="0px" fxLayoutAlign="center center">
<div>
<label class="current-area">{{recordForm.get('patientDetails.currentLocation').value}}</label>
</div>
<div class="primary-font-color">Current area</div>

</div>


</div>

</div>

</fieldset>
