<div fxLayout="row" fxLayoutAlign="center start">

    <div fxLayout="column" fxLayoutAlign="center center">

        <div class="vehicle-shift-header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <div class="vehicle-image">

            </div>

        </div>

        <div class="vehicle-number">
            {{vehicle.vehicleNumber}}
        </div>


        <div class="license-plate" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="license-plate-badge">
                    <div class="silver"></div>
                    <span>IND</span>
                </div>
                <div>
                    {{vehicle.registrationNumber}}
                </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="vehicle-type">
                <div class="vehicle-type-icon">icon</div>
                <div>{{vehicle.vehicleType}}</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="capacity-details">

            <div class="capacity">Capacity</div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>Small</div>
                <div>:</div>
                <div>{{vehicle.smallAnimalCapacity}}</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
                <div>Large</div>
                <div>:</div>
                <div>{{vehicle.largeAnimalCapacity}}</div>
            </div>

        </div>




    </div>

    <div fxFlex fxLayout="column" class="vehicle-shift-hours">

        <div fxLayout="row" fxLayoutAlign="space-between center">


            <div *ngFor="let hour of hours" class="single-hour">
                {{hour}}
            </div>

        </div>

        <div
        fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px"
        *ngFor="let shift of ( shifts$ | async)"
        [style.width.%]="shift.length || 20" [style.left.%]="shift.left" class="vehicle-shift">

            <div *ngFor="let staff of shift.vehicleStaff">

                <div class="staff-icon"
                [matTooltip]="staff.firstName + ' ' + staff.surname">
                    {{staff.initials}}
                </div>

            </div>

            <div fxFlex class="shift-detail">
                {{shift.shiftStartTime | date: 'HH:mm' : '' + (shift.shiftStartTime.getTimezoneOffset() * -1)}} - {{shift.shiftEndTime | date: 'HH:mm' : '' + (shift.shiftEndTime.getTimezoneOffset() * -1)}}
            </div>

        </div>


    </div>

</div>

<button class="addStaffAssignmentButton" type="button" (click)="addStaffAssignment()" mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

<form [formGroup]="addShiftFormGroup" *ngIf="showAddShiftDialog" class="add-shift-dialog" (ngSubmit)="addStaffShift()">

<div fxLayout="row wrap">

    <!--[max]="shiftEndTime?.value || currentDayEnd"-->
    <mat-form-field>
        <input formControlName="shiftStartTime" type="datetime-local"
        name="shiftStartTime"
        [min]="minDate"
        [max]="maxStartTime"
        placeholder="Shift start time" [errorStateMatcher]="errorMatcher" matInput>

            <mat-error *ngIf="shiftStartTime?.hasError('inside-other-shift')">
            Shift start time is inside another shift.
            </mat-error>

            <mat-error *ngIf="shiftStartTime?.hasError('start-before-end')">
            Shift start time is after shift end time.
            </mat-error>

            <mat-error *ngIf="shiftStartTime?.hasError('shift-overlap')">
            This shift overlaps another shift.
            </mat-error>

    </mat-form-field>

    <mat-form-field>
        <input formControlName="shiftEndTime" type="datetime-local"
        name="shiftEndTime"
        [min]="minEndTime"
        [max]="maxDate"
        placeholder="Shift end time" [errorStateMatcher]="errorMatcher" matInput>

        <mat-error *ngIf="shiftEndTime?.hasError('inside-other-shift')">
            Shift end time is inside another shift.
        </mat-error>

        <mat-error *ngIf="shiftEndTime?.hasError('end-before-start')">
            Shift end time is before shift start time.
        </mat-error>

        <mat-error *ngIf="shiftEndTime?.hasError('shift-overlap')">
            This shift overlaps another shift.
        </mat-error>


    </mat-form-field>

</div>

<div fxLayout="column">

    <div formArrayName="vehicleStaff" *ngFor="let staff of staffArray?.controls; let i = index;">

            <div [formGroupName]="i">

                <mat-form-field>
                    <mat-label>Staff {{i + 1}}</mat-label>
                    <mat-select formControlName="userId" [errorStateMatcher]="errorMatcher">
                        <mat-option>N/A</mat-option>
                            <mat-option *ngFor="let staff of staff$ | async" [value]="staff.userId">
                            {{staff.firstName}} {{staff.surname}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="shiftEndTime?.hasError('uniqueBy')">
                        This staff member is already assigned.
                    </mat-error>

                </mat-form-field>


            </div>


        </div>


        <button mat-raised-button color="primary" type="submit"
        [disabled]="addShiftFormGroup.invalid">Add shift</button>


    </div>
</form>