<div fxLayout="row" fxLayoutAlign="center start">

    <div fxLayout="column" fxLayoutAlign="center center" class="vehicle-shift-header-wrapper">

        <div class="vehicle-shift-header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <div class="vehicle-image">
                <img [src]="vehicle.imageURL" />
            </div>

        </div>

        <div class="vehicle-number">
            {{vehicle.vehicleNumber}}
        </div>


        <div class="license-plate" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="license-plate-badge">
                    <div class="silver"></div>
                    <span>IND</span>
                </div>
                <div>
                    {{vehicle.registrationNumber}}
                </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="vehicle-type">
                <div class="vehicle-type-icon">
                    <img  src="assets/icons/ambulance_van.png" alt="Vehicle type">
                </div>
                <div>{{vehicle.vehicleType}}</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="capacity-details">

            <div class="capacity">Capacity</div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="capacity-item">
                <div>Small</div>
                <div>:</div>
                <div>{{vehicle.smallAnimalCapacity}}</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="capacity-item">
                <div>Large</div>
                <div>:</div>
                <div>{{vehicle.largeAnimalCapacity}}</div>
            </div>

        </div>




    </div>

    <div fxFlex fxLayout="column" class="vehicle-shift-hours">

        <div fxLayout="row" fxLayoutAlign="space-between center">

            <div *ngFor="let hour of hours" class="single-hour">
                {{hour}}
            </div>

        </div>

        <div fxFill class="shift-wrapper">

            <div
            fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px"
            *ngFor="let shift of ( shifts$ | async)"
            [style.width.%]="shift.length || 20" [style.left.%]="shift.left" class="vehicle-shift">

                <div *ngFor="let staff of shift.vehicleStaff">

                    <div class="staff-icon"
                    [matTooltip]="staff.firstName + ' ' + staff.surname">
                        {{staff.initials}}
                    </div>

                </div>

                <div fxFlex class="shift-detail">
                    {{shift.shiftStartTime | date: 'HH:mm' : '' + (shift.shiftStartTime.getTimezoneOffset() * -1)}} - {{shift.shiftEndTime | date: 'HH:mm' : '' + (shift.shiftEndTime.getTimezoneOffset() * -1)}}
                </div>

                <button class="shift-button delete" type="button" (click)="removeShift(shift)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>

                <button class="shift-button edit" type="button" (click)="editShift(shift)" mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>

            </div>

        </div>




    </div>

</div>

<button class="addStaffAssignmentButton" type="button" (click)="addShift()" mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

