<fieldset class="form-sub-group">

<legend class="legend">Treatment area history</legend>

<mat-table mat-table [dataSource]="treatmentAreaHistory" class="mat-elevation-z8">

    <ng-container matColumnDef="Date">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="date-field"> Date </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element" class="link date-field">
        {{element.date | date:'dd MMM yyyy' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Area">
      <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Area:</span>
        {{row.area}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Action:</span>
        {{row.action}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Days">
      <mat-header-cell *matHeaderCellDef> Days </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Days:</span>
        {{row.days}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</fieldset>