$colour-border: #a9abad;
$primary-font-colour: #626262;
$standard-width: 175px;

.form-sub-group {
    border: 2px solid;
    border-radius: 5px;
    border-color: $colour-border;
    padding-left: 5px;
    padding-right: 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .mat-table {
    // overflow: auto;
    max-height: fit-content;
    border: 1px solid $colour-border;
    cursor: pointer;
  }

  .mobile-label {
    display: none;
  }


    .mat-row {
        background-color: white;
        font-family: sans-serif;
    }

@media(max-width: 600px) { 
    .mobile-label {
        width: 12rem;
        display: inline-block;
        font-weight: bold;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 4px 20px;
      background-color: white;
      font-family: sans-serif;
    }

    mat-cell:first-of-type {
        padding-left: 0px;
    }

    mat-row, mat-footer-row {
        min-height: 30px;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
      padding: 0;
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
      padding:0;
    }
}

.Edit {
    cursor: pointer;
    color: blue;
}