
.table{
    width: 100%;
  }

  @media print {
    .isPrinting > * { display: none; }
    .mat-dialog-container { display: none !important; }
    .cdk_overlay_pane > * { display: none !important; }
  }