<h1 mat-dialog-title  
cdkDragRootElement=".cdk-overlay-pane">
</h1>
<div mat-dialog-content>
    <fieldset class="form-sub-group">
                
        <legend class="legend">Patient Details</legend>
        
        <table mat-table #table [dataSource]="patientRecords" class="table">
        
            <ng-container matColumnDef="emergencynumber">
              <th mat-header-cell *matHeaderCellDef> EmergencyNumber </th>
              <td mat-cell *matCellDef="let element">{{element.emergencynumber}}</td>
            </ng-container>
          
            <ng-container matColumnDef="tagnumber">
              <th mat-header-cell *matHeaderCellDef> TagNumber </th>
              <td mat-cell *matCellDef="let element"> {{element.tagnumber}} </td>
            </ng-container>
        
            <ng-container matColumnDef="species">
              <th mat-header-cell *matHeaderCellDef> Species </th>
              <td mat-cell *matCellDef="let element"> {{element.species}} </td>
            </ng-container>
        
            <ng-container matColumnDef="callername">
              <th mat-header-cell *matHeaderCellDef> Caller-Name </th>
              <td mat-cell *matCellDef="let element"> {{element.callername}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> Number </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
    
            <ng-container matColumnDef="calldate">
                <th mat-header-cell *matHeaderCellDef> Call-Date </th>
                <td mat-cell *matCellDef="let element"> {{element.calldate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </fieldset>
</div>

<div mat-dialog-action>
  <button type="button" mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>
