.refresh-app{
    text-align: center;
}

.refresh-text{
    padding-top: 20px;
    padding-bottom: 10px;
}

.example-chip-list {
    width: 100%;
}

.accordion{
    margin-top: 20px;
}

.vehicle-defaults{
    margin-right: 16px;
}