<h1 class="legend" style="padding-top: 61px;">Apoms: {{releaseVersion}}</h1>


<form
[formGroup]="organisationOptions"
class="flex-column flex-center-center">

    <div class="refresh-text">
    To get the latest version of the app, click the refresh button
    </div>

    <div>
        <button mat-mini-fab (click)="refreshApp()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>



    <mat-accordion class="accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edit dropdowns
            </mat-panel-title>
            <mat-panel-description>
              Here you can edit the contents of many dropdowns in Apoms.
            </mat-panel-description>
          </mat-expansion-panel-header>

          

            <fieldset class="form-sub-group flex-column flex-center-center" style="width: 90%; margin-bottom: 10px;">
    
                <legend class="legend" i18n>Update dropdowns</legend>

                <div class="flex-column flex-center-center">
                  <aau-organisation-dropdown></aau-organisation-dropdown>
                </div>
    
    
            </fieldset>
    
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vehicle staff assigner options.
            </mat-panel-title>
            <mat-panel-description>
              Here you can set the default options for the vehicle staff assigner.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="flex-column flex-center-center gap-20">

            <div formGroupName="vehicleDefaults" class="vehicle-defaults flex-row flex-wrap gap-20 flex-center-center">

                <div>
                    <mat-form-field>
                      <mat-label>Shift start time</mat-label>
                        <input
                        formControlName="shiftStartTime" 
                        type="time"
                        matInput>
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field>
                        <mat-label>Shift end time</mat-label>
                        <input
                        formControlName="shiftEndTime" 
                        type="time"
                        matInput>
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field>
                        <mat-label>Default shift length (in hours)</mat-label>
                        <input
                        formControlName="defaultShiftLength" 
                        type="number"
                        matInput>
                    </mat-form-field>
                </div>
    
              </div>
    
              <div style="padding-bottom: 10px;">
                  <button mat-raised-button color="primary" (click)="saveOrganisationVehicleDetails();">Save</button>
              </div>
          </div>
          


        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Resolve broken cases.
            </mat-panel-title>
            <mat-panel-description>
              Here you can find and resolve issues with broken cases
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-broken-cases></app-broken-cases>
          


        </mat-expansion-panel>




      </mat-accordion>


</form>