<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

        <mat-tab *ngFor="let tab of tabs; let index = index" label="tab">

                <ng-template mat-tab-label>
                {{tab.value}}
                <mat-icon *ngIf="index > 1" (click)="removeTab(index)">{{tab.icon}}</mat-icon>
                </ng-template>

                <outstanding-case-board *ngIf="index == 0" (openEmergencyCase)="openCase($event)" class="tab-icon"></outstanding-case-board>

                <record-search *ngIf="index == 1" (openEmergencyCase)="openCase($event)" class="tab-icon"></record-search>
                
                <emergency-record *ngIf="index > 1" [guId]= "tab.GUID" [emergencyCaseId]="tab.emergencyCaseId"
                (loadEmergencyNumber)="updateEmergencyNumber($event)"
                 class="tab-icon">
                </emergency-record>

        </mat-tab>

        <!-- TODO: Fix the positioning of the icon to the middle of the tab. It's off to the right at the moment -->
        <mat-tab disabled>
        <ng-template mat-tab-label>
                <button style="background: none; border: none; cursor: pointer;" mat-icon-button (click)="addTab(0,'New Case*')">
                <mat-icon color="primary">add_circle</mat-icon>
                </button>
        </ng-template>
        </mat-tab>
        <mat-tab >
                <ng-template mat-tab-label >
                        <button style="background: none; border: none; cursor: pointer;" mat-icon-button (click)="openShortcutsDialog($event,selected.value)">
                                <mat-icon fxHide.lt-md color="primary">build_circle</mat-icon>
                        </button>
                </ng-template>
        </mat-tab>

</mat-tab-group>



