<app-search-field (searchString)="onSearchQuery($event)"></app-search-field>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start" class="search-results">

    <div *ngIf="searchResults$ | async as searchResults;">

        <div *ngIf="searchResults.length === 0;">No results</div>

        <div *ngFor="let record of searchResults">

            <search-result-card class="emergency-card" (openEmergencyCase)="openCase($event)" [record]="record"></search-result-card>

        </div>

    </div>


</div>
