$standard-width: 175px;
$standard-height: 48px;

::ng-deep .emergency-card {
    max-width: 220px !important;
    height: fit-content;
    margin: 0px 0px 10px 0px !important;
    border-radius: 8px !important;
    padding: 0px !important;
}

.search-results{
    padding: 20px;
}