<mat-form-field class="er-case-search-box" [@expandSearch]="searchShowing ? 'open' : 'closed'">
    <span matPrefix (click)="executeSearch()">
        <mat-icon style="cursor: pointer;" matSuffix>search</mat-icon>
    </span>
    <input class="er-case-search-box" autocomplete="off" [(ngModel)]="search.searchString" type="text" (keyup.enter)="executeSearch()" matInput>
    <mat-icon style="cursor: pointer;" matSuffix (click)="toggleSearchBox()">keyboard_arrow_down</mat-icon>
</mat-form-field>



    <div  [@expandSearchForm]="searchShowing ? 'open' : 'closed'" class="search-form" [formGroup]="searchForm">

        <div formArrayName="searchRows" *ngFor="let item of searchForm.get('searchRows')?.controls; let i = index;">
            <div [formGroupName]="i">

                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                    <div fxFlex="5">
                        <mat-icon style="cursor: pointer; margin-left:15px;" (click)="removeRow(i)">
                            remove_circle_outline</mat-icon>
                    </div>

                    <div fxFlex>

                        <mat-form-field>
                            <mat-label>Search field</mat-label>
                            <mat-select formControlName="searchField">
                                <mat-option *ngFor="let option of options" #id{{i}} [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        

                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <input formControlName="searchTerm" matInput>
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>

        <mat-icon class="add-search-row" (click)="addRow()">add_circle_outline</mat-icon>

        <button mat-raised-button class="er-search-button" (click)="executeSearch()">
            Search
        </button>
    </div>

<div>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

    <mat-card *ngFor="let result of searchResults$ | async" class="emergency-card">
    <!-- <mat-card *ngFor="let result of searchResults$" class="emergency-card"> -->

        <mat-card-header class="emergency-card-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{result.EmergencyNumber}} - {{result.TagNumber}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>

        <button mat-icon-button color="primary"
        class="circle-button"
        aria-label="Edit record"
        (click)="openCase(result.EmergencyCaseId, result.EmergencyNumber, result.PatientId, result.TagNumber, result.CurrentLocation)">
        <mat-icon>create</mat-icon>
        </button>

        <div class="location">{{result.CurrentLocation}}
            <svg height="3" width="95%">
            <line x1="0" y1="0" x2="95%" y2="0" class="location-line" />
            Sorry, your browser does not support inline SVG.
            </svg>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around start" >
            <div class="name">{{result.Name}}</div>

            <div fxLayout="row" fxLayoutAlign="start center" >
                <div class="telephone-dash-container">
                    <svg height="11" width="25">
                    <line x1="10" y1="11" x2="25" y2="11" class="telephone-dash" />
                    Sorry, your browser does not support inline SVG.
                    </svg>
                </div>

                <div class="telephone">{{result.Number}}</div>
            </div>


            <div class="animal">{{result.AnimalType}}</div>
            <div class="animal-location">{{result.Location}}</div>
        </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" style="cursor:pointer;" aria-label="Quick update dates"
            (click)="quickUpdate(result.PatientId, result.TagNumber)">
                <mat-icon>event</mat-icon>
            </button>
            <button mat-icon-button color="primary" routerLink="/nav/hospital-manager" style="cursor:pointer;" aria-label="Hospital record"
            (click)="loadHospitalRecord(result.EmergencyCaseId, result.EmergencyNumber)">
                <mat-icon>local_hospital</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-footer class="emergency-card-footer">
            {{result.CallDateTime | date: 'dd/MMM/yyyy'}}
        </mat-card-footer>
      </mat-card>

    </div>

</div>