.er-case-search-box {
  width: 525px !important;
  min-width: 175px;
  padding-bottom: 1px;
}
.search-form {
  width: 525px;
  border: 1px rgba(0, 0, 0, 0.36) solid;
  border-radius: 4px;
  position: relative;
  background: #ffffff;
  padding-bottom: 40px;
  margin-top: -17px;
}
.er-search-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.search-row {
  margin: 15px;
  height: 48px;
}
.add-search-row {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.ngx-flexible-select-option {
  font-family: arial !important;
}
.emergency-card {
  max-width: 200px;
  margin-bottom: 20px;
}
.mat-card-header {
  background-color: #beccd3;
  text-align: center;
}
.emergency-card-footer {
  background-color: #beccd3;
  text-align: center;
}
