<mat-form-field class="er-case-search-box" [@expandSearch]="searchShowing ? 'open' : 'closed'">
    <span matPrefix (click)="executeSearch()">
        <mat-icon style="cursor: pointer;" matSuffix>search</mat-icon>
    </span>
    <input class="er-case-search-box" autocomplete="off" [(ngModel)]="search.searchString" type="text" (keyup.enter)="executeSearch()" matInput>
    <mat-icon style="cursor: pointer;" matSuffix (click)="toggleSearchBox()">keyboard_arrow_down</mat-icon>
</mat-form-field>



    <div  [@expandSearchForm]="searchShowing ? 'open' : 'closed'" class="search-form" [formGroup]="searchForm">

        <div formArrayName="searchRows" *ngFor="let item of searchForm.get('searchRows')?.controls; let i = index;">
            <div [formGroupName]="i">

                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                    <div fxFlex="5">
                        <mat-icon style="cursor: pointer; margin-left:15px;" (click)="removeRow(i)">
                            remove_circle_outline</mat-icon>
                    </div>

                    <div fxFlex>

                        <mat-form-field>
                            <mat-label>Search field</mat-label>
                            <mat-select formControlName="searchField">
                                <mat-option *ngFor="let option of options" #id{{i}} [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <input formControlName="searchTerm" matInput>
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>

        <mat-icon class="add-search-row" (click)="addRow()">add_circle_outline</mat-icon>

        <button mat-raised-button class="er-search-button" (click)="executeSearch()">
            Search
        </button>
    </div>

<div>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">

    <mat-card *ngFor="let result of searchResults$ | async" class="emergency-card">
        <mat-card-header class="emergency-card-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{result.EmergencyNumber}} - {{result.TagNumber}}</mat-card-title>
          <mat-card-subtitle>{{result.CallDateTime | date}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          {{result.Name}} - {{result.Number}}

          {{result.AnimalType}}

          {{result.Location}}
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-button (click)="openCase(result.EmergencyCaseId, result.EmergencyNumber)">Open</button>
        </mat-card-actions>
        <mat-card-footer class="emergency-card-footer">
            A Kennel
        </mat-card-footer>
      </mat-card>

    </div>

</div>