.patientDiv {
    border: solid 0px;
    min-height: 2em;
    box-shadow: 2px 2px 2px 2px grey;
    width: 30%;
    margin-left: 2%;
    border-radius: 4%;
    text-align: center;
}

.closeIconDiv{
    margin-left: 98%;
    margin-top: -4%;
} 