.legend{
    font-size: large;
    color: #a9abad;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

@media only screen and (max-width:600px)
{
    .st_form .mat-form-field {
        width: 100%;
    }
}

::ng-deep.special-date {
    background-color: red !important;
    border-radius: 50%;
}
::ng-deep.special-date .mat-calendar-body-cell-content{
    border: 5px solid white;
}