<animal-header [recordForm]="recordForm" [profileUrl]="profileUrl"></animal-header> 

<fieldset [formGroup]="recordForm" class="form-sub-group" autocomplete="off" class="streettreat_record_form">

      <legend class="legend">StreetTreat Details</legend>
  
      <div fxLayout.gt-sm="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign.gt-sm="start" class="st_form">
            <mat-form-field appearance="fill" >
                <mat-label>Emergency Number</mat-label>
                <input tabindex="1" formControlName="EmergencyNumber" type="text" placeholder="Name"  matInput>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Tag Number</mat-label>
                <input tabindex="2" formControlName="TagNumber" type="" placeholder="Tag Number" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Next Visit</mat-label>
                <input tabindex="3" formControlName="NextVisit" type="date" placeholder="Next Visit" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>% Complete</mat-label>
                <input tabindex="4" formControlName="PercentComplete" type="text" placeholder="% Complete" matInput>
            </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Animal type</mat-label>
            <mat-select  formControlName="AnimalTypeId" >
                <mat-option *ngFor="let type of animalTypes$" [value]="type.AnimalTypeId">
                    {{type.AnimalType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <app-patient-visit-details [dateSelected]="dateSelected" (newDateSelected)="dateSelectedEventHandler($event)" [recordForm]="recordForm" ></app-patient-visit-details>
        <div class="visit-calendar-wrapper">
            <button mat-raised-button (click)="loadCalendar()" class="calendar-toggle"><mat-icon>calendar_today</mat-icon></button>
            <div *ngIf="visitDates.length > 0 " class="visit_calendar">
                <mat-calendar [dateClass]="dateClass()"  (selectedChange)="onSelect($event)" *ngIf="visitDates[0].status && loadCalendarComponent"></mat-calendar>
            </div>
        </div>
</fieldset>

<caller-details [recordForm]="recordForm"></caller-details>
<location-details [recordForm]="recordForm"></location-details>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" class="form-sub-group">
    <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
    <button mat-raised-button color="primary" >Reset</button>
</div>