<form [formGroup]="userDetails" (ngSubmit)="submit(userDetails)">

    <mat-spinner [diameter]="100" class="mat-spinner" *ngIf="loading"></mat-spinner>

    <fieldset class="form-sub-group user-details-form">
        <legend class="legend">User details</legend>

        <div class="flex-row gap-20 flex-start-center" fxLayout.lt-md="row wrap">

            <mat-form-field appearance="fill">
                <input type="text" placeholder="Username" formControlName= "userName" matInput required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input [type]="hide?'password':'text'" placeholder="Password" formControlName= "password" matInput>
                <mat-icon matSuffix style="cursor: pointer;" (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Pick color</mat-label>
                <input type="color" formControlName="colour" matInput>
            </mat-form-field>

        </div>

        <div class="flex-row gap-20 flex-start-center" fxLayout.lt-md="row wrap">

          <mat-form-field appearance="fill">
              <input type= "text" placeholder="First name" formControlName="firstName" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
              <input type= "text" placeholder="Last name" formControlName="surname" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
              <input type= "text" placeholder="Local name" formControlName="localName" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input type= "text" placeholder="Initials" formControlName= "initials" matInput>
          </mat-form-field>

        </div>

        <div class="flex-row gap-20 flex-start-center" fxLayout.lt-md="row wrap">

          <mat-form-field appearance="fill">
              <input type= "text" placeholder="Employee number" formControlName="employeeNumber" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="departmentId">
                <mat-option *ngFor="let department of (departments$ | async)" [value]="department.departmentId">
                    {{department.department}}
                </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">                
              <input type= "tel" placeholder="Phone number" formControlName= "telephone" matInput>
          </mat-form-field>

        </div>

        <div class="flex-row gap-20 flex-start-center" fxLayout.lt-md="row wrap">
            <mat-form-field style="padding-top: 20px;" appearance="fill">
                <mat-label>User job type</mat-label>
                <mat-select formControlName= "jobTitleId" multiple>
                    <mat-option *ngFor="let jobType of jobTypes" [value]="jobType.JobTypeId">
                        {{jobType.Title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="padding-top: 20px;">
                <mat-label>User permissions</mat-label>
                <mat-select multiple formControlName = "permissionArray">
                  <mat-optgroup *ngFor="let group of permissionGroupObject" [label]="group.groupName">
                    <mat-option *ngFor="let permission of group.permissions" [value]="permission.permissionId" (onSelectionChange)="permissionChanges($event)">
                      {{permission.permissionType}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="padding-top: 20px;" appearance="fill">
                <mat-label>Fixed day off</mat-label>
                <mat-select formControlName="fixedDayOff">
                    <mat-option *ngFor="let day of days" [value]="day.dayId">
                        {{day.name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="flex-row flex-center-center gap-20" fxLayout.lt-md="row wrap">
            <button type="submit" mat-raised-button [disabled]="userDetails.invalid" color="primary">Save</button>
            <button type="button" mat-raised-button color="primary">Delete</button>
            <button type="button" (click)="resetForm()" mat-raised-button color="white">Reset</button>
        </div>
    </fieldset>
</form>


<mat-form-field class="filter">
    <mat-label>Filter<mat-icon>filter_alt</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="dataSource">

      <ng-container matColumnDef="employeeNumber">
        <mat-header-cell *matHeaderCellDef> Employee Number </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Employee Number:</span>
          {{row.employeeNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">First Name:</span>
          {{row.firstName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Surname:</span>
          {{row.surname}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="initials">
        <mat-header-cell *matHeaderCellDef> Initials </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Initials:</span>
          {{row.initials}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="colour">
        <mat-header-cell *matHeaderCellDef> Colour </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Colour:</span>
          {{row.colour}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Phone Number:</span>
          {{row.telephone}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">User Name:</span>
          {{row.userName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> StreetTreat Role </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">StreetTreat Role:</span>
          {{row.role}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef> Job Title </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Job Title:</span>
          {{row.jobTitle}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>







