.login-page {
    height: 100%;
    width: 100%;
}

.logo-container {
    height: auto;
    width: 100%;
}

.login-field {
    width: 100% !important;
}

.title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 20px;
}