<div class="login-page" fxLayout="row" fxLayout.xs="column"
fxLayoutAlign="center center"
fxLayoutGap="50px">
    <div>

        <app-logo></app-logo>
    </div>
    <mat-card>

        <mat-card-title>
            Login to Apoms
        </mat-card-title>
        <mat-card-content>
            <form (keyup.enter)="login(username, password)">
                <mat-form-field class="login-field">

                    <input matInput autocomplete="off" placeholder="Username" name="username" [(ngModel)]="username" type="username"/>
                </mat-form-field>
                <mat-form-field class="login-field">

                    <input matInput placeholder="Password" name="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" autocomplete="current-password"/>
                    <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </form>
            <mat-error [textContent]="errorMessage"></mat-error>
        </mat-card-content>
        <mat-card-actions >
            <button mat-raised-button color="primary" class="login-field" (click)="login(username, password)" type="submit">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>
