<form [formGroup]="recordForm">

<div class="flex-row flex-wrap flex-center-center">
    <mat-form-field appearance="fill" class="select" >
        <mat-label>Release type</mat-label>
        <input type="text" formControlName="releaseType" matInput>
    </mat-form-field>
</div>

<div class="flex-row gap-30 flex-center-center">
    <img src="assets/images/Dog.png" class="images" alt="dog_face">

    <div class="flex-row gap-30 flex-center-center">

        <mat-form-field>
            <mat-label>Ambulance assignment time</mat-label>
            <input #ambulanceAssignmentTimeField formControlName="ambulanceAssignmentTime"
            type="datetime-local"
            name="ambulanceAssignmentTime" (focus)="setInitialDate($event)"
            [errorStateMatcher]="errorMatcher" matInput>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Assign Vehicle</mat-label>
                <mat-select tabindex="12" formControlName="releaseAmbulanceId"
                (selectionChange)="vehicleSelected($event)">
                <mat-option>N/A</mat-option>
                    <mat-option *ngFor="let vehicle of vehicleList$ | async" [value]="vehicle.vehicleId">
                    {{vehicle.vehicleNumber}}{{vehicle.currentVehicleStaff}}
                </mat-option>
            </mat-select>
        </mat-form-field>



    </div>

    <img src="assets/images/Calf.png" class="images" alt="dog_face">
</div>

<div class="flex-row gap-22 flex-center-center">

    <img src="assets/images/Donkey.png" class="images" alt="dog_face">

    <div class="flex-column gap-22 flex-center-center">

        <mat-form-field appearance="fill" class="select">
            <mat-label>Pickup time</mat-label>
            <input (focus)="setInitialDate($event)" style="width: 100%;" matInput type="datetime-local" name="pickupDate" formControlName="pickupDate">
        </mat-form-field>

        <mat-form-field appearance="fill" class="select">
            <mat-label>Release begin time</mat-label>
            <input (focus)="setInitialDate($event)" style="width: 100%;" matInput type="datetime-local" name="releaseBeginDate" formControlName="releaseBeginDate">
        </mat-form-field>

        <mat-form-field appearance="fill" class="select">
            <mat-label>Release complete time</mat-label>
            <input matInput (focus)="setInitialDate($event)" style="width: 100%;" type="datetime-local" name="releaseEndDate" formControlName="releaseEndDate">
        </mat-form-field>

    </div>

    <img src="assets/images/Cat.png" class="images" alt="dog_face">

</div>



</form>
