// Flex row/col + grid.
.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-row-reverse { display: flex; flex-direction: row-reverse; }
.grid { display: grid; }

.flex-1 { flex: 1; }
.flex-1-1 { flex: 1 1 auto; }


// Flex-wrap utils.
.flex-wrap { flex-wrap: wrap; }  // Mostly used with flex-row, when wrapping is desired.
.flex-col-xs { @media screen and (max-width: 599px) { flex-direction: column; } }  // Switch from flex-row to flex-col on mobile.

.space-between { justify-content: space-between; }  // Used very often with flex-row.
.space-around { justify-content: space-around; }  // Used very often with flex-row.
.flex-start { justify-content: start; }  // Used very often with flex-row.
.flex-center { justify-content: center; }  // Used to center something via flexbox.

.flex-end-end{ justify-content: end; align-items: end; }
.flex-end-center{ justify-content: end; align-items: center; }
.flex-start-end{ justify-content: start; align-items: end; }
.flex-start-start{ justify-content: start; align-items: start; }
.flex-start-center{ justify-content: start; align-items: center; }
.flex-center-center{ justify-content: center; align-items: center; }
.flex-center-space-between{ justify-content: center; align-items: space-between; }
.flex-space-around-start{ justify-content: space-around; align-items: start; }
.flex-space-around-center{ justify-content: space-around; align-items: center; }
.flex-space-between-end{ justify-content: space-between; align-items: end; }
.flex-space-between-center{ justify-content: space-between; align-items: center; }
.flex-space-evenly-center{ justify-content: space-evenly; align-items: center; }

// Gap.
.gap-4 { gap: 4px; }
.gap-5 { gap: 5px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-12 { gap: 12px; }
.gap-15 { gap: 15px; }
.gap-16 { gap: 16px; }
.gap-20 { gap: 20px; }
.gap-22 { gap: 22px; }
.gap-30 { gap: 30px; }
.gap-50 { gap: 50px; }