@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@media screen and (min-width:600px) {

  body {
    margin: 0 !important;
    font-family: Roboto, Arial, sans-serif;
  }

}

$colour-border:#a9abad;
$primary-font-colour: #626262;
$standard-width: 180px;

.mat-mdc-focused {
  border:1.5px dashed #607d8b99;
  border-radius: 4px;
}

.mat-mdc-form-field{
  padding: 3px;
}

.mat-mdc-form-field-infix{
  width: 183px;
}

.mat-mdc-chip-list-wrapper{
  margin: 16px 4px 16px 4px !important;
}

.form-sub-group
{
  background-color:white ;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: $colour-border;
}

.mat-mdc-raised-button{
  margin-right: 8px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mat-mdc-radio-group{
  display:flex;
  color: $primary-font-colour;
  justify-content: start center;
  padding-bottom: 25px;
  padding-top: 25px;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text{
  display: flex !important;
}

.mat-mdc-radio-button{
  margin-right: 15px;
}

.label{
  align-self: center;
  color: #626262;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.link {
  cursor: pointer;
  color: #607d8b !important;
  text-decoration: underline;
  font-weight: bold;
}

.full-width{
  max-width: 100%;
}

.extra-wide{
  width: $standard-width * 3;
}

.double-width{
  width: $standard-width * 2;
}

.wide{
  width: $standard-width * 1.5;
}
.mat-mdc-sidenav-container, .mat-mdc-sidenav-content, .mat-mdc-tab-body-content {
  transform: none !important;
}

.media-capture-dialog .mat-mdc-dialog-container{
  padding: 0px !important;
  height: 98vh;
  width: 98vw;
  max-width: none !important;
}



.single-hour{
  text-align: center;
  min-height: 25px;
  line-height: 25px;
  border-radius: 2px;
  border: 1px solid darkgray;
  background-color: lightgray;
}

.single-hour:not(:first-child) {
  border-left: none !important;
}

.non-form-field-input{
  border: none;
  border-radius: 4px;
  background-color: whitesmoke;
  font-family: Roboto, Arial, sans-serif;
  height: 30px;
  padding: 0 5px;
  width: 100%;
}


.mdc-menu-surface.mat-mdc-select-panel {
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 0.8rem;
    height: 0.8rem;
  }
  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display:none;
  }
}

.mat-mdc-dialog-surface {
  max-width: none !important;
  background-color: #fff;
  padding: 10px;
  overflow-x:scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
      background-color: #fff;
      width: 0.8rem;
      height: 0.8rem;
  }
  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
      background-color: #fff;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 1rem;
      border: 0.2rem solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
      display:none;
  }
}




.legend {
  font-size: large;
  color: $colour-border;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.notif-success {
  border-color: #c3e6cb !important;
  --mdc-snackbar-container-color: #d4edda !important;

  .mdc-snackbar__label {
    color: #155724 !important; // green
  }

}

.notif-error {

  --mdc-snackbar-container-color: #F3C2B8 !important;
  border-color: #c3e6cb !important;

  .mdc-snackbar__label {
    color: #DA4D33 !important; // red
  }

}

.notif-warning {

  --mdc-snackbar-container-color: rgb(245, 230, 147) !important;
  border-color: #c3e6cb !important;

  .mdc-snackbar__label {
    color: black !important; //
  }

}

@media print {
  .isPrinting > * { display: none;}
  .isPrinting print-wrapper { display: block; }
}

@media only screen and (min-width:767px) and (max-width: 1024px) {

  .mat-mdc-raised-button{
    margin-right: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    max-width: 120px;
    font-size: 13px;
  }
}

@media(max-width: 600px) {

  .mat-mdc-dialog-actions{
    justify-content: center !important;;
  }

  .mat-mdc-form-field {
    max-width: 47%;
  }
  
  .mat-mdc-cell {
    font-size: 13px;
    width: 100%;
  }

  .mobile-label[_ngcontent-yue-c345] {
    width: auto;
    display: inline-block;
    font-weight: bold;
  }

  .form-sub-group
  {
    background-color:white ;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    border-color: $colour-border;
    // JM: Getting rid of this for the moment as it's squashing the form group in the treatment list on mobile.
    //padding-left:15px;
    //padding-right:15px;
    margin-top: auto;
  }

  fieldset.form-sub-group {
    width: auto;
  }

  .mat-mdc-raised-button{
    margin-right: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    max-width: 120px;
    font-size: 13px;
  }

  body {
    // margin: 0 !important;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    // margin-top: calc(100vh/13);
    margin: 0;

    .body:nth-child(1) {
      font-size: 13px;
    }
  }

  .mat-mdc-chip {
    font-size: 13px;
  }

  .mat-mdc-tab-label {
    font-size: 13px;
  }

  .mat-mdc-cell {
    font-size: 13px;
  }

  .mat-mdc-expansion-panel-header {
    font-size: 13px;
  }

  .mat-mdc-expansion-panel-content {
    font-size: 13px;
  }

  .mat-mdc-raised-button-content {
    font-size: 13px;
  }

  .legend {
    font-size: 110%;
  }

  .mat-mdc-input-element {
    font-size: 13px !important;
  }

  .tag-number {
    font-size: 30px !important;
    color: $primary-font-colour !important;
  }

  .current-area {
    font-size: 30px !important;
    color: $primary-font-colour !important;
  }

  .media-capture-dialog .mat-mdc-dialog-container{
    padding: 0px !important;
    height: 90vh;
    width: 90vw;
    max-width: none !important;
    overflow: visible;
  }

  .outstanding-case-board-vehicle-map .mat-mdc-dialog-container{
    min-width: 90vw;
  }

}


/*
* Dialogs
*/

.outstanding-case-board-vehicle-map .mat-mdc-dialog-container{
  padding: 0;
}
