@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@media screen and (min-width:600px) {

  body {
    margin: 0 !important;
    font-family: Roboto, Arial, sans-serif;
  }

}



$colour-border:#a9abad;
$primary-font-colour: #626262;
$standard-width: 180px;

.mat-focused {
  border:1.5px dashed #607d8b99;
  border-radius: 4px;
}

.mat-form-field{
  padding: 3px;
}

.mat-form-field-infix{
  width: 183px;
}

.mat-chip-list-wrapper{
  margin: 16px 4px 16px 4px !important;
}

.form-sub-group
{
  background-color:white ;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: $colour-border;
}

.mat-raised-button{
  margin-right: 8px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mat-radio-group{
  display:flex;
  color: $primary-font-colour;
  justify-content: start center;
  padding-bottom: 25px;
  padding-top: 25px;
}

mat-radio-button{
  margin-right: 15px;
}

.label{
  align-self: center;
  color: #626262;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.link {
  cursor: pointer;
  color: #607d8b !important;
  text-decoration: underline;
  font-weight: bold;
}

.full-width{
  max-width: 100%;
}

.extra-wide{
  width: $standard-width * 3;
}

.double-width{
  width: $standard-width * 2;
}

.wide{
  width: $standard-width * 1.5;
}

.mat-raised-button{
  width: $standard-width;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.media-capture-dialog .mat-dialog-container{
  padding: 0px !important;
  height: 98vh;
  width: 98vw;
  max-width: none !important;
}



.mat-dialog-container {
  max-width: none !important;
}


.legend {
  font-size: large;
  color: $colour-border;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.notif-success {
  color: #155724 !important; // green
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.notif-error {
  color: #DA4D33 !important; // red
  background-color: #F3C2B8 !important;
  border-color: #c3e6cb !important;
}

.notif-warning {
  color: black !important; // gold
  background-color: rgb(245, 230, 147) !important;
  border-color: #c3e6cb !important;
}

@media print {
  .isPrinting > * { display: none;}
  .isPrinting print-wrapper { display: block; }
}

@media only screen and (min-width:767px) and (max-width: 1024px) {

  .mat-raised-button{
    margin-right: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    max-width: 120px;
    font-size: 13px;
  }
}

@media(max-width: 600px) {

  .mat-cell {
    font-size: 13px;
    width: 100%;
  }

  .mobile-label[_ngcontent-yue-c345] {
    width: auto;
    display: inline-block;
    font-weight: bold;
  }

  .mat-form-field{
    max-width: 41.9%;
  }

  .form-sub-group
  {
    background-color:white ;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    border-color: $colour-border;
    // JM: Getting rid of this for the moment as it's squashing the form group in the treatment list on mobile.
    //padding-left:15px;
    //padding-right:15px;
    margin-top: auto;
  }

  fieldset.form-sub-group {
    width: auto;
  }

  .mat-raised-button{
    margin-right: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    max-width: 120px;
    font-size: 13px;
  }

  body {
    // margin: 0 !important;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    margin-top: calc(100vh/13);
    margin-left: 0;

    .body:nth-child(1) {
      font-size: 13px;
    }
  }

  .mat-chip {
    font-size: 13px;
  }

  .mat-tab-label {
    font-size: 13px;
  }

  .mat-cell {
    font-size: 13px;
  }

  .mat-expansion-panel-header {
    font-size: 13px;
  }

  .mat-expansion-panel-content {
    font-size: 13px;
  }

  .mat-card-content {
    font-size: 13px;
  }

  .legend {
    font-size: 110%;
  }

  .mat-input-element {
    font-size: 13px !important;
  }

  .tag-number {
    font-size: 30px !important;
    color: $primary-font-colour !important;
  }

  .current-area {
    font-size: 30px !important;
    color: $primary-font-colour !important;
  }
  
  .media-capture-dialog .mat-dialog-container{
    padding: 0px !important;
    height: 90vh;
    width: 90vw;
    max-width: none !important;
    overflow: visible;
  }
}
