@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0 !important;
}

// mat-form-field {
//   max-width: 100%;
// }

$colour-border:#a9abad;
$primary-font-colour: #626262;
$standard-width: 175px;

.form-sub-group
{
  border: 2px solid;
  border-radius: 5px;
  border-color: $colour-border;
  padding-left:15px;
  padding-right:15px;
}

.mat-raised-button{
  margin-right: 8px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mat-radio-group{
  display:flex;
  color: $primary-font-colour;
  justify-content: start center;
  padding-bottom: 25px;
  padding-top: 25px;
}

mat-radio-button{
  margin-right: 15px;
}

.label{
  align-self: center;
  color: #626262;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.extra-wide{
  width: $standard-width * 3;
}

.double-width{
  width: $standard-width * 2;
}

.wide{
  width: $standard-width * 1.5;
}

.mat-raised-button{
  width: $standard-width;
}

.mat-tab-label .mat-tab-label-content{
  margin-left: 24px !important;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}