
<h2 mat-dialog-title>Treatment details</h2>

<mat-dialog-content class="mat-typography" [formGroup]="treatmentDetails">

<div class="flex-row gap-10 flex-start-space-between" >

<mat-form-field>
    <mat-label>Treatment date</mat-label>
    <input formControlName="treatmentDateTime" name="treatmentDateTime" type="datetime-local"
    (focus)="setInitialTime($event)"
        [max]="currentTime" matInput>
</mat-form-field>

<mat-form-field>
    <mat-label>Next treatment date</mat-label>
    <input formControlName="nextTreatmentDateTime" name="nextTreatmentDateTime" type="datetime-local"
    (focus)="setInitialTime($event)"
    [min]="currentTime" matInput>
</mat-form-field>

</div>

<label class="label">Eye discharge &#8853;</label>
<mat-chip-listbox formControlName="eyeDischarge">
    <mat-chip-option    
    [value]="ed.key"
    *ngFor="let ed of eyeDischarge">{{ed.value}}
    </mat-chip-option>
</mat-chip-listbox>

<label class="label">Nasal discharge</label>

<mat-chip-listbox formControlName="nasalDischarge">
    <mat-chip-option     
    [value]="nd.key"
    *ngFor="let nd of nasalDischarge">{{nd.value}}
    </mat-chip-option>
</mat-chip-listbox>

<mat-form-field class="extra-wide">
    <mat-label>Comment</mat-label>
    <textarea formControlName="comment" rows="3" matInput></textarea>
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions >
    <button type="submit" mat-raised-button color="primary" (click)="saveTreatment(true)" [disabled]="treatmentDetails.invalid">Save</button>
    <button type="button" mat-raised-button color="primary" (click)="close()">Cancel</button>
    <button mat-mini-fab color="warn" (click)="deleteTreatment()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-dialog-actions>