<form [formGroup]='vehicleListForm'  autocomplete="off">

    <fieldset class="form-sub-group">
        <legend class="legend">Vehicle List
            <mat-icon></mat-icon>
        </legend>

        <div fxLayout="row">
          <div style="width:60%">
              <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start end">
                  <mat-form-field appearance='fill'>
                      <mat-label>Registration number</mat-label>
                      <input type= 'text' formControlName="registrationNumber" matInput>
                  </mat-form-field>

                  <mat-form-field appearance='fill'>
                      <mat-label>Vehicle number</mat-label>

                      <input type= 'text'formControlName="vehicleNumber" matInput>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                      <mat-label>Vehicle type</mat-label>
                      <mat-select formControlName="vehicleTypeId">
                      <mat-option *ngFor="let type of vehicleType$ | async" [value]="type.VehicleTypeId">
                          {{type.VehicleType}}
                      </mat-option>
                      </mat-select>
                  </mat-form-field>

              </div>

              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">

                  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start end">
                      <mat-form-field appearance='fill'>
                          <mat-label>Small Animal Capacity</mat-label>
                          <input type= 'number' formControlName="smallAnimalCapacity" matInput>
                      </mat-form-field>

                      <mat-form-field appearance='fill'>
                          <mat-label>Large Animal Capacity</mat-label>

                          <input type= 'number' formControlName="largeAnimalCapacity" matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                          <mat-label>Status</mat-label>
                          <mat-select formControlName="vehicleStatusId">
                            <mat-option *ngFor="let status of vehicleStatus" [value]="status.VehicleStatusId">
                              {{status.VehicleStatus}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                  </div>
              </div>

              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">

                <div fxLayout="row wrap"  fxLayoutGap="10px" fxLayoutAlign="start end">

                    <mat-form-field appearance='fill'>
                        <mat-label>Min. Rescuer Capacity</mat-label>
                        <input type= 'number' formControlName="minRescuerCapacity" matInput>
                    </mat-form-field>

                    <mat-form-field appearance='fill'>
                        <mat-label>Max. Rescuer Capacity</mat-label>

                        <input type= 'number' formControlName="maxRescuerCapacity" matInput>
                    </mat-form-field>

                    <input
                      hidden
                      type="file"
                      #uploader
                      multiple
                      accept="image/*,video/*"
                      (change)="uploadFile($event)"
                      
                    />

                    <label class="legend1">
                      <button mat-mini-fab color="primary" aria-label="Upload new image" (click)="uploader.click()">
                          <mat-icon>add_a_photo</mat-icon>
                      </button>
                      Upload Image
                    </label>
                </div>

              </div>
          </div>

          <div style="width:40%">
                <img style="max-height: 16em;" [src]="imgURL"  />
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start end">
            <button type='submit' mat-raised-button color='primary' (click)="Submit(vehicleListForm)">Save</button>

            <button type='button' (click)="deleteVehicle(vehicleListForm.get('vehicleId')?.value)" mat-raised-button color='primary'>Delete</button>

            <button type='button'(click)="vehicleListForm.reset()" mat-raised-button color='white'>Reset</button>
        </div>


    </fieldset>
</form>

<div class="example-container mat-elevation-z8">
    <mat-table matSort #table [dataSource]="dataSource">

      <ng-container matColumnDef="vehicleType">
        <mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Vehicle:</span>
          {{row.vehicleType}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <mat-header-cell *matHeaderCellDef> Registration Number </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Registration Number</span>
          {{row.registrationNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vehicleNumber">
        <mat-header-cell *matHeaderCellDef> Vehicle Number </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Vehicle Number:</span>
          {{row.vehicleNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="largeAnimalCapacity">
        <mat-header-cell *matHeaderCellDef> Capacity(Large Animal) </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Capacity(Large Animal):</span>
          {{row.largeAnimalCapacity}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="smallAnimalCapacity">
        <mat-header-cell *matHeaderCellDef> Capacity(Small Animal) </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Capacity(Small Animal):</span>
          {{row.smallAnimalCapacity}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="minRescuerCapacity">
        <mat-header-cell *matHeaderCellDef> Min. Capacity(Rescuer) </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label"> Min. Capacity(Rescuer):</span>
          {{row.minRescuerCapacity}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxRescuerCapacity">
        <mat-header-cell *matHeaderCellDef> Max. Capacity(Rescuer) </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Max. Capacity(Rescuer):</span>
          {{row.maxRescuerCapacity}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vehicleStatus">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Status:</span>
          {{row.vehicleStatus}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>