<div class="tab-container">

    <div>
            <mat-tab-group [(selectedIndex)]="selected.value">
                    
                    <mat-tab *ngFor="let tab of tabs; let i = index"
                    label="{{tab.id}}">
                    
                    <ng-template mat-tab-label>
                    {{tab.value}}
                    
                    <mat-icon *ngIf="i > 0 && i < tabs?.length" class="tab-icon"
                            (click)="removeTab(i)">close</mat-icon>                        
                    </ng-template>
                                    
                    <record-search *ngIf="i == 0" class="tab-icon"></record-search>
                    <patient-record *ngIf="i > 0" class="tab-icon"></patient-record>
                    
                    </mat-tab>
    
                    <mat-tab disabled>
                    <ng-template mat-tab-label>
                            <button style="background: none; border: none; cursor: pointer;" mat-icon-button (click)="addTab()">
                            <mat-icon >add_circle</mat-icon>
                            </button>
                    </ng-template>
                    </mat-tab>
    
            </mat-tab-group>         
            </div>
    
    
    
    
    
    </div>
    
    