.mat-mdc-tab-label {
    z-index: 2;
}

.mat-mdc-tab-label-content {
    height: 100%;
    width: 100%;
}

// @media only screen and (max-width:600px){
//     .tab-container{
//         margin-top:12% !important;
//     }
//   }

