<div class="tab-container">

    <div>
        <mat-tab-group [selectedIndex]="selected?.value" (selectedIndexChange)="tabChanged($event)">

            <mat-tab *ngFor="let tab of tabs; let i = index" label="{{tab}}">

                <ng-template mat-tab-label>
                    {{tab.value}}

                    <mat-icon class="tab-icon" (click)="removeTab(i)">{{tab.icon}}</mat-icon>
                </ng-template>

                <record-search *ngIf="i == 0" source="hospitalManager" class="tab-icon"></record-search>
                <patient-record *ngIf="i > 0" [incomingPatient]="tab" class="tab-icon"></patient-record>

            </mat-tab>

        </mat-tab-group>
    </div>

</div>