<div class="tab-container">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selected.value" (selectedIndexChange)="tabChanged($event)">

            <mat-tab *ngFor="let tab of tabs; let i = index" label="{{tab}}">

                <ng-template mat-tab-label>
                    {{tab.value}}
                        <button mat-icon-button (click)="removeTab(i)">
                            <mat-icon class="tab-icon">{{tab.icon}}</mat-icon>
                        </button>
                </ng-template>

                <record-search *ngIf="i == 0" source="hospitalManager" class="tab-icon"></record-search>
                <patient-record *ngIf="i > 0" [incomingPatient]="tab" class="tab-icon"></patient-record>

            </mat-tab>

        </mat-tab-group>

</div>