<form [formGroup]="shiftDate">
    <mat-form-field >
        <mat-label>Shift date</mat-label>
        <input type="date" formControlName="date" matInput>

    </mat-form-field>

</form>

<div style="margin-bottom: 60px;">

    <div *ngFor="let vehicle of (activeVehicles$ | async)" class="assigner-container" fxLayout="row" fxLayoutAlign="center center">

        <app-vehicle-shift class="vehicle-shift-container" [shiftDate]="shiftDate.get('date')?.value" [vehicle]="vehicle"></app-vehicle-shift>

    </div>
</div>

