<form>
    <fieldset class="form-sub-group" autocomplete=false>

        <legend class="legend" i18n>Organization details</legend>

        <mat-form-field >
            <input  type="text" placeholder="Organisation name" matInput>
        </mat-form-field>

        <mat-form-field>
            <input  type="text" placeholder="Organisation address" matInput>
        </mat-form-field>

        <input
                type="file"
            
                (change)="uploadLogo($event)"
            />
    </fieldset>
</form>
