<form
    [formGroup]="organisationForm"
    *ngIf="organisationForm"
    (ngSubmit)="onSubmit(organisationForm)"
    autocomplete="off"
    class="organisation-form">


    <div fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <fieldset class="form-sub-group">
                <legend class="legend" i18n>Logo</legend>
                <div fxLayout="column" fxLayoutAlign="center center" >

                    <img [src]="imageSrc ? imageSrc: organisationForm.get('logoUrl')?.value" style="width:10em"/>
                    <button  mat-raised-button color="primary" (click)="logo.click()">Upload logo</button>
                    <input fxHide type="file" #logo (change)="uploadLogo($event)"/>
                </div>
            </fieldset>

            <fieldset class="form-sub-group">
                <legend class="legend" i18n>Name</legend>
                <mat-form-field style="width: 100%;">
                    <input  type="text" placeholder="Organisation name" matInput formControlName="name" autocomplete="doNotAutoComplete">
                </mat-form-field>
            </fieldset>

            <fieldset class="form-sub-group">
                <legend class="legend" i18n>Default emergency number</legend>
                <mat-form-field style="width: 100%;">
                    <input  type="text" placeholder="Default emergency number" matInput formControlName="driverViewDeskNumber" autocomplete="doNotAutoComplete">
                </mat-form-field>
            </fieldset>
        </div>

        <fieldset fxFlex="1 1 auto"  class="form-sub-group" fxLayout="column">

            <legend class="legend" i18n>Address</legend>

            <div formArrayName="address" >

                <div fxLayout="column" fxLayoutAlign="center center">

                    <div fxLayout="column" class="address-row-wrapper">

                        <div *ngFor="let item of address?.controls; let i = index">

                            <div [formGroupName]="i"  fxLayout="row wrap" style="width: 100%;" fxLayoutGap="15px">

                                <mat-form-field class="name-field" autocomplete="none">

                                    <input
                                    matInput
                                    type="text"
                                    placeholder="Name"
                                    formControlName="name"
                                    autocomplete="none"
                                    >

                                </mat-form-field>

                                <mat-form-field class="address-field" autocomplete="none">

                                        <input
                                        matInput
                                        type="text"
                                        placeholder="Address"
                                        (keydown.enter)="performSearch(i, $event)"
                                        #addressSearch
                                        formControlName="address"
                                        (keypress)="getPlaceAutocomplete(i)"
                                        >

                                        <mat-icon matSuffix (click)="performSearch(i, $event)" style="cursor: pointer">search</mat-icon>

                                </mat-form-field>

                                <div>

                                    <mat-form-field class="name-field">
                                        <input tabindex="5" formControlName="number" autocomplete="none" type="tel" placeholder="Telephone number" matInput>
                                    </mat-form-field>

                                    <button style="margin:0.4em 1em 0 1em;" type="button" (click)="deleteItem($event, i)" mat-mini-fab color="warn">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                    <button  style="margin:0.4em 0em 1.73em 0em;" type="button" (click)="addItem($event)" mat-mini-fab color="primary">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>

            </div>

            <google-map
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            height="300px"
            width="100%"
            id="googlemap">

                <map-marker
                    *ngFor="let marker of markers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [options]="marker.options"
                    (mapDragend)="markerDragEnd($event, marker)">
                </map-marker>

            </google-map>

            <button type="submit" class="orgnisation-save" mat-raised-button color="primary">Save</button>


        </fieldset>

    </div>



</form>
