<div class="container">
        <h1 mat-dialog-title>Surgery Record - {{data.surgeryId}}</h1>

    <div class="flex" mat-dialog-content>
        <surgery-record
            [surgeryId] = "data.surgeryId"
            [patientId] = "data.patientId"
            [animalType] = "data.animalType"
            [emergencyNumber] = "data.emergencyNumber"
            [tagNumber] = "data.tagNumber"
            (result)="onSurgeryDetailsResult($event)"
            #surgeryDetails>
        </surgery-record>

    </div>


    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="surgeryDetails.saveSurgery()">Save</button>

        <button mat-raised-button color="white" (click)="onCancel()">Cancel</button>

    </div>
</div>
