<div class="wrapper">
<form [formGroup]="areas">

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="20px">

        <mat-form-field >
            <mat-label>Treatment area</mat-label>
            <mat-select formControlName="area">
                <mat-option>N/A</mat-option>
                <mat-option [value]="area" *ngFor="let area of (censusAreas | async)">{{ area.areaName }}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field >
                <mat-label>Treatment date</mat-label>
                <input type="date" formControlName="date" matInput>

        </mat-form-field>

    </div>

</form>

<div fxLayout="column" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-md="start start">

<app-treatment-list [area]="currentArea"></app-treatment-list>

</div>

</div>