.wrapper{
    padding-bottom: 100px;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .area-wrapper {
        margin-top: 16px;
        padding-left: 15px;
        padding-bottom: 10px;
    }


}