<div class="wrapper">
<form [formGroup]="areas" class="area-wrapper">

    <div class="flex-row flex-wrap flex-center-center gap-20">

        <mat-form-field>
            <mat-label>Treatment area</mat-label>
            <mat-select
            [compareWith]="compareAreas"
            formControlName="area">

                <mat-option>N/A</mat-option>
                <mat-option [value]="area" *ngFor="let area of (treatmentAreas | async)" >{{ area.areaName }}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field >
                <mat-label>Treatment date</mat-label>
                <input type="date" formControlName="date" matInput>

        </mat-form-field>

        <button type="button" [disabled]="currentArea.areaId === 0 || refreshing" mat-mini-fab color="primary" (click)="print()">
            <mat-icon>local_printshop</mat-icon>
        </button>

        <button mat-mini-fab [disabled]="currentArea.areaId === 0 || refreshing" [color]="refreshing ? 'accent' : 'primary'" aria-label="Manual refresh" (click)="refreshTreatmentList()" >

            <mat-icon>refresh</mat-icon>
        </button>

    </div>

</form>

<div class="flex-column" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-md="start start">

<app-treatment-list [area]="currentArea" [selectedDate]="selectedDate"></app-treatment-list>

</div>

</div>