::ng-deep .media-preview-dialog .mat-dialog-container {
    padding: 0 !important;
    position:relative;
    overflow: visible;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(64%, -64%);
    background: #607d8b;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
	.mat-icon{
		font-size:1.2rem;
	}
}


.mat-spinner{

    position: absolute;
    left: 30rem;
    top: 14rem;
    
}

::ng-deep .mat-form-field-appearance-fill 
{
    .mat-form-field-flex {
        border-radius: 0;
        padding: 0;
        background: none ;
    }
    .mat-form-field-infix {
        padding: .25em 0 0.3rem 0;
    }
}

.mediaPreviewBackgroundImage{
    background-size: contain;
    min-width: 73%;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center;
    border: 0.3rem solid white;
    touch-action: pinch-zoom !important;
    user-select: auto !important;
    z-index: 9;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.imagePreviewSidePanel{
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 2px rgba(174, 174, 192, 0.4);
    border-radius: 0.3rem ;
    background: rgba(240, 240, 243, 0.73);
    display: flex;
    flex-direction:column;
    align-items: baseline;
    width: 100%;
    .commentSection{ 
        width:100%;
        max-height: 12rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        display:flex;
        flex-direction: column-reverse;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0.8rem;
        }
        /* background of the scrollbar except button or resizer */
        &::-webkit-scrollbar-track {
            background-color: #f0f0f2;
        }
    
        /* scrollbar itself */
        &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 1rem;
            border: 0.2rem solid #f0f0f2;
            min-height: 2rem;
        }
    
        /* set button(top and bottom of the scrollbar) */
        &::-webkit-scrollbar-button {
            display:none;
        }
        .imageChatPanel{
            background: #fff;
            width: 88%;
            margin: 0.5rem auto;
            padding: 0.5rem;
            border-radius: 0.3rem;
            font-size: 0.9rem;
            color: #707C97;
            box-shadow: 0 1rem 0.6rem -0.9rem rgb(158 158 158 / 75%);
            position: relative;
            .imageChatUser{
                display: flex;
                align-items: baseline;
                gap: 0.5rem;
                .imageChatAvatar {
                    min-width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    color: white;
                    font-size: 0.9rem;
                    margin-bottom: 0.5rem;
                }
                .imageChatUsername {
                    color: black;
                }
            }
            span {
                font-size: 0.9rem;
                width: 100%;
                text-align: right;
            }
            p{
                margin: 0.2rem 0;
            }
            &:not(:last-child){
                margin-bottom: 0.5rem;
            }
        }
    }
    &:not(:last-child){
        margin-bottom: 0.8rem;
    }
    ::ng-deep .mat-form-field:not(.imageDate) .mat-form-field-label-wrapper {
        font-size: 1.1rem;
    }
}



::ng-deep{
    .imageDate .mat-form-field-label-wrapper {
        font-size: 1.5rem;
        top: -0.6rem;
    }
    .mat-form-field-label{
        color: #707C97;
    }
    .imageTags {
        width:90%;
        input{
            background-color: #fff;
            border-radius:0.3rem;
            height: 1.9rem;
            margin-top: 1.5rem;
            margin-left: 5%;
            box-shadow: 0 0.5rem 0.5rem -0.5rem rgb(158 158 158 / 75%);
            padding-left: 0.5rem;
        }
        .mat-form-field-underline{
            display: none;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0.2rem;
        }
    }
    .mat-form-field.mat-focused{
            border:none !important;
    }
    
}

.imageTagsSidePanel{
    position: relative;
    ::ng-deep .mat-standard-chip.mat-chip-with-trailing-icon{
        background-color: #cac9c9;
        padding: 0 0.2rem 0 0.4rem;
    }
    ::ng-deep .mat-chip-list-wrapper{
        margin:0 0.5rem 0.8rem !important;
    }
    ::ng-deep .mat-standard-chip .mat-chip-trailing-icon {
        margin-left: 0.2rem;
        margin-right: 0;
    }
}
.imageTagsButton{
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    right: -1.2rem;
    bottom: 0.1rem;
    background: linear-gradient( 332deg, rgba(96,125,139,1) 0%, rgba(96,125,128,1) 50%, rgba(96, 125, 128, 0.438) 100%);
    .mat-icon{
        margin-top: -0.9rem;
        font-size: 1.1rem;
        margin-left: -0.1rem;
    }
}
.imageChatSidePanel{
    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 0;
    }

    ::ng-deep .mat-form-field-underline{
        display: none;
    }

    h3{
        font-size: 1.1rem;
        color: #707C97;
        font-weight: 500;
        margin: 0.5rem 0.2rem 0.5rem .2rem;
    }
}
.commentInput{
    background: transparent;
    border-top: 0.1rem solid #707c9752;
    padding: 0.5rem  0.5rem 0.1rem 0.5rem !important;
    font-size: 0.9rem;
    width:calc(100% - 1rem)
}



.uploadMediaIcon{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    .mat-icon{
        width:auto;
        height:auto;
        font-size:8em;
        color: #BDBDBD;
        border: 0.05em solid;
        padding: 0.1em;
        &:hover{
            cursor: pointer;
            
        }
    }
    &.fileDragHover{
        animation: shake 0.82s infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
    
}

.classLoader{
    
    position: absolute;
    left: 23.5em;
    top: 11em;

}



@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


@media (max-width: 600px){
    .mat-form-field {
        max-width: unset !important;   
    }
    .uploadMediaIcon{
        .mat-icon{
            font-size:2em;
        }   
    }
    .imagePreviewSidePanel{
        flex-direction: row;
    }
    .mediaPreviewBackgroundImage{
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0;
    }
    .mat-spinner{
        position: absolute;
        left: 40%;
        top: 20%;
        ::ng-deep svg{
            width: 4em !important;
            height:4em !important;
        }
        
    }
    
}
@media (max-width: 900px){
    
    .fullImageView{
        position: fixed;
        left: 0;
        top: 0;
        z-index:99;
        border: none;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .imageCloseBtn{
        z-index: 999;
        position: fixed;
        right: 0;
        top: 0;
        width: 3em;
        height: 3em;
        transform: translate(-0.5em, 0.5em);
    }
}