<meta *ngIf="fullImageView" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=9.0, user-scalable=yes" />
<meta *ngIf="!fullImageView"name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<button *ngIf="fullImageView" mat-icon-button class="close-button imageCloseBtn" (click)="removeFullView($event)" >
    <mat-icon class="close-icon" >close</mat-icon>
</button>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" >close</mat-icon>
</button>
<div fxLayout="row" fxLayout.lt-sm="column" style="background: #F0F0F0; border-radius: 0.5em;">
    <div #imgElement 
    [style.backgroundImage]="'url('+ imageData?.full +')'" 
    class="mediaPreviewBackgroundImage"
    [ngStyle.xs]="'min-height:'+ imageHeight+'vh'" 
    (swipeleft)="onSwipeLeft($event)"
    (swiperight)="onSwipeRight($event)"
    *ngIf="imageData?.type?.includes('image') || data.upload"
   
    (click)="onImageClick($event)">
    
    <mat-spinner [diameter]="100" class="mat-spinner" *ngIf="loading"></mat-spinner>
        <ng-container *ngIf="data.upload && !loading" >

            <input
                hidden
                type="file"
                #uploader
                multiple
                accept="image/*,video/*"
                (change)="uploadFile($event)"
            />
            <div class='uploadMediaIcon' #uploadMediaIcon 
            (dragover)="mediaDrag($event)" 
            (drop)="mediaDrop($event)"
            (dragleave)="onDragLeave($event)">
                <!--camera -->
                <div fxLayout="row" ngStyle.xs="margin-top:1.5em;">
                    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="platform.ANDROID || platform.IOS" >
                        <mat-icon aria-label="Upload new image" (click)="openMobileMediaCaptureDialog()">image</mat-icon>
                        <p style="text-align:center;">Click here to capture video/image</p>
                    </div>
                    <!--From gallery-->
                    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!platform.ANDROID && !platform.IOS" >
                        <mat-icon aria-label="Upload new image" >add_a_photo</mat-icon>
                        <p style="text-align:center;">Drag and drop files here</p>
                    </div>
                </div>

                <button  mat-raised-button color="primary" (click)="uploader.click()">Browse for file</button>
            </div>

        </ng-container>
    </div>


    <video autoplay *ngIf="imageData?.type?.includes('video') && !data.upload" style="max-width:73%; padding:0.5em; min-height:67vh;" controls (click)="toggleVideo($event)" #videoplayer>
        <source src="{{imageData?.full}}" type="video/mp4" />
        Browser not supported
    </video>
    
    <div style="padding: 0.5rem;" ngStyle.gt-xs="width: 100%;" [formGroup]="recordForm">
        <div class="imagePreviewSidePanel" fxLayout.gt-xs="row" >
            <mat-form-field class="imageDate" appearance="fill" fxLayout="column">
                <mat-label >Date</mat-label>
                <input matInput style="width: 100%;" type="datetime-local" name="imageDate" formControlName="imageDate" style="background: transparent;
                border-top: none;
                border-right: none;
                border-left: none;
                margin-top: 1rem;
                "/>
            </mat-form-field>
            <button
            mat-raised-button
            color="primary"
            style="max-width: 5rem;margin: 1rem;"
            (click)="updateDate();">Update</button>
        </div>
        <div class="imagePreviewSidePanel imageTagsSidePanel" fxLayout="column">
            <mat-form-field appearance="fill" fxLayout="column" class="imageTags">
                <mat-label>Tags</mat-label>
                <input matInput style="width: 100%;" type="text"
                autocomplete="off"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="add($event)"
                formControlName="imageTagsChips"
                #tagsControl
                (keydown.backspace)="onBackspaceKeydown($event,tagsControl.value)"/>
                <button mat-mini-fab class="imageTagsButton" color="primary" (click)="addTagByBtn(tagsControl.value)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>

            <mat-chip-list #chipList >
                <mat-chip *ngFor="let tag of recordForm.get('imageTags')?.value"
                [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                            {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
        </div>
        <div class="imagePreviewSidePanel imageChatSidePanel" fxLayout="column">
            <h3>Comments</h3>
            <div class="commentSection">
                <ng-container *ngFor="let comment of (patientMediaComments$ | async); trackBy:trackComment">
                    <div class="imageChatPanel">
                        <div class="imageChatUser">
                            <div class="imageChatAvatar" [style.background]="comment.userColour">{{comment.userInitials}}</div>
                            <div class="imageChatUsername">{{comment.userName}}</div>
                            <span>{{comment.timestamp | timeAgo}}</span>
                        </div>
                        <p>{{comment.comment}}</p>
                    </div>

                </ng-container>
            </div>
            <mat-form-field appearance="fill" style="width: 100%;" fxLayout="column">
                <input matInput autocomplete="off" class="commentInput" type="text" placeholder="Type a message here" #commentInput (keyup.enter)="submitComment($event )"/>
            </mat-form-field>
        </div>
    </div>
</div>
