$colour-border: #a9abad;
$primary-font-colour: #626262;

.mat-radio-group {
    display: flex;
    color: $primary-font-colour;
    justify-content: start center;
    padding-bottom: 25px;
    padding-top: 25px;
}

mat-radio-button {
    margin-right: 15px;
}
