.vid {
    object-fit: fill;
    border-radius: 4px;
    height: 98vh;
}

.stop-circle {
  font-size: 2.5em;
  color: #960b0b;
  vertical-align: baseline;
  margin-top: -0.3em;
}

.canvas{
    visibility: hidden;
}


.container{
    width: 98vw;
    height: 98vh;
    position: absolute;
    border-radius: 4px;
  }

  .slider{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 15%;
    z-index: 99;
  }

  .video-item{
    width: 100%;
    position: absolute;
    top: 0;
    height: 98vh;
    border-radius: 4px 4px 0 0;
  }

  .capture-buttons {
    position: absolute;
    bottom: 1em;
    display: flex;
    width: 100%;
    place-content: center center;
  }

  .video-capture-button {
    width: 2.5em;
    background-color: whitesmoke;
    height: 2.5em;
    align-self: center;
  }

  .image-capture-button {
    margin: 0 2em 0 0;
    background-color: transparent;
}

  .complete-button{
    left: 80%;
    background-color: transparent;
  }

  .seconday-icon {
    font-size: 4em;
    color:lightgray;
  }

  .timer{
    position: absolute;
    left: calc(50% - 20px);
    font-weight: 400;
  }

  .no-warning{
    color: whitesmoke;
  }

  .warning{
    color:gold;
  }

  .alert{
    color: rgb(218, 21, 21);
  }

  @media(max-width: 600px) {
    .container{
      width: 90vw;
      height: 90vh;
      position: relative;
    }
    .vid {
      object-fit: fill;
      max-width:90vw;
      height: 90vh;
    }
  }

  button.close-button {
    position: absolute;
    right: 0;
    background: antiquewhite;
    transform: translate(10px, -10px);
    z-index:99;
}