<div class="container">
    <button mat-icon-button class="close-button" (click)="closeDialog($event)"[mat-dialog-close]="true">
        <mat-icon class="close-icon" >close</mat-icon>
    </button>
    
    <div class="video-item"></div>
    
    <video #video class="vid" autoplay></video>

    <canvas #canvas class="canvas"></canvas>

  <div class="capture-buttons">

    <div class='timer' [ngClass]="timer > 24000 ? 'alert' : timer > 14000 ? 'warning' : 'no-warning'" *ngIf="capturing">00:{{timer | date:'ss'}}</div>

    

    <button mat-mini-fab aria-label="Upload new image" (click)="captureImage()" class="image-capture-button">
        <mat-icon [inline]="true" class="seconday-icon">camera</mat-icon>
    </button>

    <button mat-fab aria-label="Upload new image" (click)="toggleVideoCapture()" class="video-capture-button">

        <mat-icon *ngIf="!capturing" [inline]="true" class="stop-circle">stop_circle</mat-icon>
        <mat-icon *ngIf="capturing" [inline]="true" class="stop-circle">stop</mat-icon>

    </button>

  </div>

  <div 
  style="
  position: absolute;
  bottom: 0;">
    <div  *ngFor="let thumnailPreview of capturedImages ">
        <img 
        [src]="thumnailPreview" 
        style="
        width: 4em;
        height: 4em;
        margin:0 0.5em;"/>
    </div>
  </div>
  </div>
