

<h1 mat-dialog-title
cdkDrag
cdkDragRootElement=".cdk-overlay-pane"
cdkDragHandle>Rescue details - {{data.emergencyNumber}}</h1>

<div mat-dialog-content>

    <rescue-details
      [recordForm]="data.recordForm"
      [emergencyCaseId]="data.emergencyCaseId"
      (result)="onRescueDetailsResult($event)"
      #rescueDetails>
    </rescue-details>
</div>
<div mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="rescueDetails.save();" [disabled]="data.recordForm.invalid">Save</button>

  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>