
<div class="contentWrapper" [formGroup]="driverViewDetails">

   <div class="selectionDivWrapper" fxLayout='row wrap' fxLayoutGap = '30px' fxLauoutAlign='start'>
        <mat-form-field class="dateField">
            <mat-label>Date</mat-label>
            <input matInput type="datetime-local" formControlName="assignmentDate" name = "AssignmentDate">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Secondary Rescuer</mat-label>
                <mat-select formControlName="rescuer1Id">
                <mat-option>N/A</mat-option>
                    <mat-option *ngFor="let rescuer of rescuers$ | async" [value]="rescuer.UserId">
                    {{rescuer.FirstName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
   </div>

    <div *ngIf='inProgressStatusList && !showComplete'>
        <fieldset class="form-sub-group">
            <legend class="legend">In Progress</legend>
    
            <div *ngFor="let progressAssignment of inProgressStatusList">
                
                <div class="caseDivContainer" fxLayout="column" fxLayoutAlign='start'> 

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start end'>

                        <div *ngIf="progressAssignment.ambulanceAction === 'Rescue'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : progressAssignment.emergencyCodeId == 4,
                            'red' : progressAssignment.emergencyCodeId == 1,
                            'green' : progressAssignment.emergencyCodeId == 2,
                            'yellow' : progressAssignment.emergencyCodeId == 3}">
                        </div>

                        <div *ngIf="progressAssignment.ambulanceAction === 'STRelease' || progressAssignment.ambulanceAction ==='StreetTreat'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : progressAssignment.streetTreatPriorityId == 4,
                            'red' : progressAssignment.streetTreatPriorityId == 1,
                            'green' : progressAssignment.streetTreatPriorityId == 2,
                            'yellow' : progressAssignment.streetTreatPriorityId == 3}">
                        </div>


                        <p>EmNo:{{progressAssignment.emergencyNumber}}</p>

                        <div fxLayout='row wrap' fxLayoutAlign='start'>
                            <p>AnimalType: {{progressAssignment.patients[0].animalType}}</p> 
                            <p class="countWrapper" *ngIf="progressAssignment.patients.length > 1">+{{progressAssignment.patients.length - 1}}</p>
                        </div>

                    </div>

                    <div>
                        <p>Address: {{progressAssignment.location}}</p>
                    </div>

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start'>

                        <!-- <div fxLayout='row'>
                            <p>Description: </p>
                            <p style="min-width: 30px;">{{progressAssignment.animalDescription}}</p>
                        </div> -->
    
                        <div fxLayout='row'>
                            <p>Main Problem:</p>
                            <p *ngIf="progressAssignment.ambulanceAction === 'STRelease' || progressAssignment.ambulanceAction ==='StreetTreat'"> {{progressAssignment.streetTreatMainProblem}} </p>
                            <div fxLayout='row wrap' fxLayoutAlign='start'>
                                <p *ngIf="progressAssignment.ambulanceAction === 'Rescue' || progressAssignment.ambulanceAction ==='Release'"> {{progressAssignment.patients[0].problems}} </p>
                                <p class="countWrapper" *ngIf="(progressAssignment.ambulanceAction === 'Rescue' || progressAssignment.ambulanceAction ==='Release') && progressAssignment.patients.length > 1">
                                    + {{progressAssignment.patients.length - 1}} 
                                </p>
                            </div>
                            
                        </div>

                    </div>

                    <div class="actionWrapper" [ngClass]="{
                        'STRelease' : progressAssignment.ambulanceAction === 'STRelease',
                        'StreetTreat' : progressAssignment.ambulanceAction === 'StreetTreat',
                        'Rescue' : progressAssignment.ambulanceAction === 'Rescue',
                        'Release' : progressAssignment.ambulanceAction === 'Release'}">
                        <p class="textWrapper" *ngIf="progressAssignment.ambulanceAction === 'STRelease'">STRelease</p>
                        <p class="textWrapper" *ngIf="progressAssignment.ambulanceAction === 'StreetTreat'">StreetTreat</p>
                        <p class="textWrapper" *ngIf="progressAssignment.ambulanceAction === 'Rescue'">Rescue</p>
                        <p class="textWrapper" *ngIf="progressAssignment.ambulanceAction === 'Release'">Release</p>
                    </div>

                </div>

            </div>
        </fieldset>
    </div>

    <div *ngIf='inAmbulaneStatusList && !showComplete'>
        <fieldset class="form-sub-group">
            <legend class="legend">In Ambulance</legend>
    
            <div *ngFor="let ambulanceAssignment of inAmbulaneStatusList">
                
                <div class="caseDivContainer" fxLayout="column" fxLayoutAlign='start'> 

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start end'>

                        <div *ngIf="ambulanceAssignment.ambulanceAction === 'Rescue'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : ambulanceAssignment.emergencyCodeId == 4,
                            'red' : ambulanceAssignment.emergencyCodeId == 1,
                            'green' : ambulanceAssignment.emergencyCodeId == 2,
                            'yellow' : ambulanceAssignment.emergencyCodeId == 3}">
                        </div>

                        <div *ngIf="ambulanceAssignment.ambulanceAction=='STRelease' || ambulanceAssignment.ambulanceAction=='StreetTreat'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : ambulanceAssignment.streetTreatPriorityId == 4,
                            'red' : ambulanceAssignment.streetTreatPriorityId == 1,
                            'green' : ambulanceAssignment.streetTreatPriorityId == 2,
                            'yellow' : ambulanceAssignment.streetTreatPriorityId == 3}">
                        </div>

                        <p>EmNo:{{ambulanceAssignment.emergencyNumber}}</p>

                        <div fxLayout='row wrap' fxLayoutAlign='start'>
                            <p>AnimalType: {{ambulanceAssignment.patients[0].animalType}}</p>  
                            <p class="countWrapper" *ngIf="ambulanceAssignment.patients.length > 1">+{{ambulanceAssignment.patients.length - 1}}</p>
                        </div>
                       

                    </div>

                    <div>
                        <p>Address: {{ambulanceAssignment.location}}</p>
                    </div>

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start'>

                        <!-- <div fxLayout='row'>
                            <p>Description: </p>
                            <p style="min-width: 30px;">{{ambulanceAssignment.animalDescription}}</p>
                        </div> -->
    
                        <div fxLayout='row'>
                            <p>Main Problem:</p>
                            <p *ngIf="ambulanceAssignment.ambulanceAction === 'STRelease' || ambulanceAssignment.ambulanceAction ==='StreetTreat'">{{ambulanceAssignment.streetTreatMainProblem}} </p>
                            <div fxLayout='row wrap' fxLayoutAlign='start'>
                                <p *ngIf="ambulanceAssignment.ambulanceAction === 'Rescue' || ambulanceAssignment.ambulanceAction ==='Release'"> {{ambulanceAssignment.patients[0].problems}} </p>
                                <p class="countWrapper" *ngIf="(ambulanceAssignment.ambulanceAction === 'Rescue' || ambulanceAssignment.ambulanceAction ==='Release') && ambulanceAssignment.patients.length > 1">
                                    + {{ambulanceAssignment.patients.length - 1}} 
                                </p>
                            </div>
                           
                        </div>

                    </div>

                    <div class="actionWrapper" [ngClass]="{
                        'STRelease' : ambulanceAssignment.ambulanceAction === 'STRelease',
                        'StreetTreat' : ambulanceAssignment.ambulanceAction === 'StreetTreat',
                        'Rescue' : ambulanceAssignment.ambulanceAction === 'Rescue',
                        'Release' : ambulanceAssignment.ambulanceAction === 'Release'}">
                        <p class="textWrapper" *ngIf="ambulanceAssignment.ambulanceAction === 'STRelease'">STRelease</p>
                        <p class="textWrapper" *ngIf="ambulanceAssignment.ambulanceAction === 'StreetTreat'">StreetTreat</p>
                        <p class="textWrapper" *ngIf="ambulanceAssignment.ambulanceAction === 'Rescue'">Rescue</p>
                        <p class="textWrapper" *ngIf="ambulanceAssignment.ambulanceAction === 'Release'">Release</p>
                    </div>

                </div>

            </div>
        </fieldset>
    </div>

    <div *ngIf='assignedList && !showComplete'>
        <fieldset class="form-sub-group">
            <legend class="legend">Assigned</legend>
    
            <div *ngFor="let assignments of assignedList">
                
                <div class="caseDivContainer" fxLayout="column" fxLayoutAlign='start'> 

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start end'>

                        <div *ngIf="assignments.ambulanceAction=='Rescue'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : assignments.streetTreatPriorityId == 4,
                            'red' : assignments.emergencyCodeId == 1,
                            'green' : assignments.emergencyCodeId == 2,
                            'yellow' : assignments.emergencyCodeId == 3}">
                        </div>

                        <div *ngIf="assignments.ambulanceAction=='STRelease' || assignments.ambulanceAction=='StreetTreat'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : assignments.streetTreatPriorityId == 4,
                            'red' : assignments.streetTreatPriorityId == 1,
                            'green' : assignments.streetTreatPriorityId == 2,
                            'yellow' : assignments.streetTreatPriorityId == 3}">
                        </div>

                        <p>EmNo:{{assignments.emergencyNumber}}</p>
                        <div fxLayout='row wrap' fxLayoutAlign='start'>
                            <p>AnimalType: {{assignments.patients[0].animalType}}</p>
                            <p class="countWrapper" *ngIf="assignments.patients.length > 1">+{{assignments.patients.length - 1}}</p>
    
                        </div>
                       

                    </div>

                    <div>
                        <p>Address: {{assignments.location}}</p>
                    </div>

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start'>

                        <!-- <div fxLayout='row'>
                            <p>Description: </p>
                            <p style="min-width: 30px;">{{assignments.animalDescription}}</p>
                        </div> -->
    
                        <div fxLayout='row'>
                            <p>Main Problem:</p>
                            <p *ngIf="assignments.ambulanceAction === 'STRelease' || assignments.ambulanceAction ==='StreetTreat'"> {{assignments.streetTreatMainProblem}} </p>
                            <div fxLayout='row wrap' fxLayoutAlign='start'>
                                <p *ngIf="assignments.ambulanceAction === 'Rescue' || assignments.ambulanceAction ==='Release'"> {{assignments.patients[0].problems}} </p>
                                <p class="countWrapper" *ngIf="assignments.ambulanceAction === 'Rescue' && assignments.patients.length > 1">
                                    + {{assignments.patients.length - 1}} 
                                </p>
                            </div>
                           
                        </div>

                    </div>

                    <div class="actionWrapper" [ngClass]="{
                        'STRelease' : assignments.ambulanceAction === 'STRelease',
                        'StreetTreat' : assignments.ambulanceAction === 'StreetTreat',
                        'Rescue' : assignments.ambulanceAction === 'Rescue',
                        'Release' : assignments.ambulanceAction === 'Release'}">
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'STRelease'">STRelease</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'StreetTreat'">StreetTreat</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'Rescue'">Rescue</p>
                        <p class="textWrapper" *ngIf="assignments.ambulanceAction === 'Release'">Release</p>
                    </div>

                </div>

            </div>
        </fieldset>
    </div>

    <div *ngIf='completeList && showComplete'>
        <fieldset class="form-sub-group">
            <legend class="legend">Complete</legend>
    
            <div *ngFor="let completeAssignment of completeList">
                
                <div class="caseDivContainer" fxLayout="column" fxLayoutAlign='start'> 

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start end'>

                        <div *ngIf="completeAssignment.ambulanceAction === 'Rescue'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : completeAssignment.emergencyCodeId == 4,
                            'red' : completeAssignment.emergencyCodeId == 1,
                            'green' : completeAssignment.emergencyCodeId == 2,
                            'yellow' : completeAssignment.emergencyCodeId == 3}">
                        </div>

                        <div *ngIf="completeAssignment.ambulanceAction === 'STRelease' || completeAssignment.ambulanceAction ==='StreetTreat'" class="emergencyDetailsCode" [ngClass]="{
                            'grey' : completeAssignment.streetTreatPriorityId == 4,
                            'red' : completeAssignment.streetTreatPriorityId == 1,
                            'green' : completeAssignment.streetTreatPriorityId == 2,
                            'yellow' : completeAssignment.streetTreatPriorityId == 3}">
                        </div>


                        <p>EmNo:{{completeAssignment.emergencyNumber}}</p>

                        <div fxLayout='row wrap' fxLayoutAlign='start'>
                            <p>AnimalType: {{completeAssignment.patients[0].animalType}}</p> 
                            <p class="countWrapper" *ngIf="completeAssignment.patients.length > 1">+{{completeAssignment.patients.length - 1}}</p>
                        </div>

                    </div>

                    <div>
                        <p>Address: {{completeAssignment.location}}</p>
                    </div>

                    <div fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='start'>

                        <!-- <div fxLayout='row'>
                            <p>Description: </p>
                            <p style="min-width: 30px;">{{completeAssignment.animalDescription}}</p>
                        </div> -->
    
                        <div fxLayout='row'>
                            <p>Main Problem:</p>
                            <p *ngIf="completeAssignment.ambulanceAction === 'STRelease' || completeAssignment.ambulanceAction ==='StreetTreat'"> {{completeAssignment.streetTreatMainProblem}} </p>
                            <div fxLayout='row wrap' fxLayoutAlign='start'>
                                <p *ngIf="completeAssignment.ambulanceAction === 'Rescue' || completeAssignment.ambulanceAction ==='Release'"> {{completeAssignment.patients[0].problems}} </p>
                                <p class="countWrapper" *ngIf="completeAssignment.ambulanceAction === 'Rescue' && completeAssignment.patients.length > 1">
                                    + {{completeAssignment.patients.length - 1}} 
                                </p>
                            </div>
                            
                        </div>

                    </div>

                    <div class="actionWrapper" [ngClass]="{
                        'STRelease' : completeAssignment.ambulanceAction === 'STRelease',
                        'StreetTreat' : completeAssignment.ambulanceAction === 'StreetTreat',
                        'Rescue' : completeAssignment.ambulanceAction === 'Rescue',
                        'Release' : completeAssignment.ambulanceAction === 'Release'}">
                        <p class="textWrapper" *ngIf="completeAssignment.ambulanceAction === 'STRelease'">STRelease</p>
                        <p class="textWrapper" *ngIf="completeAssignment.ambulanceAction === 'StreetTreat'">StreetTreat</p>
                        <p class="textWrapper" *ngIf="completeAssignment.ambulanceAction === 'Rescue'">Rescue</p>
                        <p class="textWrapper" *ngIf="completeAssignment.ambulanceAction === 'Release'">Release</p>
                    </div>

                </div>

            </div>
        </fieldset>
    </div>


    <!-- <div class="horizontalTab" fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start'>
       <div style="border-radius: 50%; background-color: white; width: 40px; height: 40px;">
            <mat-icon style="font-size: 40px;">check_circle</mat-icon>
       </div>
    </div> -->

    <mat-toolbar-row class="horizontalTab">

        <div fxLayout='column' class="iconDiv">
            <mat-icon aria-label="Complete" style="font-size: 30px;">swap_horizontal_circle</mat-icon>
            <p class="iconText">Log milage</p>
        </div>


        <div fxLayout='column' class="iconDiv">
            <mat-icon aria-label="Complete" style="font-size: 28px;">headset_mic</mat-icon>
            <p class="iconText">Call desk</p>
        </div>

        <div fxLayout='column' class="iconDiv">
            <mat-icon aria-label="Complete" style="font-size: 30px;">location_on</mat-icon>
            <p class="iconText">Map</p>
        </div>

        <div fxLayout='column' class="iconDiv" (click)='changeRoute(completeList)'>
            <mat-icon aria-label="Complete" style="font-size: 30px;">check_circle</mat-icon>
            <p class="iconText">Complete</p>
        </div>
    </mat-toolbar-row>
</div>