
<div class="contentWrapper" [formGroup]="driverViewDetails">

   <div class="selectionDivWrapper">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="datetime-local" formControlName="assignmentDate" name = "AssignmentDate">
        </mat-form-field>
   </div>
    
    <div *ngFor= "let status of states | async">
        <app-driver-view-assignment [actionStatus] = "status" [showCompleteFlag]="showComplete">
        
        </app-driver-view-assignment>
    </div>

    <mat-toolbar-row *ngIf="!showComplete" class="horizontalTab">

        <div fxLayout='column' class="iconDiv">
            <mat-icon aria-label="Complete" style="font-size: 28px;">headset_mic</mat-icon>
            <p class="iconText">Call desk</p>
        </div>
        <div (click)="openMapComponent()" fxLayout='column' class="iconDiv">
            <mat-icon aria-label="Complete" style="font-size: 30px;">location_on</mat-icon>
            <p class="iconText">Map</p>
        </div>
        <div fxLayout='column' class="iconDiv" (click)='showCompleteList()'>
            <mat-icon aria-label="Complete" style="font-size: 30px;">check_circle</mat-icon>
            <p class="iconText">Complete</p>
        </div>
      
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showComplete" class="horizontalTab">
        <div (click)="showCompleteList()" fxLayout='column' class="backIconDiv">
            <mat-icon aria-label="Complete" style="font-size: 30px;">arrow_back</mat-icon>
            <p class="iconText">Back</p>
        </div>
    </mat-toolbar-row>
</div>